#modalpro.modal.fade{"aria-labelledby" => "nuevoLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xs{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#nuevoLabel.modal-title Creando nuevo proyecto
      = form_for @process do |f|
        = hidden_field_tag :iniciadores
        = hidden_field_tag :states
        .modal-body
          .row
            .col-md-6#first-column
              = render '/shared/process_form', f: f
            .col-md-6
              %ul.nav.nav-tabs{ role: 'tablist' }
                %li.active{ role: 'presentation' }
                  %a{ 'data-toggle' => 'tab', href: '#new-initiator', role: 'tab' }
                    Nuevo iniciador
                %li{ role: 'presentation' }
                  %a{ 'data-toggle' => 'tab', 'aria-controls' => 'associated-files', href: '#associated-files', role: 'tab' }
                    Archivos asociados
              .tab-content{ style: 'padding-top:1%' }
                .tab-pane.active#new-initiator{ role: 'tabpanel' }
                  #second-column
                    = render '/shared/initiator_form'
                .tab-pane#associated-files{ role: 'tabpanel' }
                  = f.fields_for @upload, multiple: true do |file_form|
                    = file_form.file_field :file, multiple: true
                  %h3 Archivos cargados
                  %table.table.table-bordered.upload-table.table-hover
                    %thead
                      %tr
                        %th Nombre del archivo
                        %th Última modificación
                        %th{ style: "width: 1%" }
                    %tbody
                      - @process.uploads.each do |up|
                        %tr
                          %td
                            = up.file_file_name
                          %td
                            = to_date up.file_updated_at
                          %td
                            = link_to '', up.file.url, class: 'btn btn-success fa fa-download', title: 'Descargar archivo', download: up.file_file_name
                            = link_to '', destroy_uploads_proyecto_path(@process,{upload: up}), class: 'btn btn-danger fa fa-times destroy-file', title: 'Eliminar archivo', method: :post, remote: true
                    %tfoot
                      %tr
                        %td
                        %td
                        %td

        .modal-footer
          = f.submit 'Crear Proyecto', {class: "btn btn-primary modal-submit", id: "btn-submit-proyecto"}

:javascript

  wi = $(window).width()-20;
  margin = 10;
  $("#proyecto .modal-xs").css('width', wi);
  $("#proyecto .modal-xs").css('margin-left', margin);

  function format_iniciadores(style) {
    var originalOption = $(style.element);
    var iniciador = "";
    iniciador = style.apellido + ', ' + style.nombre;
    if (style.type == "Juridica" || style.type == "Fisica" || style.type == "Concejal" ) {
      return "<div class='iniciador-token' data-id='" + style.id + "' data-nombre='"+ style.nombre + "' data-apellido='"+ style.apellido +  "' data-doc='"+ style.nro_doc +  "' data-telefono='"+ style.telefono +  "' data-email='"+ style.email + "' data-domicilio='"+ style.domicilio + "' data-cuit='"+ style.cuit + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
    }else{
      //Casos para comisiones y bloques, etc
      if (style.type == "Comision" || style.type == "Bloque" || style.type == "ReparticionOficial" || style.type == "Dependencia Municipal"){
        iniciador = style.denominacion;
        return "<div class='iniciador-token' data-id='" + style.id + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
      }else{
        if (style.type == "Area" || style.type == "OrganoDeGobierno"){
          iniciador = style.denominacion;
          return "<div class='iniciador-token' data-id='" + style.id + "' data-type='"+ style.type + "' data-codigo='"+ style.codigo + "'>" + iniciador + "</div>";
        }else{
          //otros casos
        }
      }
    }
  }

  function format_result_iniciadores(style) {
    var originalOption = $(style.element);
    if (style.type == "Juridica" || style.type == "Fisica" || style.type == "Concejal" ) {
      return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.apellido + ', ' + style.nombre + "</div>";
    }else{
      //caso de comisiones y bloques
      if (style.type == "Comision" || style.type == "Bloque" || style.type == "ReparticionOficial" || style.type == "Dependencia Municipal" || style.type == "Area" || style.type == "OrganoDeGobierno" ){
        return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.denominacion + "</div>";
      }else{
        //caso de cualquier otro type
        return "<div>" + style.apellido + "</div>";
      }
    }
  }

  $("#process_iniciadores").select2({
    placeholder: "Buscar Iniciadores",
    allowClear: true,
    theme: 'bootstrap',
    formatSelection: format_iniciadores,
    formatResult: format_result_iniciadores,
    multiple: true,
    ajax: {
      url: "/proyectos/get_iniciador",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params
        };
      },
      results: function (data, page) {
        // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data
        return {
          results: data
        };
      },
      cache: true
    }
  }).on("select2-focus", function(e) {
      $('#btn_add_iniciador');
  }).on("select2-selecting", function(e) {
    // token selected
    var data = e.object
    if (data.apellido == 'Agregar Nuevo'){
      e.preventDefault();
      $('#proyecto #iniciador_nombre').val('');
      $('#proyecto #iniciador_apellido').val('');
      $('#proyecto #iniciador_doc').val('');
      $('#proyecto #iniciador_tel').val('');
      $('#proyecto #iniciador_email').val('');
      $('#proyecto #iniciador_domicilio').val('');
      $('#proyecto #iniciador_cuit').val('');
      $('#proyecto #iniciador_denominacion').val('');
      $("#process_iniciadores").select2("close");
      $('#proyecto #iniciador_nombre').focus();
    }else{
      if(data.type == 'Fisica'){
        $('#proyecto #edit_iniciador').data('id',data.id);
        $('#proyecto #edit_iniciador').css('display','block');
        $('#proyecto #add_iniciador').css('display','none');
        $('#proyecto #iniciador_tipo').val(data.type);
        $('#proyecto #nombre-label').text('Nombre');
        $('#proyecto #iniciador_nombre').val(data.nombre);
        $('#proyecto #iniciador_apellido').val(data.apellido);
        $('#proyecto #iniciador_doc').val(data.nro_doc);
        $('#proyecto #iniciador_tel').val(data.telefono);
        $('#proyecto #iniciador_email').val(data.email);
        $('#proyecto #iniciador_domicilio').val(data.domicilio);
        $('#proyecto #iniciador_cuit').val(data.cuit);
        $('#proyecto #iniciador_denominacion').val('');
      }else if (data.type == 'Juridica'){
        $('#proyecto #edit_iniciador').data('id',data.id);
        $('#proyecto #edit_iniciador').css('display','block');
        $('#proyecto #add_iniciador').css('display','none');
        $('#proyecto #iniciador_tipo').val(data.type);
        $('#proyecto #nombre-label').text('Denominación');
        $('#proyecto #iniciador_nombre').val(data.nombre);
        $('#proyecto #iniciador_apellido').val('');
        $('#proyecto #iniciador_doc').val('');
        $('#proyecto #iniciador_tel').val(data.telefono);
        $('#proyecto #iniciador_email').val(data.email);
        $('#proyecto #iniciador_domicilio').val(data.domicilio);
        $('#proyecto #iniciador_cuit').val(data.cuit);
        $('#proyecto #iniciador_denominacion').val('');
        $('#proyecto #denominacion-group').css('display','none');
      }else{
        if (data.type == 'ReparticionOficial' || data.type == 'Dependencia Municipal'){
          $('#proyecto #edit_iniciador').data('id',data.id);
          $('#proyecto #edit_iniciador').css('display','none');
          $('#proyecto #add_iniciador').css('display','none');
          $('#proyecto #iniciador_tipo').val(data.type);
          $('#proyecto #nombre-label').text('Nombre');
          $('#proyecto #iniciador_nombre').val('');
          $('#proyecto #iniciador_apellido').val('');
          $('#proyecto #iniciador_doc').val('');
          $('#proyecto #iniciador_tel').val('');
          $('#proyecto #iniciador_email').val('');
          $('#proyecto #iniciador_domicilio').val('');
          $('#proyecto #iniciador_cuit').val('');
          $('#proyecto #denominacion-group').css('display','inherit');
          $('#proyecto #iniciador_denominacion').val(data.denominacion);
        }else{
          $('#proyecto #edit_iniciador').css('display','none');
          $('#proyecto #add_iniciador').css('display','none');
          $('#proyecto #iniciador_tipo').val('');
          $('#proyecto #nombre-label').text('Nombre');
          $('#proyecto #iniciador_nombre').val('');
          $('#proyecto #iniciador_apellido').val('');
          $('#proyecto #iniciador_doc').val('');
          $('#proyecto #iniciador_tel').val('');
          $('#proyecto #iniciador_email').val('');
          $('#proyecto #iniciador_domicilio').val('');
          $('#proyecto #iniciador_cuit').val('');
          $('#proyecto #denominacion-group').css('display','inherit');
          $('#proyecto #iniciador_denominacion').val('');
        }
      }
    }
  });

  // change select type initiator
  $('#proyecto #iniciador_tipo').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if(valueSelected == "Fisica"){
      $('#proyecto #edit_iniciador').css('display','none');
      $('#proyecto #add_iniciador').css('display','block');
      $('#proyecto #nombre-label').text('Nombre');
      $('#proyecto #iniciador_nombre').val('');
      $('#proyecto #iniciador_apellido').val('');
      $('#proyecto #iniciador_doc').val('');
      $('#proyecto #iniciador_tel').val('');
      $('#proyecto #iniciador_email').val('');
      $('#proyecto #iniciador_domicilio').val('');
      $('#proyecto #iniciador_cuit').val('');
      $('#proyecto #iniciador_denominacion').val('');
    }else if (valueSelected == "Juridica"){
      $('#proyecto #edit_iniciador').css('display','none');
      $('#proyecto #add_iniciador').css('display','block');
      $('#proyecto #nombre-label').text('Denominación');
      $('#proyecto #iniciador_nombre').val('');
      $('#proyecto #iniciador_apellido').val('');
      $('#proyecto #iniciador_doc').val('');
      $('#proyecto #iniciador_tel').val('');
      $('#proyecto #iniciador_email').val('');
      $('#proyecto #iniciador_domicilio').val('');
      $('#proyecto #iniciador_cuit').val('');
      $('#proyecto #iniciador_denominacion').val('');
      $('#proyecto #denominacion-group').css('display','none');
    }else{
      if(valueSelected == "ReparticionOficial" || valueSelected == "Dependencia Municipal"){
        $('#proyecto #edit_iniciador').css('display','none');
        $('#proyecto #add_iniciador').css('display','block');
        $('#proyecto #nombre-label').text('Nombre');
        $('#proyecto #iniciador_nombre').val('');
        $('#proyecto #iniciador_apellido').val('');
        $('#proyecto #iniciador_doc').val('');
        $('#proyecto #iniciador_tel').val('');
        $('#proyecto #iniciador_email').val('');
        $('#proyecto #iniciador_domicilio').val('');
        $('#proyecto #iniciador_cuit').val('');
        $('#proyecto #denominacion-group').css('display','inherit');
        $('#proyecto #iniciador_denominacion').val('');
      }
    }
  });

  $('#process_iniciadores').on('choice-selected', function(e, choice) {
    // token selected
    var data = $(choice).data('select2-data');
    if(data.type == 'Fisica'){
      $('#proyecto #edit_iniciador').data('id',data.id);
      $('#proyecto #edit_iniciador').css('display','block');
      $('#proyecto #add_iniciador').css('display','none');
      $('#proyecto #iniciador_tipo').val(data.type);
      $('#proyecto #nombre-label').text('Nombre');
      $('#proyecto #iniciador_nombre').val(data.nombre);
      $('#proyecto #iniciador_apellido').val(data.apellido);
      $('#proyecto #iniciador_doc').val(data.nro_doc);
      $('#proyecto #iniciador_tel').val(data.telefono);
      $('#proyecto #iniciador_email').val(data.email);
      $('#proyecto #iniciador_domicilio').val(data.domicilio);
      $('#proyecto #iniciador_cuit').val(data.cuit);
      $('#proyecto #iniciador_denominacion').val('');
    }else if (data.type == 'Juridica'){
      $('#proyecto #edit_iniciador').data('id',data.id);
      $('#proyecto #edit_iniciador').css('display','block');
      $('#proyecto #add_iniciador').css('display','none');
      $('#proyecto #iniciador_tipo').val(data.type);
      $('#proyecto #nombre-label').text('Denominación');
      $('#proyecto #iniciador_nombre').val(data.nombre);
      $('#proyecto #iniciador_apellido').val('');
      $('#proyecto #iniciador_doc').val('');
      $('#proyecto #iniciador_tel').val(data.telefono);
      $('#proyecto #iniciador_email').val(data.email);
      $('#proyecto #iniciador_domicilio').val(data.domicilio);
      $('#proyecto #iniciador_cuit').val(data.cuit);
      $('#proyecto #iniciador_denominacion').val('');
      $('#proyecto #denominacion-group').css('display','none');
    }else{
      if (data.type == 'ReparticionOficial' || data.type == 'Dependencia Municipal'){
        $('#proyecto #edit_iniciador').data('id',data.id);
        $('#proyecto #edit_iniciador').css('display','none');
        $('#proyecto #add_iniciador').css('display','none');
        $('#proyecto #iniciador_tipo').val(data.type);
        $('#proyecto #nombre-label').text('Nombre');
        $('#proyecto #iniciador_nombre').val('');
        $('#proyecto #iniciador_apellido').val('');
        $('#proyecto #iniciador_doc').val('');
        $('#proyecto #iniciador_tel').val('');
        $('#proyecto #iniciador_email').val('');
        $('#proyecto #iniciador_domicilio').val('');
        $('#proyecto #iniciador_cuit').val('');
        $('#proyecto #denominacion-group').css('display','inherit');
        $('#proyecto #iniciador_denominacion').val(data.denominacion);
      }else{
        $('#proyecto #add_iniciador').css('display','none');
        $('#proyecto #edit_iniciador').css('display','none');
        $('#proyecto #iniciador_tipo').val('');
        $('#proyecto #nombre-label').text('Nombre');
        $('#proyecto #iniciador_nombre').val('');
        $('#proyecto #iniciador_apellido').val('');
        $('#proyecto #iniciador_doc').val('');
        $('#proyecto #iniciador_tel').val('');
        $('#proyecto #iniciador_email').val('');
        $('#proyecto #iniciador_domicilio').val('');
        $('#proyecto #iniciador_cuit').val('');
        $('#proyecto #denominacion-group').css('display','inherit');
        $('#proyecto #iniciador_denominacion').val('');
      }
    }
  });

  $('.select2-input').on("focus", function(e) {
    // token unselected
    $('#proyecto #edit_iniciador').css('display','none');
    $('#proyecto #add_iniciador').css('display','block');
    $('#proyecto #iniciador_tipo').val('Fisica');
    $('#proyecto #nombre-label').text('Nombre');
    $('#proyecto #iniciador_nombre').val('');
    $('#proyecto #iniciador_apellido').val('');
    $('#proyecto #iniciador_doc').val('');
    $('#proyecto #iniciador_tel').val('');
    $('#proyecto #iniciador_email').val('');
    $('#proyecto #iniciador_domicilio').val('');
    $('#proyecto #iniciador_cuit').val('');
    $('#proyecto #denominacion-group').css('display','none');
    //$('#proyecto #iniciador_denominacion').val('');
  });

  $('#proyecto_nro_fojas, #proyecto_asunto, #proyecto_observaciones').on("focus", function(e) {
    $('#proyecto #edit_iniciador').css('display','none');
    $('#proyecto #add_iniciador').css('display','none');
    $('#proyecto #iniciador_tipo').val('');
    $('#proyecto #iniciador_nombre').val('');
    $('#proyecto #iniciador_apellido').val('');
    $('#proyecto #iniciador_doc').val('');
    $('#proyecto #iniciador_tel').val('');
    $('#proyecto #iniciador_email').val('');
    $('#proyecto #iniciador_domicilio').val('');
    $('#proyecto #iniciador_cuit').val('');
    $('#proyecto #iniciador_denominacion').val('');
    $('#btn_add_iniciador');
  });

  $('#proyecto #edit_iniciador').on('click', function(event) {
    //update inicador Fisico o Juridico
    if (confirm("Desea editar el iniciador seleccionado")) {
      var id = $(this).data('id');
      var iniciador = { person: { nombre: $('#proyecto #iniciador_nombre').val(),
                                    apellido: $('#proyecto #iniciador_apellido').val(),
                                    nro_doc: $('#proyecto #iniciador_doc').val(),
                                    telefono: $('#proyecto #iniciador_tel').val(),
                                    email: $('#proyecto #iniciador_email').val(),
                                    domicilio: $('#proyecto #iniciador_domicilio').val(),
                                    cuit: $('#proyecto #iniciador_cuit').val() }};
      $.ajax({
        url: "/persons/" + id,
        type: 'PATCH',
        data: iniciador ,
        dataType: 'json',
        success: function(result) {
          var iniciador = result.iniciador
          var ini = {id: iniciador.id, nombre: iniciador.nombre, apellido: iniciador.apellido, nro_doc: iniciador.nro_doc, telefono: iniciador.telefono, email: iniciador.email, domicilio: iniciador.domicilio, cuit: iniciador.cuit, type: iniciador.type}
          var iniciadores = $('#proyecto #process_iniciadores').select2('data');
          iniciadores.unshift(ini);
          $('#proyecto #process_iniciadores').select2('data', iniciadores);
          // Clear fields
          $('#proyecto #iniciador_nombre').val('');
          $('#proyecto #iniciador_apellido').val('');
          $('#proyecto #iniciador_doc').val('');
          $('#proyecto #iniciador_tel').val('');
          $('#proyecto #iniciador_email').val('');
          $('#proyecto #iniciador_domicilio').val('');
          $('#proyecto #iniciador_cuit').val('');
          $('#proyecto #proyecto_nro_fojas').focus();
        },
        error: function () {
            alert("No se pudo actualizar el iniciador");
        }
      });
    }
  });

  $('#proyecto #add_iniciador').on('click', function(event) {
    //create iniciador
    if (confirm("Desea crear el iniciador")) {
      var iniciador;
      var tipo = $('#proyecto #iniciador_tipo').val();
      var url_iniciador;
      if (tipo == "Fisica" || tipo == "Juridica"){
        url_iniciador = "/persons"
        iniciador = { person: {  type: $('#proyecto #iniciador_tipo').val(),
                  nombre: $('#proyecto #iniciador_nombre').val(),
                  apellido: $('#proyecto #iniciador_apellido').val(),
                  nro_doc: $('#proyecto #iniciador_doc').val(),
                  telefono: $('#proyecto #iniciador_tel').val(),
                  email: $('#proyecto #iniciador_email').val(),
                  domicilio: $('#proyecto #iniciador_domicilio').val(),
                  cuit: $('#proyecto #iniciador_cuit').val()}};
      }else{
        if (tipo == "ReparticionOficial"){
          url_iniciador = "/reparticion_oficials"
          iniciador = {reparticion: { denominacion: $('#proyecto #iniciador_denominacion').val()}}
        }else{
          if (tipo == "Dependencia Municipal"){
            url_iniciador = "/dependencia_municipals"
            iniciador = {dependencia: { denominacion: $('#comunicacion-oficial #iniciador_denominacion').val()}}
          }
        }
      }
      $.ajax({
        url: url_iniciador,
        type: 'POST',
        data: iniciador ,
        dataType: 'json',
        success: function(result) {
          var iniciador = result.iniciador
          var ini;
          if (iniciador.type == "Fisica" || iniciador.type == "Juridica"){
            ini = {id: iniciador.id, nombre: iniciador.nombre, apellido: iniciador.apellido, nro_doc: iniciador.nro_doc, telefono: iniciador.telefono, email: iniciador.email, domicilio: iniciador.domicilio, cuit: iniciador.cuit, type: iniciador.type}
          }else{
            if (iniciador.type == "ReparticionOficial" || iniciador.type == "Dependencia Municipal"){
              ini = {id: iniciador.id, denominacion: iniciador.denominacion, type: iniciador.type}
            }
          }
          var iniciadores = $('#proyecto #process_iniciadores').select2('data');
          iniciadores.push(ini);
          $('#proyecto #process_iniciadores').select2('data', iniciadores);
          // Clear fields
          $('#proyecto #iniciador_nombre').val('');
          $('#proyecto #iniciador_apellido').val('');
          $('#proyecto #iniciador_doc').val('');
          $('#proyecto #iniciador_tel').val('');
          $('#proyecto #iniciador_email').val('');
          $('#proyecto #iniciador_domicilio').val('');
          $('#proyecto #iniciador_cuit').val('');
          $('#proyecto #iniciador_denominacion').val('');
          $('#proyecto #proyecto_nro_fojas').focus();
        },
        error: function () {
            alert("No se pudo crear el iniciador");
        }
      });
    }
  });

  $('#proyecto .modal-submit').on('click', function(event) {
    event.preventDefault();

    var iniciadores = {};
    var index = 0;
    $("#proyecto .iniciador-token").each(function(key, value) {
      iniciadores[index] = {
        id: $(value).data("id"),
        type: $(value).data("type")
      };
      index++;
    });

    //add derived states to form
    var states = {};
    var index = 0;
    $("#proyecto .derivacion-tr").each(function(key, value) {
      states[index] = {
        id: $(value).data("id"),
        tipo: $(value).data("tipo"),
        idref: $(value).data("idref"),
        typeref: $(value).data("typeref"),
      };
      index++;
    });

    $("#proyecto #states").val(JSON.stringify(states));
    $("#proyecto #iniciadores").val(JSON.stringify(iniciadores));
    $("#proyecto #new_proyecto, [id^='edit_proyecto']").submit();
  });

  $('.modal').on('shown.bs.modal', function () {
    $('form:first *:input[type!=hidden]:first').focus();
    $('.input-initiator').keypress(function(event){
      if (event.keyCode == 10 || event.keyCode == 13)
        event.preventDefault();
    });
  });

  $('.modal').on('hidden.bs.modal', function () {
    $(document).keydown(function(event) {
      var currentRow, rowpos, table;
      table = $('table.datatable-keyevents').dataTable();
      currentRow = $('table.datatable-keyevents tbody tr.info').get(0);
      switch (event.keyCode) {
        case 40:
          if ($(currentRow).next().length !== 0) {
            $(currentRow).next().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 38:
          if ($(currentRow).prev().length !== 0) {
            $(currentRow).prev().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 37:
          table.fnPageChange('previous');
          break;
        case 39:
          table.fnPageChange('next');
          break;
        case 13:
          $('table.datatable-keyevents tr.info').find('td:eq(0) a').get(0).click();
      }
      rowpos = $('table.datatable-keyevents tr.info').position();
      $(document).scrollTop(rowpos.top - 45);
    });

    $.ctrl('C', function() {
      $('#btn-new').click();
    });

    $.ctrl('E', function() {
      $('table.datatable-keyevents tbody').find('.info').find('.linktoedit').click();
    });

    $('div.dataTables_filter input').focus();
  });

  function format_derivaciones(style) {
    var originalOption = $(style.element);
    var iniciador = "";
    iniciador = style.apellido + ', ' + style.nombre;
    if (style.type == "Personal") {
      return "<div class='derivacion-token' data-id='" + style.id + "' data-nombre='"+ style.nombre + "' data-apellido='"+ style.apellido +  "' data-doc='"+ style.nro_doc +  "' data-telefono='"+ style.telefono +  "' data-email='"+ style.email + "' data-domicilio='"+ style.domicilio + "' data-cuit='"+ style.cuit + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
    }else{
      //Casos para comisiones y bloques, etc
      if (style.type == "Comision" || style.type == "Bloque" || style.type == "Area"){
        iniciador = style.denominacion;
        return "<div class='derivacion-token' data-id='" + style.id + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
      }else{
        //otros casos
      }
    }
  }

  function format_derivaciones_result(style) {
    var originalOption = $(style.element);
    if (style.type == "Personal") {
      return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.apellido + ', ' + style.nombre + "</div>";
    }else{
      //caso de comisiones y bloques
      if (style.type == "Comision" || style.type == "Bloque" || style.type == "Area"){
        return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.denominacion + "</div>";
      }else{
        //caso de cualquier otro type
        return "<div>" + style.apellido + "</div>";
      }
    }
  }

  $("#proyecto #derived-states").select2({
    placeholder: "Buscar derivaciones",
    allowClear: true,
    theme: 'bootstrap',
    formatSelection: format_derivaciones,
    formatResult: format_derivaciones_result,
    multiple: true,
    ajax: {
      url: "/proyectos/get_derivacion",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params
        };
      },
      results: function (data, page) {
        // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data
        return {
          results: data
        };
      },
      cache: true
    }
  }).on("select2-selecting", function(e) {
    // token selected
    var data = e.object;

    var idref = data.id;
    var typeref = data.type;
    var text;

    if (data.type == 'Personal')
      text = data.apellido + ", " + data.nombre;
    else
      text = data.denominacion;

    var tr = "<tr class='derivacion-tr' data-id='' data-tipo='2' data-idref='" + idref + "' data-typeref='" + typeref + "'>" +
      "<td> Derivado a " + typeref + ": " + text + "</td>" +
      "<td> - </td>" + "<td> <i class='fa fa-times fa-1x remove-table-row btn btn-xs'> </i></td>" + "</tr>";

    $('#proyecto #states-table tbody').append(tr);
  }).on("change", function(e) {
    $('#proyecto #derived-states').select2("val", "");
  });
