- pro = @proyecto
#proyecto-show

  #proyecto-header.row
    .col-md-8
      %h3.main-title= t('proyectos.show.info') + " #{pro.id}"
    .col-md-4.float-right.no-print
      .float-right
        %a#print-proyecto.btn.btn-lg.btn-danger.fa.fa-download{ title: "Imprimir Proyecto" }
          = "Imprimir"
        %a.btn.btn-lg.btn-primary.fa.fa-download{ title: "Descargar Proyecto" }
          = "Descargar"

  #proyecto-body
    .panel.panel-success
      .panel-heading= "Información"
      .panel-body
        - fojas = pro.get_fojas
          - if fojas.present?
          %p.single-tab
            %span.titles= "Nro. de Fojas: "
            %span= fojas
        - asunto = pro.get_asunto
          - if asunto.present?
          %p.single-tab
            %span.titles.titles= "Asunto: "
            %span= asunto
        - iniciadores_organos = get_iniciadores_organos(pro)
        - iniciadores_areas = get_iniciadores_areas(pro)
        - iniciadores_reparticiones = get_iniciadores_reparticiones(pro)
        - iniciadores_dependencias = get_iniciadores_dependencias(pro)
        - iniciadores_bloques = get_iniciadores_bloques(pro)
        - iniciadores_comisions = get_iniciadores_comisions(pro)
        - iniciadores_personas = get_iniciadores_personas(pro)
        %p.single-tab
          .single-tab.titles.titles= "Iniciadores: "
          - if iniciadores_organos.present?
            .double-tab.titles.titles= "Organos de Gobierno: "
            - iniciadores_organos.each do |o|
              .double-tab= o[:denominacion].to_s
          - if iniciadores_areas.present?
            .double-tab.titles.titles= "Areas: "
            - iniciadores_areas.each do |a|
              .double-tab= a[:denominacion].to_s
          - if iniciadores_bloques.present?
            .double-tab.titles.titles= "Bloques: "
            - iniciadores_bloques.each do |b|
              .double-tab= b[:denominacion].to_s
          - if iniciadores_comisions.present?
            .double-tab.titles.titles= "Comisiones: "
            - iniciadores_comisions.each do |b|
              .double-tab= b[:denominacion].to_s
          - if iniciadores_reparticiones.present?
            .double-tab.titles.titles= "Reparticiones Oficiales: "
            - iniciadores_reparticiones.each do |r|
              .double-tab= r[:denominacion].to_s
          - if iniciadores_dependencias.present?
            .double-tab.titles.titles= "Dependencias Municipales: "
            - iniciadores_dependencias.each do |d|
              .double-tab= d[:denominacion].to_s
          - if iniciadores_personas.present?
            .double-tab.titles.titles= "Personas: "
            - iniciadores_personas.each do |b|
              .double-tab= b[:type] + ": " + b[:apellido].to_s + ", " + b[:nombre].to_s
        - actualizado = pro.get_date_time
          - if actualizado.present?
          %p.single-tab
            %span.titles= "Creado/Actualizado: "
            %span= to_date_time(actualizado)
        - obs = pro.get_observaciones
          - if obs.present?
          %p.single-tab
            %span.titles= "Observaciones: "
            %span= obs

    .panel.panel-info
      .panel-heading= "Trámites del Proyecto"
      .panel-body.without-padding
        %table.table.table-striped#states-table-proyecto-show
          %thead
            %tr
              %th.center{ width: "15%" }= "Fecha"
              %th{ width: "85%" }= "Estado"
          %tbody
            - pro.estado_tramites.each do |x|
              - case x.tipo
              - when "1"
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time(x.created_at)
                  %td= "Iniciado"
              - when "2"
                - if (x.ref_type == 'Personal')
                  - text = x.ref.apellido + ", " + x.ref.nombre;
                - else
                  - text = x.ref.denominacion;
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
                  %td= to_date_time(x.created_at)
                  %td= "Derivado a " + x.ref_type + ": " + text
              - when "3"
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time(x.created_at)
                  %td
                    %span= "Finalizado en "
                    %span= link_to(x.ref_type.to_s + " ".to_s + x.ref.nro_exp.to_s , x.ref)
                    %span= " " + x.especificacion.to_s
              - when "4" #caso para tramites finalizados pero q no terminan en expediente
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time(x.updated_at)
                  %td
                    %span= "Finalizado: "
                    %span= x.especificacion.to_s
              - else
                ERROR
