- content_for :title, "Resolución"
- resol = @resolucion
- entrada_vigencia = resol.entrada_vigencia
- finaliza_vigencia = resol.finaliza_vigencia
- plazo_vigencia = get_plazo_vigencia(resol)
- circuitos = resol.circuitos
- desc = resol.descripcion
- obs = resol.observaciones
- org = resol.organismo_origen
- tags = resol.tags
- resol_me_modifican = resol.relationship_me_modifican.to_a
- resol_modifica = resol.relationship_modificadas.to_a

#resolucion-show
  #resolucion-header.row
    .col-md-5
      %h3.main-title= "#{t 'ordenanzas.show.info', number: resol.nro, year: resol.anio}"
    .col-md-7.float-right.no-print
      .float-right
        %a#print-resolucion.btn.btn-lg.btn-danger.fa.fa-print{ title: 'Imprimir Resolución' }
          Imprimir
        %a.btn.btn-lg.btn-primary.fa.fa-download{ title: 'Descargar Texto Original' }
          Texto Original

  #resolucion-body
    .panel.panel-success
      .panel-heading Información de la Resolución
      .panel-body
        %p
          %span.titles= "Sumario: "
          %span= resol.sumario

        %p.single-tab
          - unless circuitos.empty?
            %span= "Expedientes Legislativos: "
            - circuitos.each do |c|
              - if (c.nro == 0)
                %span= link_to(c.expediente.nro_exp + c.expediente.get_anio_expediente, "/expedientes/#{c.expediente.id}") + " - "
              - else
                %span= "Circuito nro: #{c.nro}--> Expediente: "
                %span= link_to(c.expediente.nro_exp + c.expediente.get_anio_expediente , "/expedientes/#{c.expediente.id}")
                %span= " - "

        %p.single-tab
          %span= "Sancionada el: "
          %span= resol.sancion

        %p.single-tab
          - if entrada_vigencia.present?
            .single-tab.titles= "Vigencia: "
          - if entrada_vigencia.present?
            .double-tab= "Entra en vigencia el: " + to_date(entrada_vigencia).to_s
          - if finaliza_vigencia.present?
            .double-tab= "Finaliza vigencia el: " + to_date(finaliza_vigencia).to_s
          - else
            .double-tab= "Finaliza vigencia en: " + plazo_vigencia + " a partir de la entrada en vigencia"

        %p.single-tab
          - resol_me_modifican.select { |x| x.tipo_relacion == "promul" }.each do |r|
            %span= "Promulgado el " + to_date(r.desde).to_s
            %span= link_to(" Decreto " + r.me_modifica.nro.to_s, r.me_modifica)
        %p.single-tab
          - resol.get_destinos(0).each do |d|
            %span= "Comunicada al " + d.destino.to_s + " el " + to_date(d.fecha).to_s
        %p.single-tab
          - resol.get_destinos(1).each do |d|
            %span= "Notificada a " + d.destino.to_s + " el " + to_date(d.fecha).to_s

        = render partial: "clasification_resolucion", locals: { resol: resol }

    .panel.panel-info
      .panel-heading Vínculos con normas
      .panel-body
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "reglamen" }
          - unless rel.empty?
            .single-tab= "Reglamentada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "suspvig" }
          - unless rel.empty?
            .single-tab= "Vigencia Suspendida por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "adrefe" }
          - unless rel.empty?
            .single-tab= "Ratificada Ad Referendum por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "delegado" }
          - unless rel.empty?
            .single-tab= "Delagada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "restiv" }
          - unless rel.empty?
            .single-tab= "Vigencia restituida por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "aclarac" }
          - unless rel.empty?
            .single-tab= "Es aclarada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "prorrog" }
          - unless rel.empty?
            .single-tab= "Suspension prorrogada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "vetop" }
          - unless rel.empty?
            .single-tab= "Vetada parcialmente por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "vetot" }
          - unless rel.empty?
            .single-tab= "Vetada totalmente por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "derog" }
          - unless rel.empty?
            .single-tab= "Derogada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "modif" }
          - unless rel.empty?
            .single-tab= "Modificada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_me_modifican.select{ |x| x.tipo_relacion == "provig" }
          - unless rel.empty?
            .single-tab= "Vigencia Prorrogada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %hr
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "reglamen" }
          - unless rel.empty?
            .single-tab= "Reglamenta a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "suspvig" }
          - unless rel.empty?
            .single-tab= "Suspende vigencia a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "adrefe" }
          - unless rel.empty?
            .single-tab= "Ratifica Ad Referendum a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "delegado" }
          - unless rel.empty?
            .single-tab= "Delaga a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "restiv" }
          - unless rel.empty?
            .single-tab= "Restituye Vigencia a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "aclarac" }
          - unless rel.empty?
            .single-tab= "Aclara a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "prorrog" }
          - unless rel.empty?
            .single-tab= "Prorroga suspension a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "vetop" }
          - unless rel.empty?
            .single-tab= "Veta parcialmente a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "vetot" }
          - unless rel.empty?
            .single-tab= "Veta totalmente a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "derog" }
          - unless rel.empty?
            .single-tab= "Deroga a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "modif" }
          - unless rel.empty?
            .single-tab= "Modifica a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "provig" }
          - unless rel.empty?
            .single-tab= "Prorroga vigencia a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = resol_modifica.select{ |x| x.tipo_relacion == "promul" }
          - unless rel.empty?
            .single-tab= "Promulga a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)

    .panel.panel-danger
      .panel-heading Observaciones
      .panel-body
        %p.single-tab
          %span= obs || ''

        %p.single-tab
          %span.titles Descripción:
          %span= desc.present? ? desc : '-.'

        %p.single-tab
          %span.titles Voces claves:
          %span= '-.' if tags.empty?
          - tags.each do |t|
            %span= "#{t.nombre} - "

        %p.single-tab
          %span.titles Organismo origen:
          %span= resol.organismo_origen? ? resol.organismo_origen : '-.'
