= f.fields_for :circuitos, @circuitos do |f|
  .modal-body.tab-pane{ id: "#{f.object.id}-circ-panel", role: 'tabpanel' }
    /= f.hidden_field :tramites_pendientes
    /= f.hidden_field :estados_circuito
    .row
      .col-md-6
        .input-group
          = label_tag :nro_fojas, 'Nro de fojas', { class: 'input-group-addon' }
          = f.text_field :fojas, { class: 'form-control', placeholder: 'Ingrese nro. fojas', type: :number }
        .input-group
          = label_tag :fecha, 'Fecha', { class: 'input-group-addon' }
          = f.text_field :anio, { class: 'form-control', placeholder: 'Ingrese año', type: :date }
        .input-group
          = label_tag :sumario, 'Sumario', { class: 'input-group-addon' }
          = f.text_field :tema, { class: 'form-control', placeholder: 'Ingrese tema', type: :text }
        .input-group#group-tramites
          /= label_tag :tramites, 'Trámites', { class: 'input-group-addon' }
          /= f.text_field :tramites, { multiple: :multiple, style: 'width: 100%' }
      .col-md-6
        .input-group
          = label_tag :estados, 'Estados', { class: 'input-group-addon' }
          = text_field_tag nil, nil, { class: "form-control field-state", "aria-describedby": "basic-addon9", id: 'fecha', :placeholder => "Ingrese Fecha", type: :date }
          = select_tag nil, options_for_select(get_estados), { class: "form-control field-state", style: 'width: 100%', id: 'estados' }
          = select_tag nil, nil, { class: "form-control field-state", style: 'width: 100%', id: 'esp1' }
          = select_tag nil, nil, { class: "form-control field-state", style: 'width: 100%', id: 'esp2' }
          .input-group-addon.parent-group-btn.btn#add_state
            %i.fa.fa-plus-circle.fa-2x
        #states-table-column
          .row
            .col-xs-12
              %table.table.table-striped.table-bordered#states-table
                %thead
                  %tr
                    %th= t('.table.state')
                    %th= t('.table.specification')
                    %th= t('.table.date')
                    %th{ width: '1%' }= icon 'trash', '', class: 'fa-1x'
                %tbody
