#modal-expediente.modal.fade{ "aria-labelledby" => "nuevoLabel", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-xs{ :role => "document" }
    .modal-content
      .modal-header
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
          %span{ "aria-hidden" => "true" } &times;
        %h4#nuevoLabel.modal-title= t(".#{actionvar}_expediente") + " #{@expediente.id}"
      = form_for @expediente, url: { action: actionvar } do |f|
        = hidden_field_tag :tramites_pendientes
        .modal-body
          .row
            .col-md-6
              .input-group
                = f.label :nro_fojas, { class: "input-group-addon", id: "basic-addon1" }
                = f.text_field :nro_fojas, { class: "form-control", "aria-describedby": "basic-addon1", placeholder: t('.fojas'), type: :number }
              .input-group
                = f.label :anio, { class: "input-group-addon", id: "basic-addon2" }
                = f.text_field :anio, { class: "form-control", "aria-describedby": "basic-addon2", type: :date }
              .input-group
                = f.label :tema, { class: "input-group-addon", id: "basic-addon3" }
                = f.text_area :tema, { class: "form-control", "aria-describedby": "basic-addon3", placeholder: 'Sumario', type: :text }
              .input-group
                = f.label :observacion, { class: "input-group-addon", id: "basic-addon4" }
                = f.text_area :observacion, { class: "form-control", "aria-describedby": "basic-addon4", placeholder: 'Observaciones', type: :text }
              .input-group#group-tramites
                = label_tag nil, 'Trámites', { class: 'input-group-addon', id: 'basic-addon8' }
                = text_field_tag nil, nil, { multiple: :multiple, style: 'width: 100%', id: 'tramites' }
            .col-md-6

        .modal-footer
          = f.submit "Guardar", { class: "btn btn-primary modal-submit" }

:javascript
  wi = $(window).width() - 20;
  margin = 10;
  $("#modal-expediente .modal-xs").css('width', wi);
  $("#modal-expediente .modal-xs").css('margin-left', margin);

  $('#modal-expediente .modal-submit').on('click', function(event) {
    event.preventDefault();

    var tramites = {};
    var index = 0;
    $("#modal-expediente .tramite-token").each(function(key, value) {
      tramites[index] = {
        id: $(value).data("id"),
        type: $(value).data("type")
      };
      index++;
    });

    $("#modal-expediente #tramites_pendientes").val(JSON.stringify(tramites));
    $("#modal-expediente #new_expediente, [id^='edit_expediente']").submit();
  });

  $('#modal-expediente').on('shown.bs.modal', function() {
    $('form:first *:input[type!=hidden]:first').focus();
  });

  $('#modal-expediente').on('hidden.bs.modal', function () {
    $(document).keydown(function(event) {
      var currentRow, rowpos, table;
      table = $('#expedientes-table').dataTable();
      currentRow = $('#expedientes-table tbody tr.info').get(0);
      switch (event.keyCode) {
        case 40:
          if ($(currentRow).next().length !== 0) {
            $(currentRow).next().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 38:
          if ($(currentRow).prev().length !== 0) {
            $(currentRow).prev().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 37:
          table.fnPageChange('previous');
          break;
        case 39:
          table.fnPageChange('next');
          break;
        case 13:
          $('#expedientes tr.info').find('td:eq(0) a').get(0).click();
      }
      rowpos = $('#expedientes tr.info').position();
      $(document).scrollTop(rowpos.top - 45);
    });

    $.ctrl('C', function() {
      $('#expedientes #btn-new').click();
    });

    $.ctrl('E', function() {
      $('#expedientes table tbody').find('.info').find('.linktoedit').click();
    });

    $('#expedientes div.dataTables_filter input').focus();
  });

  function format_tramites(tramite) {
    return "<div class='tramite-token' data-type='" + tramite.type + "' data-id='" + tramite.id + "'>" + tramite.type + " Nro: " + tramite.id + "</div>";
  }

  function format_tramites_result(tramite) {
    return "<div>" + "<b><i><small>" + "[" + tramite.type + "]" + "</small></i></b>" + " Nro: " + tramite.id + "</div>";
  }

  $("#modal-expediente #tramites").select2({
    placeholder: "Buscar trámites pendientes",
    allowClear: true,
    theme: 'bootstrap',
    formatSelection: format_tramites,
    formatResult: format_tramites_result,
    multiple: true,
    ajax: {
      url: "/expedientes/get_tramites_pendientes",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params
        };
      },
      results: function (data, page) {
        // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data
        return {
          results: data
        };
      },
      cache: true
    }
  });
