= stylesheet_link_tag('print', :media => :print)
#expedientes
  #caratula
    %br
    %br
    %br
    %br
    #column-one
      %p#column-one-p-one
        %br
        %br
        #title= "MOVIMIENTOS"
        %br
        %br
        %br
        %span.titles#ingreso= "INGRESO:"
        %span#ingreso-text
          %br
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
        %br
        %br
        %br
        %br
        .titles#estado= "ESTADO PARLAMENTARIO:"
        %br
        %br
        %br
        %br
        .titles#dictamen= "DICTAMEN:"
        %br
        %br
        %br
        %br
        .titles#aprobacion= "APROBACION PRIMERA LECTURA:"
        %br
        %br
        %br
        %br
        .titles#aprobacion-two= "APROBACION DEFINITIVA"
        %br
        %br
        %br
        %br
        .titles#archivo= "ARCHIVO:"
        %br
        %br
        %br
        %br
        .titles#rechazo= "RECHAZO:"
    #column-two
      #logo
        %img#carat-image{ src: image_url("logo-carat.png") }
      %p#column-two-p-one
        %h7= "CONCEJO DELIBERANTE"
        %br
        %h7= "RIO CUARTO"
      %br
      %br
      %p#column-two-p-two
        %br
        %span.titles-two#exp-num= "EXPEDIENTE N°:"
        %span#numero-text
          &nbsp
        %br
        %br
        %span.titles-two#iniciador= "INICIADOR:"
        %span#iniciador-text
          &nbsp
        %br
        %br
        %br
        %br
        %br
        %span.titles-two#asunto= "ASUNTO:"
        %span#asunto-text
          &nbsp
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %span.titles-two#comision= "COMISIÓN:"
        %span#comision-text
          &nbsp
        %br
        %br
        %br
        %br
        %span.titles-two#dispositivo= "DISPOSITIVO LEGAL SANCIONADO:"
        %span#dispositivo-text
          &nbsp
        %br
        %br
        %br
  #expedientes-edit
  %button#btn-new.btn.btn-primary
    %span.glyphicon.glyphicon-plus-sign{ "aria-hidden": true }
    = t('.btnheader.new')

  %table.datatable-keyevents.table.table-striped.table-bordered#expedientes-table{"data-source" => expedientes_path(format: :json)}
    %thead
      %tr
        %th= t('.table.expediente')
        %th= t('.table.sumario')
        %th{width: "15%"}= t('.table.fecha')
        %th Circuitos
        %th
    %tbody
