#expediente-show
  %h4= t('expedientes.show.info')
  %hr
  #expediente-body
    - exp = @expediente
    - nro_exp= exp.nro_exp
      - if nro_exp.present?  
      %p
        %span.titles= "Expediente Nro.: "
        %span= nro_exp
        %span
          &nbsp 
          %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Descargar Expediente"}
    - fojas = exp.get_fojas
      - if fojas.present?      
      %p.single-tab
        %span.titles= "Nro. de Fojas: "
        %span= fojas
    - asunto = exp.tema
      - if asunto.present?
      %p.single-tab
        %span.titles= "Asunto: "
        %span= asunto
    - tramite = exp.circuitos.first.tramite
      - if tramite.present?
      %p.single-tab
      - iniciadores = tramite.get_iniciadores
        - if iniciadores.present?
        .single-tab.titles= "Iniciadores: "
        - iniciadores.each do |i|
          - case i[:type]
          - when "OrganoDeGobierno"   
            .double-tab.titles= "Organos de Gobierno: "
            .double-tab= i[:denominacion].to_s
          - when "Area"   
            .double-tab.titles= "Areas: "
            .double-tab= i[:denominacion].to_s
          - when "Bloque"   
            .double-tab.titles= "Bloques: "
            .double-tab= i[:denominacion].to_s
          - when "Comision"   
            .double-tab.titles= "Comisiones: "
            .double-tab= i[:denominacion].to_s
          - when "ReparticionOficial"   
            .double-tab.titles= "Reparticiones Oficiales: "
            .double-tab= i[:denominacion].to_s
          - when "DependenciaMunicipal"   
            .double-tab.titles= "Dependencias Municipales: "
            .double-tab= i[:denominacion].to_s
          - else   
            .double-tab.titles= "Personas: "
            .double-tab= i[:type] + ": " + i[:apellido].to_s + ", " + i[:nombre].to_s
    - circuitos = exp.get_circuitos
      - if circuitos.present?
      %p.single-tab  
        %span.titles= "Circuitos: "
        - circuitos.each do |c|
          %span= link_to("Nro: " + c.nro.to_s , "/circuitos/#{c.id}") + " - "
    - normas = exp.circuitos.map{ |x| x.normas}.first
      - if normas.present?
      %p.single-tab  
        %span.titles= "Normas: "
        - normas.each do |n|
          %span= link_to(n.type + ": " + n.nro.to_s , n) + " - "      
    - despachos = exp.get_despachos
      - if despachos.present?
      %p.single-tab  
        %span.titles= "Despachos: "
        - despachos.each do |d|
          %span= link_to(d.id.to_s , "/despachos/#{d.id}") + " - "
    - tags = exp.tags
      - if tags.present?
      %p.single-tab
        %span.titles= "Voces Claves: "
        - tags.each do |t|
          %span= t.nombre.to_s + " - "
    - exp_adm = exp.get_exps_adm
      - unless exp_adm.empty?
      %p.single-tab  
        %span.titles= "Expedientes Administrativos: "
        - exp_adm.each do |e|
          %span= link_to(e.nro_exp + e.get_anio_expediente_adm, "/expediente_administrativos/#{e.id}")                
    - obs = exp.get_observaciones
      - if obs.present?
      %p.single-tab
        %span.titles= "Observaciones: "
        %span= obs        
    - anio = exp.get_anio
      - if anio.present?  
      %p.single-tab
        %span= "Creado el: "
        %span= anio
    %hr
    %p.single-tab
      - adjuntados = exp.adjuntados
        - if adjuntados.present?
        %span.single-tab= "Expedientes adjuntados fisicamente: "
        - adjuntados.each do |a|
          %span= link_to("Nro: " + a.nro_exp + a.get_anio_expediente, a) + " - "
      %br
      - adjunta = exp.adjunta
        - if adjunta.present?
        %span.single-tab= "Adjunta fisicamente a expediente: "
        %span= link_to("Nro: " + adjunta.nro_exp + adjunta.get_anio_expediente, adjunta)    
    %hr
    %p.single-tab
      - acumulados = exp.acumulados
        - if acumulados.present?
        %span.single-tab= "Expedientes acumulados: "
        - acumulados.each do |a|
          %span= link_to("Nro: " + a.nro_exp + a.get_anio_expediente, a) + " - "
      %br
      - acumula = exp.acumula
        - if acumula.present?
        %span.single-tab= "Acumula a expediente: "
        %span= link_to("Nro: " + acumula.nro_exp + acumula.get_anio_expediente, acumula)  
    %p.single-tab
      .single-tab.titles= "Estados del Expediente: "
      .single-tab  
        %table.table.table-striped.table-bordered#states-table-show
          %thead
            %tr
              %th{style: "text-align:center;"}= "Estado"
              %th= "Fecha"
          %tbody