#modalcond.modal.fade{ 'aria-labelledby': 'nuevoLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-xs{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } &times;
        %h4#nuevoLabel.modal-title= "Editando condonación #{@process.id}"
      = form_for @process do |f|
        .modal-body
          .row
            .col-md-6#first-column
              = render '/shared/process_form', f: f
            .col-md-6
              %ul.nav.nav-tabs{ role: 'tablist' }
                %li.active{ role: 'presentation' }
                  %a{ 'data-toggle' => 'tab', href: '#new-initiator', role: 'tab' }
                    Nuevo iniciador
                %li{ role: 'presentation' }
                  %a{ 'data-toggle' => 'tab', href: '#states-panel', role: 'tab' }
                    Estados
                %li{ role: 'presentation' }
                  %a{ 'data-toggle' => 'tab', href: '#administrative-files', role: 'tab' }
                    Expedientes administrativos
              .tab-content{ style: 'padding-top:1%' }
                .tab-pane.active#new-initiator{ role: 'tabpanel' }
                  #second-column
                    = render '/shared/initiator_form'
                .tab-pane#states-panel{ role: 'tabpanel' }
                  = render '/shared/derivated_states'
                .tab-pane#administrative-files{ role: 'tabpanel' }
                  = render '/shared/administrative_file_form'

        .modal-footer
          = f.submit 'Guardar cambios Condonación', { class: 'btn btn-primary modal-submit' }

:javascript

  ReactRailsUJS.mountComponents('#modalcond');

  wi = $(window).width() - 20;
  margin = 10;
  $("#condonacion .modal-xs").css('width', wi);
  $("#condonacion .modal-xs").css('margin-left', margin);

  function format_iniciadores(style) {
    var originalOption = $(style.element);
    var iniciador = "";
    iniciador = style.apellido + ', ' + style.nombre;
    if (style.type == "Juridica" || style.type == "Fisica" || style.type == "Concejal" ) {
      return "<div class='iniciador-token' data-id='" + style.id + "' data-nombre='"+ style.nombre + "' data-apellido='"+ style.apellido +  "' data-doc='"+ style.nro_doc +  "' data-telefono='"+ style.telefono +  "' data-email='"+ style.email + "' data-domicilio='"+ style.domicilio + "' data-cuit='"+ style.cuit + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
    }else{
      //Casos para comisiones y bloques, etc
      if (style.type == "ReparticionOficial" || style.type == "Comision" || style.type == "Bloque"){
        iniciador = style.denominacion;
        return "<div class='iniciador-token' data-id='" + style.id + "' data-type='"+ style.type + "' data-denominacion='"+ style.denominacion + "'>" + iniciador + "</div>";
      }else{
        //otros casos
      }
    }
  }

  function format_result_iniciadores(style) {
    var originalOption = $(style.element);
    if (style.type == "Juridica" || style.type == "Fisica" || style.type == "Concejal" ) {
      return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.apellido + ', ' + style.nombre + "</div>";
    }else{
      //caso de comisiones y bloques
      if (style.type == "ReparticionOficial" || style.type == "Comision" || style.type == "Bloque"){
        return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.denominacion + "</div>";
      }else{
        //caso de cualquier otro type
        return "<div>" + style.apellido + "</div>";
      }
    }
  }

  $("#process_iniciadores").select2({
    placeholder: "Buscar Iniciadores",
    allowClear: true,
    theme: 'bootstrap',
    formatSelection: format_iniciadores,
    formatResult: format_result_iniciadores,
    multiple: true,
    ajax: {
      url: "/condonacions/get_iniciador",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params
        };
      },
      results: function (data, page) {
        // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data
        return {
          results: data
        };
      },
      cache: true
    }
  }).on("select2-focus", function(e) {
      $('#btn_add_iniciador').removeAttr("disabled");
  }).on("select2-selecting", function(e) {
    // token selected
    var data = e.object
    if (data.apellido == 'Agregar Nuevo'){
      e.preventDefault();
      $('#condonacion #iniciador_nombre').val('');
      $('#condonacion #iniciador_apellido').val('');
      $('#condonacion #iniciador_doc').val('');
      $('#condonacion #iniciador_tel').val('');
      $('#condonacion #iniciador_email').val('');
      $('#condonacion #iniciador_domicilio').val('');
      $('#condonacion #iniciador_cuit').val('');
      $('#condonacion #iniciador_denominacion').val('').attr('disabled', 'disabled');
      $("#process_iniciadores").select2("close");
      $('#condonacion #iniciador_nombre').focus();
    }else{
      if(data.type == 'Fisica'){
        $('#condonacion #edit_iniciador').data('id',data.id);
        $('#condonacion #edit_iniciador').css('display','block');
        $('#condonacion #add_iniciador').css('display','none');
        $('#condonacion #iniciador_tipo').val(data.type).removeAttr('disabled');
        $('#condonacion #nombre-label').text('Nombre');
        $('#condonacion #iniciador_nombre').val(data.nombre).removeAttr('disabled');
        $('#condonacion #iniciador_apellido').val(data.apellido).removeAttr('disabled');
        $('#condonacion #iniciador_doc').val(data.nro_doc).removeAttr('disabled');
        $('#condonacion #iniciador_tel').val(data.telefono).removeAttr('disabled');
        $('#condonacion #iniciador_email').val(data.email).removeAttr('disabled');
        $('#condonacion #iniciador_domicilio').val(data.domicilio).removeAttr('disabled');
        $('#condonacion #iniciador_cuit').val(data.cuit).removeAttr('disabled');
        $('#condonacion #iniciador_denominacion').val('').attr('disabled', 'disabled');
      }else if (data.type == 'Juridica'){
        $('#condonacion #edit_iniciador').data('id',data.id);
        $('#condonacion #edit_iniciador').css('display','block');
        $('#condonacion #add_iniciador').css('display','none');
        $('#condonacion #iniciador_tipo').val(data.type).removeAttr('disabled');
        $('#condonacion #nombre-label').text('Denominación');
        $('#condonacion #iniciador_nombre').val(data.nombre).removeAttr('disabled');
        $('#condonacion #iniciador_apellido').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_doc').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_tel').val(data.telefono).removeAttr('disabled');
        $('#condonacion #iniciador_email').val(data.email).removeAttr('disabled');
        $('#condonacion #iniciador_domicilio').val(data.domicilio).removeAttr('disabled');
        $('#condonacion #iniciador_cuit').val(data.cuit).removeAttr('disabled');
        $('#condonacion #iniciador_denominacion').val('').attr('disabled', 'disabled');
        $('#condonacion #denominacion-group').css('display','none');
      }else{
        if (data.type == 'ReparticionOficial' || data.type == 'DependenciaMunicipal'){
          $('#condonacion #edit_iniciador').data('id',data.id);
          $('#condonacion #edit_iniciador').css('display','none');
          $('#condonacion #add_iniciador').css('display','none');
          $('#condonacion #iniciador_tipo').val(data.type).attr('disabled', 'disabled');
          $('#condonacion #nombre-label').text('Nombre');
          $('#condonacion #iniciador_nombre').val('').attr('disabled', 'disabled');
          $('#condonacion #iniciador_apellido').val('').attr('disabled', 'disabled');
          $('#condonacion #iniciador_doc').val('').attr('disabled', 'disabled');
          $('#condonacion #iniciador_tel').val('').attr('disabled', 'disabled');
          $('#condonacion #iniciador_email').val('').attr('disabled', 'disabled');
          $('#condonacion #iniciador_domicilio').val('').attr('disabled', 'disabled');
          $('#condonacion #iniciador_cuit').val('').attr('disabled', 'disabled');
          $('#condonacion #denominacion-group').css('display','inherit');
          $('#condonacion #iniciador_denominacion').val(data.denominacion).attr('disabled', 'disabled');
        }else{
          $('#condonacion #edit_iniciador').css('display','none');
          $('#condonacion #add_iniciador').css('display','none');
          $('#condonacion #iniciador_tipo').val('').attr('disabled','disabled');
          $('#condonacion #iniciador_nombre').val('').attr('disabled','disabled');
          $('#condonacion #nombre-label').text('Nombre');
          $('#condonacion #iniciador_apellido').val('').attr('disabled','disabled');
          $('#condonacion #iniciador_doc').val('').attr('disabled','disabled');
          $('#condonacion #iniciador_tel').val('').attr('disabled','disabled');
          $('#condonacion #iniciador_email').val('').attr('disabled','disabled');
          $('#condonacion #iniciador_domicilio').val('').attr('disabled','disabled');
          $('#condonacion #iniciador_cuit').val('').attr('disabled','disabled');
          $('#condonacion #denominacion-group').css('display','inherit');
          $('#condonacion #iniciador_denominacion').val('').attr('disabled','disabled');
        }
      }
    }
  });

  // change select type initiator
  $('#condonacion #iniciador_tipo').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if(valueSelected == "Fisica"){
      $('#condonacion #edit_iniciador').css('display','none');
      $('#condonacion #add_iniciador').css('display','block');
      $('#condonacion #nombre-label').text('Nombre');
      $('#condonacion #iniciador_nombre').val('').removeAttr('disabled');
      $('#condonacion #iniciador_apellido').val('').removeAttr('disabled');
      $('#condonacion #iniciador_doc').val('').removeAttr('disabled');
      $('#condonacion #iniciador_tel').val('').removeAttr('disabled');
      $('#condonacion #iniciador_email').val('').removeAttr('disabled');
      $('#condonacion #iniciador_domicilio').val('').removeAttr('disabled');
      $('#condonacion #iniciador_cuit').val('').removeAttr('disabled');
      $('#condonacion #iniciador_denominacion').val('').attr('disabled','disabled');
    }else if( valueSelected == "Juridica" ){
      $('#condonacion #edit_iniciador').css('display','none');
      $('#condonacion #add_iniciador').css('display','block');
      $('#condonacion #nombre-label').text('Denominación');
      $('#condonacion #iniciador_nombre').val('').removeAttr('disabled');
      $('#condonacion #iniciador_apellido').val('').attr('disabled','disabled');
      $('#condonacion #iniciador_doc').val('').attr('disabled','disabled');
      $('#condonacion #iniciador_tel').val('').removeAttr('disabled');
      $('#condonacion #iniciador_email').val('').removeAttr('disabled');
      $('#condonacion #iniciador_domicilio').val('').removeAttr('disabled');
      $('#condonacion #iniciador_cuit').val('').removeAttr('disabled');
      $('#condonacion #iniciador_denominacion').val('').attr('disabled','disabled');
      $('#condonacion #denominacion-group').css('display','none');
    }else{
      if(valueSelected == "ReparticionOficial"){
        $('#condonacion #edit_iniciador').css('display','none');
        $('#condonacion #add_iniciador').css('display','block');
        $('#condonacion #nombre-label').text('Nombre');
        $('#condonacion #iniciador_nombre').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_apellido').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_doc').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_tel').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_email').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_domicilio').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_cuit').val('').attr('disabled','disabled');
        $('#condonacion #denominacion-group').css('display','inherit');
        $('#condonacion #iniciador_denominacion').val('').removeAttr('disabled');
      }
    }
  });

  $('#process_iniciadores').on('choice-selected', function(e, choice) {
    // token selected
    var data = $(choice).data('select2-data');
    if(data.type == 'Fisica'){
      $('#condonacion #edit_iniciador').data('id',data.id);
      $('#condonacion #edit_iniciador').css('display','block');
      $('#condonacion #add_iniciador').css('display','none');
      $('#condonacion #iniciador_tipo').val(data.type).removeAttr('disabled');
      $('#condonacion #nombre-label').text('Nombre');
      $('#condonacion #iniciador_nombre').val(data.nombre).removeAttr('disabled');
      $('#condonacion #iniciador_apellido').val(data.apellido).removeAttr('disabled');
      $('#condonacion #iniciador_doc').val(data.nro_doc).removeAttr('disabled');
      $('#condonacion #iniciador_tel').val(data.telefono).removeAttr('disabled');
      $('#condonacion #iniciador_email').val(data.email).removeAttr('disabled');
      $('#condonacion #iniciador_domicilio').val(data.domicilio).removeAttr('disabled');
      $('#condonacion #iniciador_cuit').val(data.cuit).removeAttr('disabled');
      $('#condonacion #iniciador_denominacion').val('').attr('disabled', 'disabled');
    }else if ( data.type == 'Juridica' ){
      $('#condonacion #edit_iniciador').data('id',data.id);
      $('#condonacion #edit_iniciador').css('display','block');
      $('#condonacion #add_iniciador').css('display','none');
      $('#condonacion #iniciador_tipo').val(data.type).removeAttr('disabled');
      $('#condonacion #nombre-label').text('Denominación');
      $('#condonacion #iniciador_nombre').val(data.nombre).removeAttr('disabled');
      $('#condonacion #iniciador_apellido').val('').attr('disabled', 'disabled');
      $('#condonacion #iniciador_doc').val('').attr('disabled', 'disabled');
      $('#condonacion #iniciador_tel').val(data.telefono).removeAttr('disabled');
      $('#condonacion #iniciador_email').val(data.email).removeAttr('disabled');
      $('#condonacion #iniciador_domicilio').val(data.domicilio).removeAttr('disabled');
      $('#condonacion #iniciador_cuit').val(data.cuit).removeAttr('disabled');
      $('#condonacion #iniciador_denominacion').val('').attr('disabled', 'disabled');
      $('#condonacion #denominacion-group').css('display','none');
    }else{
      if (data.type == 'ReparticionOficial' || data.type == 'DependenciaMunicipal'){
        $('#condonacion #edit_iniciador').data('id',data.id);
        $('#condonacion #edit_iniciador').css('display','none');
        $('#condonacion #add_iniciador').css('display','none');
        $('#condonacion #iniciador_tipo').val(data.type).attr('disabled', 'disabled');
        $('#condonacion #nombre-label').text('Nombre');
        $('#condonacion #iniciador_nombre').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_apellido').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_doc').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_tel').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_email').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_domicilio').val('').attr('disabled', 'disabled');
        $('#condonacion #iniciador_cuit').val('').attr('disabled', 'disabled');
        $('#condonacion #denominacion-group').css('display','inherit');
        $('#condonacion #iniciador_denominacion').val(data.denominacion).attr('disabled', 'disabled');
      }else{
        $('#condonacion #add_iniciador').css('display','none');
        $('#condonacion #edit_iniciador').css('display','none');
        $('#condonacion #iniciador_tipo').val('').attr('disabled','disabled');
        $('#condonacion #nombre-label').text('Nombre');
        $('#condonacion #iniciador_nombre').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_apellido').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_doc').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_tel').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_email').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_domicilio').val('').attr('disabled','disabled');
        $('#condonacion #iniciador_cuit').val('').attr('disabled','disabled');
        $('#condonacion #denominacion-group').css('display','inherit');
        $('#condonacion #iniciador_denominacion').val('').attr('disabled','disabled');
      }
    }
  });

  $('.select2-input').on("focus", function(e) {
    // token unselected
    $('#condonacion #edit_iniciador').css('display','none');
    $('#condonacion #add_iniciador').css('display','block');
    $('#condonacion #iniciador_tipo').val('Fisica').removeAttr('disabled');
    $('#condonacion #nombre-label').text('Nombre');
    $('#condonacion #iniciador_nombre').val('').removeAttr('disabled');
    $('#condonacion #iniciador_apellido').val('').removeAttr('disabled');
    $('#condonacion #iniciador_doc').val('').removeAttr('disabled');
    $('#condonacion #iniciador_tel').val('').removeAttr('disabled');
    $('#condonacion #iniciador_email').val('').removeAttr('disabled');
    $('#condonacion #iniciador_domicilio').val('').removeAttr('disabled');
    $('#condonacion #iniciador_cuit').val('').removeAttr('disabled');
    $('#condonacion #denominacion-group').css('display','none');
    //$('#condonacion #iniciador_denominacion').val('').removeAttr('disabled');
  });

  $('#condonacion_nro_fojas, #condonacion_asunto, #condonacion_observaciones').on("focus", function(e) {
    $('#condonacion #edit_iniciador').css('display','none');
    $('#condonacion #add_iniciador').css('display','none');
    $('#condonacion #iniciador_tipo').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_nombre').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_apellido').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_doc').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_tel').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_email').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_domicilio').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_cuit').val('').attr('disabled','disabled');
    $('#condonacion #iniciador_denominacion').val('').attr('disabled','disabled');
    $('#btn_add_iniciador').attr('disabled', 'disabled');
  });

  $('#condonacion #edit_iniciador').on('click', function(event) {
    //update inicador Fisico o Juridico
    if (confirm("Desea editar el iniciador seleccionado")) {
      var id = $(this).data('id');
      var iniciador = { person: { nombre: $('#condonacion #iniciador_nombre').val(),
                                    apellido: $('#condonacion #iniciador_apellido').val(),
                                    nro_doc: $('#condonacion #iniciador_doc').val(),
                                    telefono: $('#condonacion #iniciador_tel').val(),
                                    email: $('#condonacion #iniciador_email').val(),
                                    domicilio: $('#condonacion #iniciador_domicilio').val(),
                                    cuit: $('#condonacion #iniciador_cuit').val() },
                        reparticion: {denominacion: $('#condonacion #iniciador_denominacion').val()}};
      $.ajax({
        url: "/persons/" + id,
        type: 'PATCH',
        data: iniciador ,
        dataType: 'json',
        success: function(result) {
          var iniciador = result.iniciador
          var ini = {id: iniciador.id, nombre: iniciador.nombre, apellido: iniciador.apellido, nro_doc: iniciador.nro_doc, telefono: iniciador.telefono, email: iniciador.email, domicilio: iniciador.domicilio, cuit: iniciador.cuit, type: iniciador.type}
          var iniciadores = $('#condonacion #process_iniciadores').select2('data');
          iniciadores.unshift(ini);
          $('#condonacion #process_iniciadores').select2('data', iniciadores);
          // Clear fields
          $('#condonacion #iniciador_nombre').val('');
          $('#condonacion #iniciador_apellido').val('');
          $('#condonacion #iniciador_doc').val('');
          $('#condonacion #iniciador_tel').val('');
          $('#condonacion #iniciador_email').val('');
          $('#condonacion #iniciador_domicilio').val('');
          $('#condonacion #iniciador_cuit').val('');
          $('#condonacion #condonacion_nro_fojas').focus();
        },
        error: function () {
            alert("No se pudo actualizar el iniciador");
        }
      });
    }
  });

  $('#condonacion #add_iniciador').on('click', function(event) {
    //create iniciador
    if (confirm("Desea crear el iniciador")) {
      var iniciador;
      var tipo = $('#condonacion #iniciador_tipo').val();
      var url_iniciador;
      if (tipo == "Fisica" || tipo == "Juridica"){
        url_iniciador = "/persons"
        iniciador = { person: {  type: $('#condonacion #iniciador_tipo').val(),
                  nombre: $('#condonacion #iniciador_nombre').val(),
                  apellido: $('#condonacion #iniciador_apellido').val(),
                  nro_doc: $('#condonacion #iniciador_doc').val(),
                  telefono: $('#condonacion #iniciador_tel').val(),
                  email: $('#condonacion #iniciador_email').val(),
                  domicilio: $('#condonacion #iniciador_domicilio').val(),
                  cuit: $('#condonacion #iniciador_cuit').val()}};
      }else{
        if (tipo == "ReparticionOficial"){
          url_iniciador = "/reparticion_oficials"
          iniciador = {reparticion: { denominacion: $('#condonacion #iniciador_denominacion').val()}}
        }
      }
      $.ajax({
        url: url_iniciador,
        type: 'POST',
        data: iniciador ,
        dataType: 'json',
        success: function(result) {
          var iniciador = result.iniciador
          var ini;
          if (iniciador.type == "Fisica" || iniciador.type == "Juridica"){
            ini = {id: iniciador.id, nombre: iniciador.nombre, apellido: iniciador.apellido, nro_doc: iniciador.nro_doc, telefono: iniciador.telefono, email: iniciador.email, domicilio: iniciador.domicilio, cuit: iniciador.cuit, type: iniciador.type}
          }else{
            if (iniciador.type == "ReparticionOficial"){
              ini = {id: iniciador.id, denominacion: iniciador.denominacion, type: iniciador.type}
            }
          }
          var iniciadores = $('#condonacion #process_iniciadores').select2('data');
          iniciadores.push(ini);
          $('#condonacion #process_iniciadores').select2('data', iniciadores);
          // Clear fields
          $('#condonacion #iniciador_nombre').val('');
          $('#condonacion #iniciador_apellido').val('');
          $('#condonacion #iniciador_doc').val('');
          $('#condonacion #iniciador_tel').val('');
          $('#condonacion #iniciador_email').val('');
          $('#condonacion #iniciador_domicilio').val('');
          $('#condonacion #iniciador_cuit').val('');
          $('#condonacion #iniciador_denominacion').val('');
          $('#condonacion #condonacion_nro_fojas').focus();
        },
        error: function () {
            alert("No se pudo crear el iniciador");
        }
      });
    }
  });

  $('#condonacion .modal-submit').on('click', function(event) {
    event.preventDefault();

    var iniciadores = {};
    var index = 0;
    $("#condonacion .iniciador-token").each(function(key, value) {
      iniciadores[index] = {
        id: $(value).data("id"),
        type: $(value).data("type")
      };
      index++;
    });

    //add derived states to form
    var states = {};
    var index = 0;
    $("#condonacion .derivacion-tr").each(function(key, value) {
      states[index] = {
        id: $(value).data("id"),
        tipo: $(value).data("tipo"),
        idref: $(value).data("idref"),
        typeref: $(value).data("typeref"),
      };
      index++;
    });

    $("#condonacion #states").val(JSON.stringify(states));
    $("#condonacion #iniciadores").val(JSON.stringify(iniciadores));
    $("#condonacion #new_condonacion, [id^='edit_condonacion']").submit();
  });

  $('.modal').on('shown.bs.modal', function () {
    $('form:first *:input[type!=hidden]:first').focus();
    $('.input-initiator').keypress(function(event){
      if (event.keyCode == 10 || event.keyCode == 13)
        event.preventDefault();
    });
  });

  $('.modal').on('hidden.bs.modal', function () {
    $(document).keydown(function(event) {
      var currentRow, rowpos, table;
      table = $('table.datatable-keyevents').dataTable();
      currentRow = $('table.datatable-keyevents tbody tr.info').get(0);
      switch (event.keyCode) {
        case 40:
          if ($(currentRow).next().length !== 0) {
            $(currentRow).next().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 38:
          if ($(currentRow).prev().length !== 0) {
            $(currentRow).prev().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 37:
          table.fnPageChange('previous');
          break;
        case 39:
          table.fnPageChange('next');
          break;
        case 13:
          $('table.datatable-keyevents tr.info').find('td:eq(0) a').get(0).click();
      }
      rowpos = $('table.datatable-keyevents tr.info').position();
      $(document).scrollTop(rowpos.top - 45);
    });
    $.ctrl('C', function() {
      $('#btn-new').click();
    });

    $.ctrl('E', function() {
      $('table.datatable-keyevents tbody').find('.info').find('.linktoedit').click();
    });

    $('div.dataTables_filter input').focus();
  });

  function format_derivaciones(style) {
    var originalOption = $(style.element);
    var iniciador = "";
    iniciador = style.apellido + ', ' + style.nombre;
    if (style.type == "Personal") {
      return "<div class='derivacion-token' data-id='" + style.id + "' data-nombre='"+ style.nombre + "' data-apellido='"+ style.apellido +  "' data-doc='"+ style.nro_doc +  "' data-telefono='"+ style.telefono +  "' data-email='"+ style.email + "' data-domicilio='"+ style.domicilio + "' data-cuit='"+ style.cuit + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
    }else{
      //Casos para comisiones y bloques, etc
      if (style.type == "Comision" || style.type == "Bloque" || style.type == "Area"){
        iniciador = style.denominacion;
        return "<div class='derivacion-token' data-id='" + style.id + "' data-type='"+ style.type + "'>" + iniciador + "</div>";
      }else{
        //otros casos
      }
    }
  }

  function format_derivaciones_result(style) {
    var originalOption = $(style.element);
    if (style.type == "Personal") {
      return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.apellido + ', ' + style.nombre + "</div>";
    }else{
      //caso de comisiones y bloques
      if (style.type == "Comision" || style.type == "Bloque" || style.type == "Area"){
        return "<div>" + "<b><i><small>" + "[" + style.type + "]" + "</small></i></b>" + " " + style.denominacion + "</div>";
      }else{
        //caso de cualquier otro type
        return "<div>" + style.apellido + "</div>";
      }
    }
  }

  $("#condonacion #derived-states").select2({
    placeholder: "Buscar derivaciones",
    allowClear: true,
    theme: 'bootstrap',
    formatSelection: format_derivaciones,
    formatResult: format_derivaciones_result,
    multiple: true,
    ajax: {
      url: "/condonacions/get_derivacion",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          q: params
        };
      },
      results: function (data, page) {
        // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data
        return {
          results: data
        };
      },
      cache: true
    }
  }).on("select2-selecting", function(e) {
    // token selected
    var data = e.object;

    var idref = data.id;
    var typeref = data.type;
    var text;

    if (data.type == 'Personal')
      text = data.apellido + ", " + data.nombre;
    else
      text = data.denominacion;

    var tr = "<tr class='derivacion-tr' data-id='' data-tipo='2' data-idref='" + idref + "' data-typeref='" + typeref + "'>" +
      "<td> Derivado a " + typeref + ": " + text + "</td>" +
      "<td> - </td>" + "<td> <i class='fa fa-times fa-1x remove-table-row btn btn-xs'> </i></td>" + "</tr>";

    $('#condonacion #states-table tbody').append(tr);
  }).on("change", function(e) {
    $('#condonacion #derived-states').select2("val", "");
  });

