#condonacion-show
  %h4= t('condonacions.show.info')
  %hr
  #condonacion-body
    - cond = @condonacion
    %p
      %span.titles= "Nro.: "
      %span= cond.id
      %span
        &nbsp
        %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Descargar Petición condonacion"}
    - fojas = cond.get_fojas
      - if fojas.present?
      %p.single-tab
        %span= "Nro. de Fojas: "
        %span= fojas
    - asunto = cond.get_asunto
      - if asunto.present?
      %p.single-tab
        %span.titles= "Asunto: "
        %span= asunto
    - iniciadores_personas = get_iniciadores_personas(cond)
    - iniciadores_reparticiones = get_iniciadores_reparticiones(cond)
      - if iniciadores_reparticiones.present? || iniciadores_personas.present?
      %p.single-tab
        .single-tab.titles= "Iniciadores: "
        .double-tab.titles= "Personas: "
        - iniciadores_personas.each do |b|
          .double-tab= b[:type] + ": " + b[:apellido].to_s + ", " + b[:nombre].to_s
        - if iniciadores_reparticiones.present?
          .double-tab.titles= "Reparticiones Oficiales: "
          - iniciadores_reparticiones.each do |r|
            .double-tab= r[:denominacion].to_s
    - actualizado = cond.get_date_time
      - if actualizado.present?
      %p.single-tab
        %span= "Creado/Actualizado: "
        %span= to_date_time(actualizado)
    - obs = cond.get_observaciones
      - if obs.present?
      %p.single-tab
        %span= "Observaciones: "
        %span= obs
    %p.single-tab
      .single-tab.titles= "Estados del trámite: "
      .single-tab
        %table.table.table-striped.table-bordered#states-table-show
          %thead
            %tr
              %th.center{ width: "15%" }= "Fecha"
              %th.center{ width: "85%" }= "Estado"
          %tbody
            - cond.estado_tramites.each do |x|
              - case x.tipo
              - when "1"
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time(x.created_at)
                  %td= "Iniciado"
              - when "2"
                - if (x.ref_type == 'Personal')
                  - text = x.ref.apellido + ", " + x.ref.nombre;
                - else
                  - text = x.ref.denominacion;
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
                  %td= to_date_time(x.created_at)
                  %td= "Derivado a " + x.ref_type + ": " + text
              - when "3"
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time(x.created_at)
                  %td
                    %span= "Finalizado en "
                    %span= link_to(x.ref_type.to_s + " ".to_s + x.ref.nro_exp.to_s , x.ref)
              - when "4" #caso para tramites finalizados pero q no terminan en expediente
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time(x.updated_at)
                  %td
                    %span= "Finalizado: "
                    %span= x.especificacion.to_s
              - else
                ERROR
