- fojas = @condonacion.get_fojas
- asunto = @condonacion.get_asunto
- iniciadores_personas = get_iniciadores_personas(@condonacion)
- iniciadores_reparticiones = get_iniciadores_reparticiones(@condonacion)
- obs = @condonacion.get_observaciones

#condonacion-show

  #condonacion-header.row
    .col-md-8
      %h3.main-title= "#{ t('condonacions.show.info') } #{ @condonacion.id }"
    .col-md-4.float-right.no-print
      .float-right
        %a#print-condonacion.btn.btn-lg.btn-danger.fa.fa-download{ title: 'Imprimir Condonación' }
          Imprimir
        %a.btn.btn-lg.btn-primary.fa.fa-download{ title: 'Descargar Condonación' }
          Descargar

  #condonacion-body
    .panel.panel-success
      .panel-heading= 'Información'
      .panel-body

        %p.single-tab
          %span.titles= 'Nro. de Fojas: '
          %span= fojas.present? ? fojas : '-.'

        %p.single-tab
          %span.titles= 'Asunto: '
          %span= asunto.present? ? asunto : '-.'

    .panel.panel-info
      .panel-heading= 'Trámites de la Condonación'
      .panel-body.without-padding

        %table.table.table-striped#states-table-condonacion-show
          %thead
            %tr
              %th.center{ width: '15%' }= 'Fecha'
              %th{ width: '85%' }= 'Estado'

          %tbody
            - @condonacion.estado_tramites.each do |x|
              - case x.tipo
              - when '1'
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date_time(x.created_at)
                  %td
                    Iniciado por:
                    - iniciadores_personas.each do |b|
                      .double-tab{ style: 'display: flex' }
                        = "#{ b[:apellido] }, #{ b[:nombre] }"
                        %p &nbsp;
                        .subtitle (particular)
                    - iniciadores_reparticiones.each do |r|
                      .double-tab{ style: 'display: flex' }
                        = r[:denominacion].to_s
                        %p &nbsp;
                        .subtitle (Repartición Oficial)

              - when '2'
                - text = if (x.ref_type == 'Personal')
                  - "#{ x.ref.apellido }, #{ x.ref.nombre }"
                - else
                  - x.ref.denominacion
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
                  %td= to_date_time x.created_at
                  %td= "Derivado a #{ x.ref_type }: #{ text }"

              - when '3'
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date_time x.created_at
                  %td
                    %span= 'Finalizado en '
                    %span= link_to "#{ x.ref_type } #{ x.ref.nro_exp }", x.ref

              - when '4' #caso para tramites finalizados pero q no terminan en expediente
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date_time x.updated_at
                  %td
                    %span= 'Finalizado: '
                    %span= x.especificacion.to_s
              - else
                ERROR

    .panel.panel-danger
      .panel-heading= 'Observaciones'
      .panel-body
        %p.single-tab
          %span= obs.present? ? obs : '-.'
