- fojas = @condonacion.get_fojas
- asunto = @condonacion.get_asunto
- obs = @condonacion.observaciones
#condonacion-show
  #condonacion-edit
  #condonacion-header.row
    .col-md-8
      %h3.main-title= "#{ t('condonacions.show.info') } #{ @condonacion.id }"
    .col-md-4.float-right.no-print
      .float-right
        %a#print-condonacion.btn.btn-lg.btn-danger.fa.fa-download{ title: 'Imprimir Condonación' }
          Imprimir
        - if current_user.present?
          = link_to 'Editar', edit_condonacion_path(@condonacion),
                    class: 'btn btn-lg btn-warning fa fa-pencil-square-o condonacion-edit',
                    title: 'Editar Despacho', remote: true

  #condonacion-body
    .panel.panel-success
      .panel-heading= 'Información'
      .panel-body

        %p.single-tab
          %span.titles= 'Nro. de Fojas: '
          %span= fojas.present? ? fojas : '-.'

        %p.single-tab
          %span.titles= 'Asunto: '
          %span= asunto.present? ? asunto : '-.'

    .panel.panel-info
      .panel-heading= 'Trámites de la Condonación'
      .panel-body.without-padding

        %table.table.table-striped.table-hover#states-table-condonacion-show
          %thead
            %tr
              %th.center{ width: '15%' }= 'Fecha'
              %th{ width: '85%' }= 'Estado'

          %tbody
            - @condonacion.estado_tramites.each do |x|
              - case x.tipo
              - when '1'
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo }
                  %td.center= to_date x.created_at
                  %td
                    Iniciado por:
                    - @condonacion.persons.each do |b|
                      .double-tab{ style: 'display: flex' }
                        = link_to b.full_name, person_path(b)
                        %p &nbsp;
                        .subtitle (particular)
                    - @condonacion.reparticion_oficials.each do |r|
                      .double-tab{ style: 'display: flex' }
                        = r.denominacion
                        %p &nbsp;
                        .subtitle (Repartición Oficial)

              - when '2'
                - text = if x.ref.present?
                  - if (x.ref_type == 'Personal')
                    - "#{ x.ref.apellido }, #{ x.ref.nombre }"
                  - elsif x.ref.class.superclass.name != 'Person'
                    - x.ref.denominacion
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
                  %td= to_date x.created_at
                  %td= "Derivado a #{ x.ref_type }: #{ text }"

              - when '3'
                - if x.ref.present?
                  %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                    %td= to_date x.created_at
                    %td
                      %span= 'Finalizado en '
                      %span= link_to "#{ x.ref_type } #{ x.ref.nro_exp }", x.ref

              - when '4' #caso para tramites finalizados pero q no terminan en expediente
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date x.updated_at
                  %td
                    %span= 'Finalizado: '
                    %span= x.especificacion.to_s
              - else
                ERROR

    .panel.panel-danger
      .panel-heading= 'Observaciones'
      .panel-body
        %p.single-tab
          %span= obs.present? ? obs : '-.'
