#modalcond.modal.fade{"aria-labelledby" => "nuevoLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xs{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#nuevoLabel.modal-title= t('.new_comunicacion_oficial')
      = form_for @comunicacion_oficial, url: { action: actionvar } do |f|
        = hidden_field_tag :exps_ids
        .modal-body
          .row
            .col-md-8#first-column
              .input-group
                = f.label :nro_fojas, { class: "input-group-addon", id: "basic-addon1" }
                = f.text_field :nro_fojas, { class: "form-control", "aria-describedby": "basic-addon1", :placeholder => t('.fojas'), type: :number }
              .input-group
                = f.label t('.solicitud'), { class: "input-group-addon", id: "basic-addon7"}
                = f.text_area :asunto, {class: "form-control", "aria-describedby" => "basic-addon7", :placeholder => t('.solicitud_placeholder'), type: :text }
              .input-group
                = f.label t('.observations'), { class: "input-group-addon", id: "basic-addon7"}
                = f.text_area :observaciones, {class: "form-control", "aria-describedby" => "basic-addon7", :placeholder => t('.observations'), type: :text }
            .col-md-8
              #second-column
        .modal-footer
          = f.submit "Guardar", {class: "btn btn-primary modal-submit"}

:javascript
  wi = $(window).width()-20;
  margin = 10;
  $("#comunicacion-oficial .modal-xs").css('width', wi);
  $("#comunicacion-oficial .modal-xs").css('margin-left', margin);

  //var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];

  function format_comisions(style) {
    var originalOption = $(style.element);
    return "<div class='comision-token' data-id=" + style.id + ">" + style.text + "</div>";
  }

  function format_concejals(style) {
    var originalOption = $(style.element);
    return "<div class='concejal-token' data-id=" + style.id + ">" + style.text + "</div>";
  }

  $(document).on('click', '#comunicacion-oficial .modal-submit', function(event) {
    event.preventDefault();

    $("#comunicacion-oficial #new-comunicacion-oficial, [id^='edit_comunicacion_oficial']").submit();
  });

  $('#modalcond').on('hidden.bs.modal', function () {

    $(document).keydown(function(event) {
      var currentRow, rowpos, table;
      table = $('#comunicacion-oficial-table').dataTable();
      currentRow = $('#comunicacion-oficial-table tbody tr.info').get(0);
      switch (event.keyCode) {
        case 40:
          if ($(currentRow).next().length !== 0) {
            $(currentRow).next().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 38:
          if ($(currentRow).prev().length !== 0) {
            $(currentRow).prev().addClass('info');
            $(currentRow).removeClass('info');
          }
          break;
        case 37:
          table.fnPageChange('previous');
          break;
        case 39:
          table.fnPageChange('next');
          break;
        case 13:
          $('#comunicacion-oficial tr.info').find('td:eq(0) a').get(0).click();
      }
      rowpos = $('#comunicacion-oficial tr.info').position();
      $(document).scrollTop(rowpos.top - 45);
    });

    $.ctrl('C', function() {
      $('#comunicacion-oficial #btn-new').click();
    });

    $.ctrl('E', function() {
      $('#comunicacion-oficial table tbody').find('.info').find('.linktoedit').click();
    });

    $.ctrl('D', function() {
      $('#comunicacion-oficial table tbody').find('.info').find('.remove-tr').click();
    });

    $('#comunicacion-oficial div.dataTables_filter input').focus();
  });
