#declaracion-show
  %h4= t('declaracions.show.info')
  %hr
  #declaracion-body
    - decl = @declaracion
    %p
      %span.titles= "Nro Identificador: "
      %span= decl.id
    %p
      %span.titles= "Declaración Nro: "
      %span= decl.get_nro + decl.get_anio_sancion
      %span
        &nbsp 
        %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Texto Original"}    
    - cap = decl.get_capitulos
      - unless cap.empty?  
      %p
        // aca chequear si pertenece al digesto para mostrar esto
        %span.titles= "Ubicación #{get_digesto_actual.nombre}: "
        - cap.each  do |c|
          %p.single-tab
            %span= "Libro #{c.titulo.libro.orden}-#{c.titulo.libro.nombre}"  
            %span= "/ Titulo #{c.titulo.orden}-#{c.titulo.nombre}"
            %span= "/ Capitulo #{c.orden}-#{c.nombre}"
            - decl.capitulos_normas.each do |n|  
              - if c.id == n.capitulo_id
                %span= "/ Nro Orden: #{n.orden}"
            %span
              &nbsp 
              %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Texto del digesto"}    
    %p
      %span.titles= "Tema: "
      %span= decl.get_sumario
    %p.single-tab
      %span= decl.get_sancion
    %p.single-tab
      - cla = decl.get_clasificaciones
        - unless cla.empty?
        .single-tab.titles= "Clasificaciones: "
        - cla.each do |r|
          - if (r.nombre == "General")
            .double-tab= "De contenido general"
          - if (r.nombre == "Individual y meros actos administrativos")
            .double-tab= "De contenido particular - Individual y meros actos administrativos"
          - if (r.nombre == "De Servicios Públicos")
            .double-tab= "De contenido particular - Contrataciones y servicios - De servicios públicos"
          - if (r.nombre == "Otras")
            .double-tab= "De contenido particular - Contrataciones y servicios - Otras"
          - if (r.nombre == "Alcance general")
            .double-tab= "Alcance general"
          - if (r.nombre == "Alcance especial")
            .double-tab= "Alcance especial"
          - if (r.nombre == "Dictada por razones de emergencia")
            .double-tab= "Vigencia - Dictada por razones de emergencia"
          - if (r.nombre == "Que contienen normas generales y permanentes")
            .double-tab= "Vigencia - De renovación períodica - Que contienen normas generales y permanentes"
          - if (r.nombre == "Que NO contienen normas generales y permanentes")
            .double-tab= "Vigencia - De renovación períodica - Que NO contienen normas generales y permanentes"
          - if (r.nombre == "Motivos subsisten")
            .double-tab= "Vigencia - Motivos subsisten"
          - if (r.nombre == "Normas generales")
            .double-tab= "Vigencia - Motivos no susisten - Normas generales"
          - if (r.nombre == "Normas no generales")
            .double-tab= "Vigencia - Motivos no subsisten - Normas no generales"
          - if (r.nombre == "Plazo determinado y cumplido")
            .double-tab= "Vigencia - Plazo determinado y cumplido"
          - if (r.nombre == "Plazo determinado y NO cumplido")
            .double-tab= "Vigencia - Plazo determinado y NO cumplido"
          - if (r.nombre == "Vigencia sujeta a condición resolutoria")
            .double-tab= "Vigencia sujeta a condición resolutoria"
          - if (r.nombre == "Objeto agotado")
            .double-tab= "Vigencia - Objeto agotado"
          - if (r.nombre == "Cumplida")
            .double-tab= "Vigencia - Cumplida"
          - if (r.nombre == "NO cumplida")
            .double-tab= "Vigencia - NO cumplida"
          - if (r.nombre == "Derogación sujeta a condición suspensiva")
            .double-tab= "Derogación sujeta a condición suspensiva"
          - if (r.nombre == "Derog. tácita")
            .double-tab= "Derogación tácita"
          - if (r.nombre == "Derog. cumplida")
            .double-tab= "Derogación cumplida"
          - if (r.nombre == "Derog. NO cumplida")
            .double-tab= "Derogación NO cumplida"
          - if (r.nombre == "Dispone texto ordenado")
            .double-tab= "Dispone texto ordenado"
          - if (r.nombre == "Autónomo")
            .double-tab= "De contenido - General - Autónomo"
          - if (r.nombre == "De necesidad o urgencia")
            .double-tab= "Vigencia - De necesidad o urgencia"
          - if (r.nombre == "Dictado ad referendum")
            .double-tab= "Vigencia - Dictado ad referendum"
    %p.single-tab
      - circuitos = decl.get_circuitos
        - unless circuitos.empty?
        %span= "Expedientes Legislativos: "
        - circuitos.each do |c|
          - if (c.nro == 0)
            %span= link_to(c.expediente.nro_exp + c.expediente.get_anio_expediente, "/expedientes/#{c.expediente.id}") 
          - else
            %span= "Circuito nro: #{c.nro}--> Expediente: " + link_to(c.expediente.nro_exp, "expediente/#{c.expediente.id}") + c.expediente.get_anio_expediente
    %p.single-tab
      - decl.get_relacion_me_modifican("promul").each do |r| 
        %span= "Promulgado el " + to_date(r.desde).to_s
        %span= link_to(" Decreto " + r.me_modifica.nro.to_s, r.me_modifica)
    %p.single-tab
      - decl.get_destinos(0).each do |d| 
        %span= "Comunicada al " + d.destino.to_s + " el " + to_date(d.fecha).to_s
    %p.single-tab
      - decl.get_destinos(1).each do |d| 
        %span= "Notificada a " + d.destino.to_s + " el " + to_date(d.fecha).to_s    
    - desc = decl.get_descripcion
      - if desc.present?
      %p
        %span.titles= "Descripción: "
        %span= desc
    - obs = decl.get_observaciones
      - if obs.present?
      %p
        %span.titles= "Observaciónes: "
        %span= obs 
    - org = decl.get_organismo_origen
      - if org.present?
      %p
        %span.titles= "Organismo origen: "
        %span= org
    %p
      - tags = decl.get_tags
        - unless tags.empty?
        %span.titles= "Voces Claves: "
        - tags.each do |t|
          %span= t.nombre + " - "
    %hr
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("reglamen")
        - unless rel.empty?
        .single-tab= "Reglamentada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("suspvig")
        - unless rel.empty?
        .single-tab= "Vigencia Suspendida por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("adrefe")
        - unless rel.empty?
        .single-tab= "Ratificada Ad Referendum por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("delegado")
        - unless rel.empty?
        .single-tab= "Delagada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("restiv")
        - unless rel.empty?
        .single-tab= "Vigencia restituida por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("aclarac")
        - unless rel.empty?
        .single-tab= "Es aclarada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("prorrog")
        - unless rel.empty?
        .single-tab= "Suspension prorrogada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("vetop")
        - unless rel.empty?
        .single-tab= "Vetada parcialmente por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("vetot")
        - unless rel.empty?
        .single-tab= "Vetada totalmente por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("derog")
        - unless rel.empty?
        .single-tab= "Derogada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)      
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("modif")
        - unless rel.empty?
        .single-tab= "Modificada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_me_modifican("provig")
        - unless rel.empty?
        .single-tab= "Vigencia Prorrogada por: "
        - rel.each do |r| 
          - norm_dest = r.me_modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %hr
    %p.single-tab
      - rel = decl.get_relacion_modifica("reglamen")
        - unless rel.empty?
        .single-tab= "Reglamenta a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("suspvig")
        - unless rel.empty?
        .single-tab= "Suspende vigencia a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("adrefe")
        - unless rel.empty?
        .single-tab= "Ratifica Ad Referendum a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("delegado")
        - unless rel.empty?
        .single-tab= "Delaga a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("restiv")
        - unless rel.empty?
        .single-tab= "Restituye Vigencia a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("aclarac")
        - unless rel.empty?
        .single-tab= "Aclara a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("prorrog")
        - unless rel.empty?
        .single-tab= "Prorroga suspension a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("vetop")
        - unless rel.empty?
        .single-tab= "Veta parcialmente a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("vetot")
        - unless rel.empty?
        .single-tab= "Veta totalmente a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("derog")
        - unless rel.empty?
        .single-tab= "Deroga a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)      
    %p.single-tab
      - rel = decl.get_relacion_modifica("modif")
        - unless rel.empty?
        .single-tab= "Modifica a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("provig")
        - unless rel.empty?
        .single-tab= "Prorroga vigencia a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)
    %p.single-tab
      - rel = decl.get_relacion_modifica("promul")
        - unless rel.empty?
        .single-tab= "Promulga a: "
        - rel.each do |r| 
          - norm_dest = r.modifica
          .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + norm_dest.get_anio_sancion, norm_dest)                  