- content_for :title, 'Ordenanza'
- ord = @ordenanza
- ord_me_modifican = ord.relationship_me_modifican.to_a
- ord_modifica = ord.relationship_modificadas.to_a
- entrada_vigencia = ord.entrada_vigencia
- finaliza_vigencia = ord.finaliza_vigencia
- plazo_vigencia = get_plazo_vigencia(ord)
- cap = ord.capitulos
- circuitos = ord.circuitos
- number = @ordenanza.nro || 'S/N'
- year   = @ordenanza.sancion.year || ''
- obs    = @ordenanza.observaciones
- tags   = @ordenanza.tags

#ordenanza-show

  #ordenanza-header.row
    .col-md-5
      %h3.main-title= "#{t 'ordenanzas.show.info', number: number, year: year}"
    .col-md-7.float-right.no-print
      .float-right
        %a#print-ordenanza.btn.btn-lg.btn-danger.fa.fa-print{ title: 'Imprimir Ordenanza' }
          Imprimir
        %a.btn.btn-lg.btn-primary.fa.fa-download{ title: 'Descargar Texto Original' }
          Texto Original
        %a.btn.btn-lg.btn-primary.fa.fa-download{ title: 'Descargar Texto del Digesto' }
          Texto del Digesto

  #ordenanza-body
    -# - unless cap.empty?
    -#   %p
    -#     // aca chequear si pertenece al digesto para mostrar esto
    -#     %span.titles= "Ubicación #{get_digesto_actual.nombre}: "
    -#     - cap.each  do |c|
    -#       %p.single-tab
    -#         %span= "Libro #{c.titulo.libro.orden}-#{c.titulo.libro.nombre}"
    -#         %span= "/ Titulo #{c.titulo.orden}-#{c.titulo.nombre}"
    -#         %span= "/ Capitulo #{c.orden}-#{c.nombre}"
    -#         - ord.capitulos_normas.each do |n|
    -#           - if c.id == n.capitulo_id
    -#             %span= "/ Nro Orden: #{n.orden}"
    -#         %span
    -#           &nbsp
    -#           %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Texto del digesto" }

    .panel.panel-success
      .panel-heading Información de la Ordenanza
      .panel-body
        %p.single-tab
          %span.titles Sumario:
          = @ordenanza.sumario.present? ? @ordenanza.sumario : '-.'

        %p.single-tab
          - if entrada_vigencia.present?
            .single-tab.titles= "Vigencia: "
            .double-tab= "Entra en vigencia el: " + to_date(entrada_vigencia).to_s
          - if finaliza_vigencia.present?
            .double-tab= "Finaliza vigencia el: " + to_date(finaliza_vigencia).to_s
          - if @ordenanza.plazo_dia.present? || @ordenanza.plazo_mes.present? || @ordenanza.plazo_anio.present?
            .double-tab= "Finaliza vigencia en: " + plazo_vigencia + " a partir de la entrada en vigencia"

        %p
          .double-tab
            - if @ordenanza.sancion.present?
              %span= "Sancionada el #{to_date @ordenanza.sancion}"
          .double-tab
            - ord_me_modifican.select{ |x| x.tipo_relacion == "promul"}.each do |r|
              %span= "Promulgado el " + to_date(r.desde).to_s
              %span= link_to(" Decreto " + r.me_modifica.nro.to_s, r.me_modifica)
          .double-tab
            - ord.get_destinos(0).each do |d|
              %span= "Comunicada al DEM el " + to_date(d.fecha).to_s
          .double-tab
            - ord.get_destinos(1).each do |d|
              %span= "Notificada a " + d.destino.to_s + " el " + to_date(d.fecha).to_s

        %p.single-tab
          - unless circuitos.empty?
            %span= "Expedientes legislativos asociados "
            - circuitos.each do |c|
              - if (c.nro == 0)
                %span= link_to(c.expediente.nro_exp + c.expediente.get_anio_expediente, "/expedientes/#{c.expediente.id}")
              - else
                %span= "Circuito nro: #{c.nro}--> Expediente: "
                %span= link_to(c.expediente.nro_exp + c.expediente.get_anio_expediente, "/expedientes/#{c.expediente.id}")
                %span= " - "

        = render partial: "clasification_ordenanza", locals: { ord: ord }

    .panel.panel-info
      .panel-heading Vínculos con otras normas
      .panel-body
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "reglamen" }
            - unless rel.empty?
            .single-tab= "Reglamentada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "suspvig" }
            - unless rel.empty?
            .single-tab= "Vigencia Suspendida por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "adrefe" }
            - unless rel.empty?
            .single-tab= "Ratificada Ad Referendum por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "delegado" }
            - unless rel.empty?
            .single-tab= "Delegada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "restiv" }
            - unless rel.empty?
            .single-tab= "Vigencia restituida por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "aclarac" }
            - unless rel.empty?
            .single-tab= "Es aclarada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "prorrog" }
            - unless rel.empty?
            .single-tab= "Suspension prorrogada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "vetop" }
            - unless rel.empty?
            .single-tab= "Vetada parcialmente por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "vetot" }
            - unless rel.empty?
            .single-tab= "Vetada totalmente por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "derog" }
            - unless rel.empty?
            .single-tab= "Derogada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "modif" }
            - unless rel.empty?
            .single-tab= "Modificada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_me_modifican.select{ |x| x.tipo_relacion == "provig" }
            - unless rel.empty?
            .single-tab= "Vigencia Prorrogada por: "
            - rel.each do |r|
              - norm_dest = r.me_modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "reglamen" }
            - unless rel.empty?
            .single-tab= "Reglamenta a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "suspvig" }
            - unless rel.empty?
            .single-tab= "Suspende vigencia a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "adrefe" }
            - unless rel.empty?
            .single-tab= "Ratifica Ad Referendum a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "delegado" }
            - unless rel.empty?
            .single-tab= "Delega a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "restiv" }
            - unless rel.empty?
            .single-tab= "Restituye Vigencia a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "aclarac" }
            - unless rel.empty?
            .single-tab= "Aclara a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "prorrog" }
            - unless rel.empty?
            .single-tab= "Prorroga suspension a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "vetop" }
            - unless rel.empty?
            .single-tab= "Veta parcialmente a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "vetot" }
            - unless rel.empty?
            .single-tab= "Veta totalmente a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "derog" }
            - unless rel.empty?
            .single-tab= "Deroga a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "modif" }
            - unless rel.empty?
            .single-tab= "Modifica a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "provig" }
            - unless rel.empty?
            .single-tab= "Prorroga vigencia a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)
        %p.single-tab
          - rel = ord_modifica.select{ |x| x.tipo_relacion == "promul" }
            - unless rel.empty?
            .single-tab= "Promulga a: "
            - rel.each do |r|
              - norm_dest = r.modifica
              .double-tab= link_to(norm_dest.type + " " + norm_dest.nro.to_s + get_anio_sancion(norm_dest), norm_dest)

    .panel.panel-danger
      .panel-heading Observaciones
      .panel-body
        %p.single-tab
          %span= obs || ''

        %p.single-tab
          %span.titles Voces claves:
          %span= '-.' if tags.empty?
          - tags.each do |t|
            %span= "#{t.nombre} - "

        %p.single-tab
          %span.titles Organismo origen:
          %span= ord.organismo_origen? ? ord.organismo_origen : '-.'
