#comunicacion-oficial
  #comunicacion-oficial-edit
  %button#btn-new.btn.btn-primary
    %span.glyphicon.glyphicon-plus-sign{ "aria-hidden": true }
    = t('.btnheader.new')

  %table.datatable-keyevents.table.table-striped.table-bordered#comunicacion-oficial-table{style: "table-layout: fixed; word-wrap: break-word;", "data-source" => comunicacion_oficials_path(format: :json)}
    %thead
      %tr
        %th= t('.table.comunicacion_oficial')
        %th= t('.table.fojas')
        %th= t('.table.iniciadores')
        %th= t('.table.asunto')
        %th= t('.table.observaciones')
        %th= t('.table.estado')
        %th= t('.table.actualizado')
        %th
    %tbody
