- fojas = @comunicacion_oficial.get_fojas
- asunto = @comunicacion_oficial.get_asunto
- iniciadores_organos = get_iniciadores_organos(@comunicacion_oficial)
- iniciadores_areas = get_iniciadores_areas(@comunicacion_oficial)
- iniciadores_reparticiones = get_iniciadores_reparticiones(@comunicacion_oficial)
- iniciadores_dependencias = get_iniciadores_dependencias(@comunicacion_oficial)
- iniciadores_bloques = get_iniciadores_bloques(@comunicacion_oficial)
- iniciadores_comisions = get_iniciadores_comisions(@comunicacion_oficial)
- obs = @comunicacion_oficial.get_observaciones

#comunicacion-oficial-show

  #comunicacion-oficial-edit
  #comunicacion-oficial-header.row
    .col-md-8
      %h3.main-title= t('comunicacion_oficials.show.info') + " #{@comunicacion_oficial.id}"
    .col-md-4.float-right.no-print
      .float-right
        %a#print-comunicacion-oficial.btn.btn-lg.btn-danger.fa.fa-download{ title: 'Imprimir Comunicación Oficial' }
          Imprimir
        - if current_user.present?
          = link_to 'Editar', edit_comunicacion_oficial_path(@comunicacion_oficial),
                    class: 'btn btn-lg btn-warning fa fa-pencil-square-o comunicacion-oficial-edit',
                    title: 'Editar Comunicacion Oficial', remote: true

  #comunicacion-oficial-body
    .panel.panel-success
      .panel-heading Información
      .panel-body

        %p.single-tab
          %span.titles Nro. de Fojas:
          %span= fojas.present? ? fojas : '-.'

        %p.single-tab
          %span.titles Asunto:
          %span= asunto.present? ? asunto : '-.'

    .panel.panel-info
      .panel-heading Trámites de la Comunicación Oficial
      .panel-body.without-padding
        %table.table.table-striped#states-table-comunicacion-oficial-show
          %thead
            %tr
              %th.center{ width: '15%' } Fecha
              %th{ width: '85%' } Estado
          %tbody
            - @comunicacion_oficial.estado_tramites.each do |x|
              - case x.tipo
              - when '1'
                %tr{ class: 'derivacion-tr-show', 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date x.created_at
                  %td
                    Iniciado por:
                    %p.single-tab
                      - iniciadores_organos.each do |o|
                        .double-tab{ style: 'display: flex' }
                          = o[:denominacion].to_s
                          %p &nbsp;
                          .subtitle (Órgano de Gobierno)
                      - iniciadores_areas.each do |a|
                        .double-tab{ style: 'display: flex' }
                          = a[:denominacion].to_s
                          %p &nbsp;
                          .subtitle (Área)
                      - iniciadores_bloques.each do |b|
                        .double-tab{ style: 'display: flex' }
                          = b[:denominacion].to_s
                          %p &nbsp;
                          .subtitle (Bloque)
                      - iniciadores_comisions.each do |b|
                        .double-tab{ style: 'display: flex' }
                          = b[:denominacion].to_s
                          %p &nbsp;
                          .subtitle (Comisión)
                      - iniciadores_reparticiones.each do |r|
                        .double-tab{ style: 'display: flex' }
                          = r[:denominacion].to_s
                          %p &nbsp;
                          .subtitle (Repartición Oficial)
                      - iniciadores_dependencias.each do |d|
                        .double-tab{ style: 'display: flex' }
                          = d[:denominacion].to_s
                          %p &nbsp;
                          .subtitle (Dependencia Municipal)
                      - @comunicacion_oficial.persons.each do |b|
                        .double-tab{ style: 'display: flex' }
                          = link_to(b.full_name, person_path(b))
                          %p &nbsp;
                          .subtitle (Particular)

              - when '2'
                - text = if x.ref.present?
                  - if x.ref_type == 'Personal'
                    - "#{ x.ref.apellido }, #{ x.ref.nombre }"
                  - elsif x.ref.class.superclass.name != 'Persona'
                    - x.ref.denominacion
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
                  %td= to_date x.created_at
                  %td= "Derivado a #{ x.ref_type }: #{ text }"
              - when '3'
                - if x.ref.present?
                  %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                    %td= to_date x.created_at
                    %td
                      %span Finalizado en
                      %span= link_to "#{ x.ref_type } #{ x.ref.nro_exp }", x.ref

              - when '4' #caso para tramites finalizados pero q no terminan en expediente
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date x.updated_at
                  %td
                    %span Finalizado:
                    %span= x.especificacion.to_s
              - else
                ERROR

    .panel.panel-danger
      .panel-heading Observaciones
      .panel-body
        %p.single-tab
          %span= obs.present? ? obs : '-.'
