#comunicacion-oficial-show
  %h4= t('comunicacion_oficials.show.info')
  %hr
  #comunicacion-oficial-body
    - com = @comunicacion_oficial
    %p
      %span.titles= "Nro.: "
      %span= com.id
      %span
        &nbsp 
        %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Descargar Comunicación Oficial"}
    - fojas = com.get_fojas
      - if fojas.present?      
      %p.single-tab
        %span= "Nro. de Fojas: "
        %span= fojas
    - asunto = com.get_asunto
      - if asunto.present?
      %p.single-tab
        %span.titles= "Asunto: "
        %span= asunto    
    - iniciadores_bloques = get_iniciadores_bloques(com)
    - iniciadores_comisions = get_iniciadores_comisions(com)
    - iniciadores_personas = get_iniciadores_personas(com)
      - if iniciadores_bloques.present? || iniciadores_comisions.present? || iniciadores_personas.present?     
      %p.single-tab
        .single-tab.titles= "Iniciadores: "
        .double-tab.titles= "Bloques: "
        - iniciadores_bloques.each do |b|
          .double-tab= b[:denominacion]
        .double-tab.titles= "Comisiones: "
        - iniciadores_comisions.each do |b|
          .double-tab= b[:denominacion]
        .double-tab.titles= "Personas: "
        - iniciadores_personas.each do |b|
          .double-tab= b[:type] + ": " + b[:apellido] + ", " + b[:nombre]    
    - actualizado = com.get_date_time
      - if actualizado.present?
      %p.single-tab
        %span= "Creado/Actualizado: "
        %span= to_date_time(actualizado)
    - obs = com.get_observaciones
      - if obs.present?
      %p.single-tab
        %span= "Observaciones: "
        %span= obs