<div class="lead box-header with-border">
  Puede adjuntar todo tipo de archivos
</div>

<div class="form-group">
  <%= f.label :uploads, 'Busque y seleccione archivos' %>
  <%= f.file_field :uploads, type: :file, multiple: true %>
</div>

<u class="uploads">
  <% f.object.uploads.each do |upload| %>
    <li id="<%= upload.id %>" >
      <%= link_to upload.file_file_name, upload.file.url %>
      <%= link_to legislative_file_upload_path(f.object.id, file_id: upload.id, format: :json), method: :delete, class: 'btn btn-xs', data: { upload: upload.id }, remote: true do %>
        <i class="fa fa-xs fa-times"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $('.uploads').on('ajax:success', function(ev, data) {
    $('.uploads').find('[id=' + data.file.id + ']').remove();
  }).on('ajax:error', function() {
    swal('', 'No es posible eliminar este archivo', 'error');
  });
</script>
