<div class="lead box-header with-border">
  Cree o edite circuitos
</div>
  <ul class="nav nav-tabs" role="tablist">
    <% @loop.loops.each do |loop| %>
      <% if loop.nonfirst? %>
        <li role="presentation" class="<%= 'active' if loop.id.nil? %>">
          <a href="#loop_<%= loop.number || 'new' %>" role="tab" data-toggle="tab" aria-expanded="true">
            <% if loop.new_record? %>
              Nuevo Circuito
            <% else %>
              Circuito <%= loop.number %>
            <% end %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="tab-content panel panel-default">
        <%= f.fields_for :loops do |loop| %>
          <% if loop.object.number.nonzero? %>
          <div class="tab-pane panel-body fade <%= 'active' if loop.object.id.nil? %> in" role="tabpanel" id="loop_<%= loop.object.id || 'new' %>">
            <%= render 'loop_fields', loop: loop %>
          </div>
          <% end %>
        <% end %>
  </div>
