<div class="box-body">
  <div class="row">

    <div class="col-xs-12">

      <div id="info" class="tab-pane fade in active">

        <div class="row">
          <div class="col-md-12">
            <div class="box-body">
              <div class="row">
                <div class="col-md-2">
                  <h3 class="word-top">Fojas:</h3>
                </div>
                <div class="col-md-2">
                  <%= calculate_sheets @loop %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h3 class="word-top"> Sumario:  </h3>
                </div>
                <div class="col-md-10">
                  <%= @loop.topic %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h3 class="word-top">Exp. adm.:</h3>
                </div>
                <div class="col-md-10">
                  <% @loop.origin_procedure.administrative_files.each do |af| %>
                    <%= af %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <% if @loop.observations.present? %>
                    <h3 class="word-top">Observ.:</h3>
                  <% end %>
                </div>
                <div class="col-md-10">
                  <%= @loop.observations %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="box box-danger">
              <div class="box-header with-border text-center">
                <h3 class="box-title"> Tr치mites del expediente </h3>
              </div>
              <div class="box-body">
                <table class="table table-striped margin-out">
                  <thead>
                    <tr>
                      <th> Estado </th>
                      <th> Fecha </th>
                      <th> Especificaci칩n </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @loop.legislative_file_states.each do |state| %>
                      <tr>
                        <td>
                          <div>
                            <strong>
                              <%= I18n.t("legislative_files.states.#{state.name}") %>
                            </strong>
                          </div>
                          <%= build_small_state_procedure state %>
                        </td>
                        <td>
                          <div>
                            <strong> <%= state.date_at %> </strong>
                          </div>
                          <%= build_small_state_type state %>
                        </td>
                        <td>
                          <% if state.initialized? %>
                            <%= render 'initiators_signators' %>
                          <% elsif state.dispatched? %>
                            <% state.procedure.comisions.each do |b| %>
                              <div> <strong> <%= b.denominacion %> </strong> </div>
                            <% end %>
                            <small>
                              (Concejales: <%= state.procedure.persons.map(&:text).join(' - ') %>)
                            </small>
                          <% elsif state.in_comision? %>
                            <% state.comisions.each do |c|  %>
                              <div><strong> <%= c %> </strong></div>
                            <% end %>
                          <% elsif state.day_plan? %>
                            <strong> Asunto a Tratar </strong>
                          <% elsif state.sanctioned? %>
                           <div> <strong> <%= state.sanction_specified %> </strong> </div>
                            <small> [<%= state.sanction_type %>] </small>

                            <p>
                              <div>Sancionada la Ordenanza <%= link_to "#11111", "#11111" %></div>
                              <div>Decreto Promulgatorio <%= link_to "#5555", "#5555" %></div>
                              <div>Promulgado el 12/12/2017</div>
                              <div>Comunicada al DEM el 12/12/2015</div>
                            </p>
                            <p>
                              <div>Sancionada la Resoluci칩n <%= link_to "#5555", "#5555" %></div>
                              <div>Comunicada el 12/12/2017 a</div>
                              <div>Notificada el 12/12/2017 a</div>
                            </p>
                            <p>
                              <div>Sancionada la Declaraci칩n <%= link_to "#9999", "#9999" %></div>
                              <div>Comunicada el 12/12/2017 a</div>
                              <div>Notificada el 12/12/2017 a</div>
                            </p>
                          <% end %>
                        </td>
                        <td class="pull-right">
                          <% unless state.initialized? || state.dispatched? %>
                            <%= link_to '', edit_legislative_file_state_path(state),
                              class: 'edit-state-btn btn btn-warning btn-lg fa fa-pencil fa-lg',
                              remote: true %>
                            <%= link_to '', state, method: :delete, remote: true,
                              class: 'delete-state-btn btn btn-danger btn-lg fa fa-trash fa-lg' %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="footer-content col-md-12 text-center">
              <hr>
              <%= link_to new_legislative_file_state_path(legislative_file_id: @loop.id), class: 'new-state-btn btn btn-primary btn-lg',
                title: 'Agregar nuevo estado', remote: true do %>
                <i class="fa fa-plus-circle fa-lg"></i>
                Nuevo Estado
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
