<div class="box-body">
  <div class="row">

    <div class="col-xs-12">

      <div id="info" class="tab-pane fade in active">

        <div class="row">
          <div class="col-md-12">
            <div class="box-body">
              <div class="row">
                <div class="col-md-2">
                  <h5 class="word-top text-bold pull-right"> Fojas: </h5>
                </div>
                <div class="col-md-2">
                  <%= calculate_sheets @loop %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h5 class="word-top text-bold pull-right"> Sumario: </h5>
                </div>
                <div class="col-md-10">
                  <%= @loop.topic %>
                </div>
              </div>
              <% if @loop.origin_procedures &&
                @loop.origin_procedures.collect(&:administrative_files).flatten.present? %>
                <div class="row">
                  <div class="col-md-2">
                    <h5 class="word-top text-bold pull-right">Exp. adm.:</h5>
                  </div>
                  <div class="col-md-10">
                    <% @loop.origin_procedures.collect(&:administrative_files).flatten.each do |af| %>
                      <%= af %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="row">
                <div class="col-md-2">
                  <% if @loop.observations.present? %>
                    <h5 class="word-top text-bold pull-right">Observación: </h5>
                  <% end %>
                </div>
                <div class="col-md-10">
                  <%= @loop.observations %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="box box-danger">
              <div class="box-header with-border text-center">
                <h3 class="box-title" style="margin-top: 10px;"> Trámites del Expediente </h3>
              </div>
              <div class="box-body" style="padding-top: 0px;">
                <table class="table table-striped margin-out table-hover">
                  <thead>
                    <tr>
                      <th> Estado </th>
                      <th> Fecha </th>
                      <th> </th>
                      <th style="width: 1%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @loop.legislative_file_states.each do |state| %>
                      <tr>
                        <td>
                          <div>
                            <strong>
                              <%= I18n.t("legislative_files.states.#{state.name}") %>
                            </strong>
                          </div>
                          <%= build_small_state_procedure state %>
                        </td>
                        <td>
                          <div>
                            <strong> <%= state_date(state) %> </strong>
                          </div>
                          <%= build_small_state_type state %>
                        </td>
                        <td>
                          <% if state.initialized? && @loop.origin_procedures.present? %>
                            <%= render 'initiators_signators' %>
                          <% elsif state.dispatched? %>
                            <% state.procedure.comisions.each do |b| %>
                              <div> <strong> <%= b.denominacion %> </strong> </div>
                            <% end %>
                            <small>
                              (Concejales: <%= state.procedure.persons.map(&:text).join(' - ') %>)
                            </small>
                          <% elsif state.in_comision? %>
                            <% state.comisions.each do |c|  %>
                              <div><strong> <%= c %> </strong></div>
                            <% end %>
                          <% elsif state.day_plan? %>
                            <strong> Asunto a Tratar </strong>
                          <% elsif state.sanctioned? %>
                           <div> <strong> <%= state.sanction_specified %> </strong> </div>
                            <small> [<%= state.sanction_type %>] </small>

                            <% state.laws.each do |l| %>
                              <p>
                                <% if l.law_type == "ordenanza" %>
                                  <div>Sancionada la Ordenanza <%= link_to l, l, class: 'label label-info' %></div>
                                <% end %>
                                <% if l.law_type == "declaracion" %>
                                  <div>Sancionada la Declaración nro <%= link_to l, l, class: 'label label-info' %></div>
                                <% end %>
                                <% if l.law_type == "resolucion" %>
                                  <div>Sancionada la Resolución nro <%= link_to l, l, class: 'label label-info' %></div>
                                <% end %>
                              </p>
                            <% end %>
                          <% end %>
                        </td>
                        <td class="pull-right">
                          <% unless state.initialized? || state.dispatched? %>
                            <%= link_to '', edit_legislative_file_state_path(state),
                              class: 'edit-state-btn btn btn-warning btn-lg fa fa-pencil fa-lg',
                              remote: true %>
                            <%= link_to '', state, method: :delete, remote: true,
                              class: 'delete-state-btn btn btn-danger btn-lg fa fa-trash fa-lg', data: { confirm: '¿Está seguro que desea eliminar el estado?' } %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="footer-content col-md-12 text-center">
              <hr>
              <%= link_to new_legislative_file_state_path(legislative_file_id: @loop.id), class: 'new-state-btn btn btn-primary btn-lg',
                title: 'Agregar nuevo estado', remote: true do %>
                <i class="fa fa-plus-circle fa-lg"></i>
                Nuevo Estado
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
