<div id="state-form-modal"></div>
<div id="legislative-file-edit">
  <h2 class="text-center"> ACTUALIZAR EXPEDIENTE LEGISLATIVO </h2>
  <%= form_for @loop, html: { multipart: true } do |f| %>

    <div class="box box-primary">
      <div class="box-header with-border">
        <div class="col-md-6 text-bottom-align">
          <div class="box-title">
            <strong> Expediente legislativo número <%= @loop.number %> año <%= @loop.created_at.year %> </strong>
          </div>
        </div>
      </div>

      <div class="box-body">
        <div class="row">

          <div class="col-xs-3">
            <%= render 'navbar_edit', f: f %>
          </div>

          <div class="col-xs-9">
            <div class="tab-content">
              <div id="summary" class="tab-pane fade in active">
                <%= render 'summary', f: f %>
              </div>

              <div id="info-form" class="tab-pane fade in">
                <%= render 'info', f: f %>
              </div>

              <div id="loops" class="tab-pane fade">
                <%=
                  # render 'loops', f: f
                %>
              </div>

              <div id="attached" class="tab-pane fade">
                <%= render 'attached_files', f: f %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <%= render 'footer', f: f %>
      </div>
    </div>

  <% end -%>
</div>
