<div id="index-legislative-files">
  <h2 class="text-center"> EXPEDIENTES LEGISLATIVOS </h2>

  <div class="box box-primary" id="procedures">
    <div class="box-header">
      <%= render 'header' %>
    </div>
    <div class="box-body">
      <table class="table table-striped dataTable" id="legislative-files-table" data-source="<%= legislative_files_path(format: :json) %>">
        <thead>
          <tr>
            <th>Expediente nro</th>
            <th>Sumario</th>
            <th>Fecha</th>
            <th>Trámite</th>
            <th>Circuitos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @loops.each do |l| %>
            <tr>
              <td> <%= l.number %></td>
              <td> <%= l.topic %></td>
              <td> <%= l.created_at.to_date %></td>
              <td> <%= link_to l.origin_procedure, l.origin_procedure if l.origin_procedure.present? %></td>
              <td> <%= l.loops.count - 1 %></td>
              <td>
                <%= link_to '', legislative_file_path(l), class: 'btn btn-info fa fa-lg fa-eye' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on('ready', function() {
  if ($('#index-legislative-files').length) {
    $('#legislative-files-table').dataTable({
      "order": []
    });
  }
});
</script>
