<div id="index-legislative-files">
  <h2>
    Expedientes legislativos
  </h2>

  <div class="box box-primary" id="procedures">
    <div class="box-header">
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <% if current_user.present? #&& policy(LegislativeFile).create? %>
            <%= link_to new_legislative_file_path, class: 'btn btn-primary btn-lg' do %>
              <i class="fa fa-plus-circle fa-lg"></i>
              Nuevo expediente
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-striped dataTable" id="legislative-files-table" data-source="<%= legislative_files_path(format: :json) %>">
        <thead>
          <tr>
            <th>Expediente nro</th>
            <th>Sumario</th>
            <th>Fecha</th>
            <th>Circuitos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @loops.each do |l| %>
            <tr>
              <td> <%= l.nro_exp %></td>
              <td> <%= l.tema %></td>
              <td> <%= l.created_at.to_date %></td>
              <td> <%= l.loops.count - 1 %></td>
              <td>
                <%= link_to '', '#' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on('ready', function() {
  if ($('#index-legislative-files').length) {
    $('#legislative-files-table').dataTable();
  }
});
</script>
