<div class="initiators-modal"></div>
<div id="legislative-file-new">
  <h2 class="text-center"> NUEVO EXPEDIENTE LEGISLATIVO </h2>
  <%= form_for @loop, url: legislative_files_path, multipart: true do |f| %>

    <div class="box box-primary">
      <div class="box-body">
        <div class="row">

          <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a aria-expanded="true" data-toggle="tab" href="#info">
                  Información
                </a>
              </li>
              <li>
                <a aria-expanded="true" data-toggle="tab" href="#attached">
                  Archivos adjuntos
                </a>
              </li>
            </ul>
          </div>

          <div class="col-xs-9">
            <div class="tab-content">

              <div id="info" class="tab-pane fade in active">
                <div class="lead box-header with-border">
                  Cargue la información del nuevo expediente
                </div>
                <div class="row">
                  <div class="form-group form-group-lg col-md-6">
                    <%= f.label :origin_procedure_ids do %>
                      Trámite
                      <span class="asterisc">*</span>
                    <% end %>
                    <%= f.select :origin_procedure_ids, {}, {}, multiple: true, class: 'form-control input-lg' do %>
                    <% if @procedure_ids.present? %>
                        <% @procedure_ids.each do |proc| %>
                          <option value="<%= proc.id %>" selected> <%= proc.text %> </option>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="form-group col-md-2">
                    <%= f.label :sheets do %>
                      Fojas
                      <span class="asterisc">*</span>
                    <% end %>
                    <%= f.text_field :sheets, { class: 'input-lg form-control', placeholder: 'Fojas', type: 'number', min: '1', step: '1' } %>
                  </div>

                  <div class="form-group col-md-4">
                    <%= f.label :date do %>
                      Fecha
                      <span class="asterisc">*</span>
                    <% end %>
                    <%= f.text_field :date, { class: 'input-lg form-control', type: 'date' } %>
                  </div>

                  <div class="form-group col-md-12">
                    <%= f.label :topic, 'Sumario' %>
                    <%= f.text_area :topic, class: 'input-lg form-control', placeholder: 'Ingrese sumario' %>
                  </div>

                  <div class="form-group col-md-12">
                    <%= f.label :observations, 'Observaciones' %>
                    <%= f.text_area :observations, class: 'form-control', placeholder: 'Ingrese observaciones' %>
                  </div>

                  <div class="form-group col-md-6">
                    <%= f.label :accumulated_in, 'Acumulado en' %>
                    <%= f.select :accumulated_in, {}, {}, { class: 'form-control' } %>
                  </div>

                  <div class="form-group col-md-6">
                    <%= f.label :physically_attached, 'Adjuntado físicamente' %>
                    <%= f.select :physically_attached, {}, {}, { class: 'form-control' } %>
                  </div>

                  <div class="form-group col-md-12">
                    <%= f.label :tags, 'Voces claves' %>
                    <%= f.select :tags, {}, {}, class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div id="attached" class="tab-pane fade">
                <div class="lead box-header with-border">
                  Puede adjuntar todo tipo de archivos
                </div>
                <%= f.fields_for :uploads do |upload| %>
                  <div class="form-group uploads">
                    <%= f.label :upload, 'Busque y seleccione archivos' %>
                    <%= f.file_field :upload, type: :file, multiple: true %>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <div class="pull-right">
          <%= link_to legislative_files_path, class: 'btn btn-default' do %>
            <i class="fa fa-times-circle"></i>
            Cancelar
          <% end -%>
          <%= button_tag type: 'submit', class: 'btn btn-success btn-lg' do  %>
            <i class="fa fa-save fa-lg"></i>
            Guardar
          <% end -%>
        </div>
      </div>

    </div>
  <% end -%>
</div>


Loop.where.not(origin_procedure_id: nil).each do |loop|
  loop.origin_procedures << Procedure.find(loop.origin_procedure_id) if loop.origin_procedures.empty?
end

Loop.where.not(origin_procedure_id: nil).each do |loop|
  proc = Procedure.find(loop.origin_procedure_id)
  proc.update legislative_file_originated_id: loop.id
end

Procedure.where(legislative_file_originated_id: nil).each do |proc|
  proc.
end



counter = 0
Loop.where.not(origin_procedure_id: nil).each do |loop8|
  next if loop8.origin_procedures.present?
  counter += 1
  loop8.origin_procedures << Procedure.find(loop8.origin_procedure_id)
  puts "NOOOOOOOOOOOOOOO" if !loop8.save
end
puts "TOTAL #{counter}"




counter = 0
array = []
Loop.where.not(origin_procedure_id: nil).each do |loop8|
  next if loop8.origin_procedures.empty?
  counter += 1
  array << loop.id
end
puts "TOTAL #{counter}"
