#despacho
  #despacho-edit
  %button#btn-new.btn.btn-primary
    %span.glyphicon.glyphicon-plus-sign{ "aria-hidden": true }
    = t('.btnheader.new')

  %table.table.table-striped.table-bordered#despacho-table{"data-source" => despachos_path(format: :json)}
    %thead
      %tr
        %th= t('.table.despacho')
        %th{width: "10%"}= t('.table.fojas')
        %th= t('.table.expedientes')
        %th= t('.table.fecha')
        %th= t('.table.comisiones')
        %th= t('.table.concejales')
        %th= t('.table.observaciones')
        %th
    %tbody
