= f.label :person
.row
  .form-group.col-md-6
    = f.select :person_id, {}, {}, class: 'form-control input-lg', placeholder: 'Busque personas existentes en el sistema', type: :text do
      - if user.person.present?
        = content_tag :option, user.person.full_name, value: user.person_id
  .col-md-2
    = link_to new_initiator_path, class: 'initiator-btn btn btn-primary btn-lg', remote: true do
      .fa.fa-user-plus
      = t '.add'
.row
  .form-group.col-md-6
    = f.label :email
    = f.text_field :email, type: :email, class: 'form-control input-lg', placeholder: 'Email personal'
  .form-group.col-md-6
    = f.label :roles
    = f.select :role_ids, {}, {}, multiple: true, class: 'form-control input-lg', placeholder: 'Administre permisos/roles para el usuario' do
      - if @user.roles.present?
        - @user.roles.each do |r|
          = content_tag :option, r.name, value: r.id, selected: true
.row
  .form-group.col-md-6
    = f.label :password
    = f.text_field :password, type: :password, class: 'form-control input-lg', placeholder: 'Contraseña'

  .form-group.col-md-6
    = f.label :areas
    = f.select :areas, areas_users_options(@user), { include_blank: true, prompt: 'Seleccione un Área' }, class: 'form-control input-lg', name: "areas[]"

  .form-group.col-md-6
    = f.label :password_confirmation
    = f.text_field :password_confirmation, type: :password, class: 'form-control input-lg', placeholder: 'Confirme contraseña'
