.initiators-modal
#user-new
  %h2.text-center
    = t '.user_title'

  .box.box-primary
    = form_for @user, url: users_path do |f|
      .lead.box-header.with-border
        Cree un usuario nuevo
      .box-body
        = render 'user_form', f: f, user: @user
      .box-footer
        .pull-right
          = link_to users_path, class: 'btn btn-default' do
            .fa.fa-times-circle
            Cancelar
          %button.btn.btn-success.btn-lg{ type: :submit }
            .fa.fa-save.fa-lg
            = t('.submit')

:javascript
$(document).ready(function() {
  if($('#user-new').length) {
    Users.searchRoles();
  }
})
