%br
.input-group
  = label_tag nil, 'Derivar a', { class: 'input-group-addon', id: 'basic-addon8' }
  = text_field_tag nil, nil, { multiple: :multiple, style: 'width: 100%', id: 'derived-states' }
%br
%table.table.table-striped.table-bordered.table-hover#states-table
  %thead
    %tr
      %th Estado
      %th Fecha
      %th{ width: '1%' }= icon('fa fa-trash', class: 'fa-1x')
  %tbody
    - @process.estado_tramites.where(tipo: 2).each do |x|
      - if (x.ref_type == 'Personal')
        - text = x.ref.apellido + ", " + x.ref.nombre;
      - else
        - text = x.ref.denominacion;
      %tr{ class: 'derivacion-tr', 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
        %td= "Derivado a #{x.ref_type}: #{text}"
        %td= to_date(x.created_at)
        %td= icon 'fa fa-times fa-1x', nil, class: 'btn btn-xs remove-table-row'
  %tfoot
    %tr
      %td
      %td
      %td
