= hidden_field_tag :iniciadores
= hidden_field_tag :states

.input-group
  = f.label :nro_fojas, { class: 'input-group-addon', id: 'basic-addon8' }
  = f.text_field :nro_fojas, { class: 'form-control', 'aria-describedby': 'basic-addon8', placeholder: t('.fojas'), type: :number }
.input-group
  = f.label t('.iniciadores'), { class: 'input-group-addon', id: 'basic-addon08' }
  = text_field_tag nil, nil, { multiple: 'multiple', style: 'width:100%', id: 'condonacion_iniciadores', data: { load: prepopulate_iniciadores(@condonacion) }}
.input-group
  = f.label t('.asunto_label'), { class: 'input-group-addon', id: 'basic-addon9' }
  = f.text_area :asunto, { class: 'form-control', 'aria-describedby' => 'basic-addon9', placeholder: t('.asunto'), type: :text }
.input-group
  = f.label t('.observations'), { class: 'input-group-addon', id: 'basic-addon10' }
  = f.text_area :observaciones, { class: 'form-control', 'aria-describedby' => 'basic-addon10', placeholder: t('.observations'), type: :text }
.input-group
  = label_tag nil, 'Derivar a', { class: 'input-group-addon', id: 'basic-addon8' }
  = text_field_tag nil, nil, { multiple: :multiple, style: 'width: 100%', id: 'derived-states' }
%table.table.table-striped.table-bordered#states-table
  %thead
    %tr
      %th Estado
      %th Fecha
      %th{ width: '1%' }= icon('fa fa-trash', class: 'fa-1x')
  %tbody
    - @condonacion.estado_tramites.where(tipo: 2).each do |x|
      - if (x.ref_type == 'Personal')
        - text = x.ref.apellido + ", " + x.ref.nombre;
      - else
        - text = x.ref.denominacion;
      %tr{ class: 'derivacion-tr', 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
        %td= "Derivado a #{x.ref_type}: #{text}"
        %td= to_date(x.created_at)
        %td= icon 'fa fa-times fa-1x', nil, class: 'btn btn-xs remove-table-row'
.input-group
  = f.label t('.final'), { class: 'input-group-addon' }
  = text_area_tag :finalizado, nil, { class: 'form-control', 'aria-describedby' => 'basic-addon011', type: :text }
