= hidden_field_tag :iniciadores
= hidden_field_tag :states

.input-group
  = f.label :nro_fojas, { class: 'input-group-addon', id: 'basic-addon8' }
  = f.text_field :nro_fojas, { class: 'form-control', 'aria-describedby': 'basic-addon8', placeholder: t('.fojas'), type: :number, min: 1 }

.input-group
  = f.label t('.iniciadores'), { class: 'input-group-addon', id: 'basic-addon08' }
  = text_field_tag nil, nil, { multiple: 'multiple', style: 'width:100%', id: 'process_iniciadores', data: { load: prepopulate_iniciadores(@process) }}

.input-group
  = f.label t('.asunto_label'), { class: 'input-group-addon', id: 'basic-addon9' }
  = f.text_area :asunto, { class: 'form-control', 'aria-describedby' => 'basic-addon9', placeholder: t('.asunto'), type: :text }

.input-group
  = f.label t('.observations'), { class: 'input-group-addon', id: 'basic-addon10' }
  = f.text_area :observaciones, { class: 'form-control', 'aria-describedby' => 'basic-addon10', placeholder: t('.observations'), type: :text }

.input-group
  = f.label t('.final'), { class: 'input-group-addon' }
  = text_area_tag :finalizado, nil, { class: 'form-control', 'aria-describedby' => 'basic-addon011', type: :text }

.input-group
  = f.label "Tipo", { class: 'input-group-addon' }
  = f.select :type, type_options, {}, { title: 'Tipo de trámite', class: 'form-control' }
