#person-edit
  %h2.text-center
    Actualize los datos personales

  .box.box-primary
    = form_for @person, as: :person, url: person_path do |f|
      .lead.box-header.with-border
        Edite datos del usuario
      .box-body
        .form-group.col-md-6
          = f.label :type
          = f.select :type, options_for_select(initiator_options, @person.type), {}, class: 'form-control'
        .form-group.col-md-6
          = f.label :name
          = f.text_field :name, class: 'form-control'
        .form-group.col-md-6
          = f.label :surname
          = f.text_field :surname, class: 'form-control'
        .form-group.col-md-6
          = f.label :address
          = f.text_field :address, class: 'form-control'
        .form-group.col-md-6
          = f.label :cuit_or_dni
          = f.text_field :cuit_or_dni, class: 'form-control'
        .form-group.col-md-6
          = f.label :phone
          = f.text_field :phone, class: 'form-control'
        .form-group.col-md-6
          = f.label :email
          = f.text_field :email, class: 'form-control', type: 'email'

      .box-footer
        .pull-right
          = link_to users_path, class: 'btn btn-default' do
            .fa.fa-times-circle
            Cancelar
          %button.btn.btn-success.btn-lg{ type: :submit }
            .fa.fa-save.fa-lg
            Guardar
