#person-edit

#people
  %h2.text-center
    PERSONAS
  .box.box-primary
    .box-header
      = link_to print_people_path, class: 'btn btn-lg btn-danger pull-right' do
        %i.fa.fa-print
        = "Reporte #{Date.today.year}"
    %hr.minimal-hr
    .box-body
      %table.table.table-striped.dataTable.table-hover#people-table{ style: 'table-layout: fixed; word-wrap: break-word;', 'data-source': persons_path(format: :json) }
        %thead
          %tr
            %th= t('.type')
            %th= t('.name')
            %th= t('.surname')
            %th= t('.address')
            %th= t('.dni_cuit')
            %th= t('.phone')
            %th= t('.email')
        %tbody

:javascript
  People.IndexDataTable.init();
