- content_for :title, @person.type == 'Fisica' ? "Persona física" : "Persona jurídica"
#person-edit

#person-show
  %section.invoice
    / title row
    .row
      .col-xs-12
        %h2.page-header
          %i.fa.fa-user
          = t '.personal_data'
          %small.pull-right= t '.created_at', date: @person.created_at
      / /.col
    / info row
    .row.invoice-info
      .col-xs-12
        %i= t ".#{@person.type}"
      .col-sm-6.invoice-col
        %address
          %strong= t '.name'
          = @person.name || '-.'
          %br/
          %strong= t '.surname'
          = @person.surname || '-.'
          %br/
          %strong= t '.dni_cuit'
          = @person.cuit_or_dni || '-.'
      / /.col
      .col-sm-6.invoice-col
        %span.pull-right
          = link_to 'Editar', edit_person_path(@person),
                    class: 'btn btn-warning fa fa-edit person-edit',
                    remote: true, title: 'Editar persona'
        %address
          %strong= t '.address'
          = @person.address || '-.'
          %br/
          %strong= t '.phone'
          = @person.phone || '-.'
          %br/
          %strong= t '.email'
          = @person.email || '-.'

    %hr

    .row
      .col-xs-12.table-responsive
        %table.table.table-striped.table-hover#person-tramites
          %thead
            %tr
              %th Nro
              %th Tramite
              %th Fojas
              %th Asunto / Solicitud
              %th Observaciones
              %th Actualizado el
          %tbody
            - @person.procedures.each do |t|
              %tr
                %td= link_to t.id, procedure_path(t)
                %td= t.type
                %td= t.sheets
                %td= t.topic
                %td= t.observations
                %td= t.updated_at
          %tfoot
            %tr
              %td
              %td
              %td
              %td
              %td
              %td

    .row.no-print
      .col-xs-12
        %button.btn.btn-danger.pull-left{:style => "margin-right: 5px;", :type => "button"}
          %i.fa.fa-print
          Imprimir

:javascript
$(document).ready(function() {
  $('#person-tramites').dataTable({
    bServerSide: false,
    pagingType: 'simple'
  });

  $('.person-edit').on('ajax:success', function(XHR, data, status) {
    $('#person-edit').html(data);
    $('#person-edit .modal').modal('show');

    $('#person-edit form').on('ajax:success', function(){
      $('#person-edit .modal').modal('hide');
      location.reload();
    })
  });
});
