#councilors
  %h2.text-center
    CONCEJALES

  .box.box-primary#procedures
    .box-header
      = render 'header_buttons'

    .box-body
      .row
        .col-md-12
          %table.table.table-striped#councilors-table.table-hover{ style: 'table-layout: fixed; word-wrap: break-word;', 'data-source': councilors_path(format: :json) }
            %thead
              %tr
                %th= t('.fullname')
                %th= t('.cuit')
                %th= t('.address')
                %th= t('.phone')
                %th= t('.email')
                %th= t('.period')
                %th
            %tbody

:javascript
  Councilors.IndexDataTable.init();
