<div class="modal fade" data-backdrop="static" id="initiator-new" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @legislative_file_state, remote: true do |f| %>

        <div class="modal-header bg-primary">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> × </span>
          </button>
          <h4 class="modal-title"> Cargue un nuevo estado en el expediente </h4>
        </div>

        <div class="modal-body row">
          <div class="col-md-12 form-group">
            <div class="form-group col-md-4">
              <%= f.label :name, 'Nombre' %>
              <%= f.select :name, file_states, {}, class: 'input-lg form-control' %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :state_type, 'Tipo de estado' %>
              <%= f.select :state_type, options_for_select([%w(Administrativo administrative), %w(Parlamentario parlamentary), %w(Comisión comision)]), {}, class: 'input-lg form-control' %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :date_at, 'Fecha' %>
              <%= f.text_field :date_at, type: 'date', class: 'input-lg form-control' %>
            </div>

            <div class="form-group col-md-12">
              <%= f.label :comisions, 'Comisiones asociadas' %>
              <%= f.select :comisions, {}, {}, class: 'input-lg form-control' %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :date_at, 'Ingrese Sesion' %>
              <%= f.text_field :date_at, class: 'input-lg form-control' %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :date_at, 'Orden del día' %>
              <%= f.text_field :date_at, class: 'input-lg form-control' %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">
            <div class="fa fa-times-circle"></div> Cancelar
          </button>
          <button class="btn btn-primary btn-lg" type="submit">
            <div class="fa fa-save fa-lg"></div> Cargar Estado
          </button>
        </div>

      <% end %>
    </div>
  </div>
</div>
