- activities_sets.each do |set|
  .col-md-4.col-sm-4.col-xs-12
    .box.box-danger
      .box-header.with-border.text-center
        %h2.box-title= set[:title]
      .box-body
        %ul.to_do
          - set[:activities].each do |activity|
            %li.remove-bullet
              %p
                .fa-checkbox.xs
                  = check_box_tag "role[activities][]", activity[:activity], @role.has?(activity[:activity]), { id: activity[:activity], class: 'icheck-me', 'data-skin': :square, 'data-color': :red }
                  %label.pointer{ for: activity[:activity] }= activity[:name]

.col-md-12.col-sm-12.col-xs-12
  .pull-right
    = link_to roles_path, class: 'btn btn-default' do
      .fa.fa-times-circle
      = t('.cancel')
    %button.btn.btn-success.btn-lg{ type: :submit }
      .fa.fa-save.fa-lg
      = t('.submit')
