#roles
  %h2.text-center
    = t '.rols'

  .box.box-primary
    .box-header
      .row
        .col-md-5.col-xs-12
          - if current_user.present?
            = link_to new_role_path, 'data-target': '#myModal', class: 'btn btn-primary btn-lg' do
              %i.fa.fa-plus-circle.fa-lg
              = t('.new')

    .box-body
      %table.table.table-bordered.table-striped.dataTable#roles-table{ 'data-source': roles_path(format: :json) }
        %thead
          %tr
            %th= t('.name')
            %th= t('.created_at')
            %th= t('.activities')
            %th= t('.roles_amount')
        %tbody
          - @roles.each do |role|
            %tr{ 'data-id': role.id }
              %td= role.name
              %td= role.created_at
              %td= role.activities.to_s
              %td= role.users.count

:javascript
$(document).on('ready', function(){
  if ($('#roles').length)
    $('#roles-table').dataTable();

    $('#roles-table').on('click', 'tr', function(ev) {
      var id = $(ev.currentTarget).data('id');
      var url = "#{roles_path}/" + id + "/edit";
      // similar behavior as clicking on a link
      if(id != undefined)
        window.location.href = url;
    });
})


