#roles
  %h2
    = t '.rols'

  .box.box-primary
    .box-header
      .row
        .col-md-5.col-xs-12
          - if current_user.present?
            = link_to new_role_path, 'data-target': '#myModal', class: 'btn btn-primary btn-lg' do
              %i.fa.fa-plus-circle.fa-lg
              = t('.new')

    .box-body
      %table.table.table-hover.table-striped.dataTable.table-hover#roles-table{ 'data-source': roles_path(format: :json) }
        %thead
          %tr
            %th #
            %th= t('.name')
            %th= t('.created_at')
            %th= t('.activities')
            %th= t('.roles_amount')
            %th
        %tbody
          - @roles.each do |role|
            %tr{ 'data-id': role.id }
              %td= role.id
              %td= role.name
              %td= role.created_at
              %td= show_activities(role.activities)
              %td= role.users.count
              %td= link_to content_tag(:i, nil, class: 'fa fa-pencil'), edit_role_path(role), class: 'btn btn-warning'
