$(document).on 'ready page:load', ->
  $('#declaracion-table').dataTable
    ajaxSource: $('#declaracion-table').data('source')
    fnInitComplete: ->
      $('div.dataTables_filter input').focus()
      $('div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
      return
    fnDrawCallback: ->
      $('tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('tr:eq(1)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#add_disp', ->
    flagTokenInput = false
    $.each $('#norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#refer_type  option:selected').text()
      dates = ""
      tipo_rel = $('#refer_type  option:selected').val()
      date_desde = $("#from_refer").val()
      date_hasta = $("#to_refer").val()
      if date_desde != ""
        dates = dates + "Desde " + date_desde + "\n"
      if date_hasta != ""
          dates = dates + "Hasta " + date_hasta + "\n"
      date_hasta_dia = $("#day_refer").val()
      date_hasta_mes = $("#month_refer").val()
      date_hasta_anio = $("#year_refer").val()
      date_tipo_dia = $("[name=tipo_dia]:checked").val()
      row = "<tr class='linked-normas-table' data-id='#{this.id}'" +
      " data-desde='#{date_desde}' data-hasta='#{date_hasta}' data-hasta-dia='#{date_hasta_dia}'" +
      " data-hasta-mes='#{date_hasta_mes}' data-hasta-anio='#{date_hasta_anio}' " +
      "data-tipo-relacion='#{tipo_rel}' " +
      "data-dia-tipo='#{date_tipo_dia}'> " +
      "<td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-tr btn btn-xs'></i> </td> </tr>"
      $('#disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#norma').tokenInput 'clear'
      $('#from_refer').val ''
      $('#to_refer').val ''
      $('#day_refer').val ''
      $('#month_refer').val ''
      $('#year_refer').val ''
    else
      alert "<%= I18n.t('declaracions.modal_declaration.alert.norma_has_linked') %>"

  $(document).on 'click', '#classify', ->
    $('#nuevoLabel').text("<%=I18n.t('declaracions.modal_declaration.title.clasification')%>")
    $('#classify').css('display','none')
    $('#dates').css('display','inline-block')
    $('#second-column').fadeOut(100)
    setTimeout (->
      $('.clasification').fadeIn(100)
      return
    ), 250
    $('.dates').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#ready', ->
    $('#nuevoLabel').text("<%=I18n.t('declaracions.modal_declaration.title.create_declaration')%>")
    $('#classify').css('display','inline-block')
    $('#dates').css('display','inline-block')
    $('.clasification').fadeOut(100)
    setTimeout (->
      $('#second-column').fadeIn(100)
      return
    ), 250
    $('.dates').fadeOut(100)
    setTimeout (->
      $('#second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '#dates', ->
    $('#nuevoLabel').text("<%=I18n.t('declaracions.modal_declaration.btn_clasification.dates')%>")
    $('#dates').css('display','none')
    $('#classify').css('display','inline-block')
    $('#second-column').fadeOut(100)
    setTimeout (->
      $('.dates').fadeIn(100)
      return
    ), 250
    $('.clasification').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '.remove-tr', ->
    $(this).parents().eq(1).remove()

  $('#btn-new').on 'click', ->
    $.get '/declaracions/new', (data) ->
      $('#declaracion-edit').empty()
      $('#declaracion-edit').append data
      $('#declaracion-edit .modal').modal 'show'
      return

  $(document).on 'click', '.linktoedit', ->
    id = $(this).data 'id'
    $.get "/declaracions/#{id}/edit", (data) ->
      $('#declaracion-edit').empty()
      $('#declaracion-edit').append data
      $('#declaracion-edit .modal').modal 'show'

      ## Preload token inputs
      tokenData = $('#exped_token').data 'load'
      $.each tokenData, (index, exp) ->
        $('#exped_token').tokenInput 'add', exp
        return

      tokenTag = $('#tags-tokeninput').data 'load'
      $.each tokenTag, (index, tag) ->
        $('#tags-tokeninput').tokenInput 'add', tag
        return

      return  

  $(document).on 'focus', 'textarea', ->
    $(this).elastic();
    return

  $(document).on 'focusout', 'textarea', ->
    $(this).animate({ height: "#{40}" }, 200);
    return

  $(document).keydown (event) ->
    table = $('#declaracion-table').dataTable()
    currentRow = $('tr.info').get(0)
    switch event.keyCode
      ## arrow down
      when 40
        if $(currentRow).next().length != 0
          $(currentRow).next().addClass 'info'
          $(currentRow).removeClass 'info'
      ## arrow up
      when 38
        if $(currentRow).prev().length != 0
          $(currentRow).prev().addClass 'info'
          $(currentRow).removeClass 'info'
      ## arrow left
      when 37
        table.fnPageChange('previous')
      ## arrow right
      when 39
        table.fnPageChange('next')
      when 13
        $('tr.info').find('td:eq(0) a').get(0).click()
    ## Update scrollbar
    rowpos = $('tr.info').position()
    $(document).scrollTop(rowpos.top-45)
    return
