$(document).on 'ready page:load', ->
  $('#declaracion-table').dataTable
    ajaxSource: $('#declaracion-table').data('source')
    fnInitComplete: ->
      $('div.dataTables_filter input').focus()
      $('div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
    fnInfoCallback: (oSettings, iStart, iEnd, iMax, iTotal, sPre ) ->
      $('tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
      return

  $('#declaracion_expedientes').tokenInput '/declaracions/search_exp',
    preventDuplicates: true
    propertyToSearch: 'indice'
    theme: 'bootstrap'
    zindex: 1050
    hintText: "<%= I18n.t('declaracions.index.modal.enter_exp') %>"
    resultsFormatter: (exp) ->
      '<li><p style= \'color: black\'> Exp: ' + exp.indice + '</p></li>'
    tokenFormatter: (exp) ->
      '<li><p> Exp: ' + exp.indice + '</p></li>'
    allowTabOut: true
    placeholder: "<%= I18n.t('tokeninput.placeholder.exp_example') %>"

  $('#tags-tokeninput').tokenInput '/declaracions/search_tag',
    preventDuplicates: true
    propertyToSearch: 'nombre'
    theme: 'bootstrap'
    zindex: 1050
    hintText: "<%= I18n.t('tokeninput.placeholder.tag_example') %>"
    resultsFormatter: (tag) ->
      '<li><p style= \'color: black\'>' + tag.nombre + '</p></li>'
    tokenFormatter: (tag) ->
      '<li><p>' + tag.nombre + '</p></li>'
    allowTabOut: true
    placeholder: "<%= I18n.t('tokeninput.placeholder.tag') %>"

  $('#norma').tokenInput '/declaracions/search_norma',
    preventDuplicates: true
    propertyToSearch: 'indice'
    theme: 'bootstrap'
    zindex: 1050
    hintText: "<%= I18n.t('declaracions.index.modal.enter_norma') %>"
    resultsFormatter: (norma) ->
      '<li><p style= \'color: black\'> ' + norma.indice + '</p></li>'
    tokenFormatter: (norma) ->
      '<li><p> ' + norma.indice + '</p></li>'
    allowTabOut: true
    placeholder: "<%= I18n.t('tokeninput.placeholder.norma_example') %>"

  $('#add_disp').on 'click', ->
    flagTokenInput = false
    $.each $('#norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#refer_type  option:selected').text()
      dates = ""
      row = "<tr> <td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-tr'></i> </td> </tr>"
      $('#disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#norma').tokenInput 'clear'
      $('#from_refer').val ''
      $('#to_refer').val ''
      $('#day_refer').val ''
      $('#month_refer').val ''
      $('#year_refer').val ''
    else
      alert 'Debe vincular alguna norma.'

  $('#classify').on 'click', ->
    $('#second-column').fadeOut(100)
    setTimeout (->
      $('.clasification').fadeIn(100)
      return
    ), 250

  $('#ready').on 'click', ->
    $('.clasification').fadeOut(100)
    setTimeout (->
      $('#second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '.remove-tr', ->
    $(this).parents().eq(1).remove()
