$(document).on 'ready page:load', ->
  $('#decreto-table').dataTable
    ajaxSource: $('#decreto-table').data('source')
    fnInitComplete: ->
      $('#decreto div.dataTables_filter input').focus()
      $('#decreto div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
      return
    fnDrawCallback: ->
      $('#decreto-table tbody tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('#decreto-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#decreto #add_disp', ->
    flagTokenInput = false
    $.each $('#decreto #norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#decreto #refer_type  option:selected').text()
      dates = ""
      tipo_rel = $('#decreto #refer_type  option:selected').val()
      date_desde = $("#decreto #from_refer").val()
      date_hasta = $("#decreto #to_refer").val()
      if date_desde != ""
        dates = dates + "Desde " + date_desde + "\n"
      if date_hasta != ""
          dates = dates + "Hasta " + date_hasta + "\n"
      date_hasta_dia = $("#decreto #day_refer").val()
      date_hasta_mes = $("#decreto #month_refer").val()
      date_hasta_anio = $("#decreto #year_refer").val()
      date_tipo_dia = $("#decreto [name=tipo_dia]:checked").val()
      row = "<tr class='linked-normas-table' data-id='#{this.id}'" +
      " data-desde='#{date_desde}' data-hasta='#{date_hasta}' data-hasta-dia='#{date_hasta_dia}'" +
      " data-hasta-mes='#{date_hasta_mes}' data-hasta-anio='#{date_hasta_anio}' " +
      "data-tipo-relacion='#{tipo_rel}' " +
      "data-dia-tipo='#{date_tipo_dia}'> " +
      "<td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
      $('#decreto #disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#decreto #norma').tokenInput 'clear'
      $('#decreto #from_refer').val ''
      $('#decreto #to_refer').val ''
      $('#decreto #day_refer').val ''
      $('#decreto #month_refer').val ''
      $('#decreto #year_refer').val ''
    else
      alert "<%= I18n.t('decretos.modal_decreto.alert.norma_has_linked') %>"

  $(document).on 'click', '#decreto #add_destiny', ->
    if $("#decreto #destiny").val() == "" || $("#decreto #destiny_date").val() == ""
      alert("Destino o Fecha no pueden estar vacios")
      return
    destiny = $("#decreto #select_destiny option:selected")
    row = "<tr data-value='#{destiny.val()}' data-destiny='#{$('#destiny').val()}'" +
          " data-date='#{$('#destiny_date').val()}' class='destiny-row'>" +
          "<td> #{destiny.text()} </td>" +
          "<td> #{$('#destiny').val()} </td>" +
          "<td> #{$('#destiny_date').val()} " +
          "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
    $('#decreto #destinies_table tbody').append(row)
    $("#decreto #destiny").val('')
    $("#decreto #destiny_date").val('')

  $(document).on 'click', '#decreto #classify', ->
    $('#decreto #nuevoLabel').text("<%=I18n.t('decretos.modal_decreto.title.clasification')%>")
    $('#decreto #classify').css('display','none')
    $('#decreto #dates').css('display','inline-block')
    $('#decreto #second-column').fadeOut(100)
    setTimeout (->
      $('#decreto .clasification').fadeIn(100)
      return
    ), 250
    $('#decreto .dates').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#decreto #ready', ->
    $('#decreto #nuevoLabel').text("<%=I18n.t('decretos.modal_decreto.title.create_decreto')%>")
    $('#decreto #classify').css('display','inline-block')
    $('#decreto #dates').css('display','inline-block')
    $('#decreto .clasification').fadeOut(100)
    setTimeout (->
      $('#decreto #second-column').fadeIn(100)
      return
    ), 250
    $('#decreto .dates').fadeOut(100)
    setTimeout (->
      $('#decreto #second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '#decreto #dates', ->
    $('#decreto #nuevoLabel').text("<%=I18n.t('decretos.modal_decreto.btn_clasification.dates')%>")
    $('#decreto #dates').css('display','none')
    $('#decreto #classify').css('display','inline-block')
    $('#decreto #second-column').fadeOut(100)
    setTimeout (->
      $('#decreto .dates').fadeIn(100)
      return
    ), 250
    $('#decreto .clasification').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $('#decreto #btn-new').on 'click', ->
    $(document).off 'keydown'
    $.get '/decretos/new', (data) ->
      $('#decreto-edit').empty()
      $('#decreto-edit').append data
      $('#decreto-edit .modal').modal 'show'
      return

  $(document).on 'click', '#decreto .linktoedit', ->
    $(document).off 'keydown'
    id = $(this).data 'id'
    $('#decreto-edit').empty()
    $.get "/decretos/#{id}/edit", (data) ->
      $('#decreto-edit').append data
      $('#decreto-edit .modal').modal 'show'

      ## Preload token inputs
      tokenData = $('#decreto #exped_token').data 'load'
      $.each tokenData, (index, exp) ->
        $('#decreto #exped_token').tokenInput 'add', exp
        return

      tokenTag = $('#decreto #tags-tokeninput').data 'load'
      $.each tokenTag, (index, tag) ->
        $('#decreto #tags-tokeninput').tokenInput 'add', tag
        return

      return

  ## hotkey create decreto
  $.ctrl 'C', ->
    $('#decreto #btn-new').click()
    return

  ## hotkey edit decreto
  $.ctrl 'E', ->
    $('#decreto table tbody').find('.info').find('.linktoedit').click()
    return
