$(document).on 'ready page:load', ->
  $('#ordenanza-table').dataTable
    ajaxSource: $('#ordenanza-table').data('source')
    fnInitComplete: ->
      $('#ordenanza div.dataTables_filter input').focus()
      $('#ordenanza div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
      return
    fnDrawCallback: ->
      $('#ordenanza-table tbody tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('#ordenanza-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#ordenanza #add_disp', ->
    flagTokenInput = false
    $.each $('#ordenanza #norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#ordenanza #refer_type  option:selected').text()
      dates = ""
      tipo_rel = $('#ordenanza #refer_type  option:selected').val()
      date_desde = $("#ordenanza #from_refer").val()
      date_hasta = $("#ordenanza #to_refer").val()
      if date_desde != ""
        dates = dates + "Desde " + date_desde + "\n"
      if date_hasta != ""
          dates = dates + "Hasta " + date_hasta + "\n"
      date_hasta_dia = $("#ordenanza #day_refer").val()
      date_hasta_mes = $("#ordenanza #month_refer").val()
      date_hasta_anio = $("#ordenanza #year_refer").val()
      date_tipo_dia = $("#ordenanza [name=tipo_dia]:checked").val()
      row = "<tr class='linked-normas-table' data-id='#{this.id}'" +
      " data-desde='#{date_desde}' data-hasta='#{date_hasta}' data-hasta-dia='#{date_hasta_dia}'" +
      " data-hasta-mes='#{date_hasta_mes}' data-hasta-anio='#{date_hasta_anio}' " +
      "data-tipo-relacion='#{tipo_rel}' " +
      "data-dia-tipo='#{date_tipo_dia}'> " +
      "<td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-tr btn btn-xs'></i> </td> </tr>"
      $('#ordenanza #disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#ordenanza #norma').tokenInput 'clear'
      $('#ordenanza #from_refer').val ''
      $('#ordenanza #to_refer').val ''
      $('#ordenanza #day_refer').val ''
      $('#ordenanza #month_refer').val ''
      $('#ordenanza #year_refer').val ''
    else
      alert "<%= I18n.t('ordenanzas.modal_ordenanza.alert.norma_has_linked') %>"

  $(document).on 'click', '#add_destiny', ->
    if $("#ordenanza #destiny").val() == "" || $("#ordenanza #destiny_date").val() == ""
      alert("Destino o Fecha no pueden estar vacios")
      return
    destiny = $("#ordenanza #select_destiny option:selected")
    row = "<tr data-value='#{destiny.val()}' data-destiny='#{$('#destiny').val()}'" +
          " data-date='#{$('#destiny_date').val()}' class='destiny-row'>" +
          "<td> #{destiny.text()} </td>" +
          "<td> #{$('#destiny').val()} </td>" +
          "<td> #{$('#destiny_date').val()} " +
          "<td> <i class='fa fa-times remove-tr btn btn-xs'></i> </td> </tr>"
    $('#ordenanza #destinies_table tbody').append(row)
    $("#ordenanza #destiny").val('')
    $("#ordenanza #destiny_date").val('')

  $(document).on 'click', '#ordenanza #classify', ->
    $('#ordenanza #nuevoLabel').text("<%=I18n.t('ordenanzas.modal_ordenanza.title.clasification')%>")
    $('#ordenanza #classify').css('display','none')
    $('#ordenanza #dates').css('display','inline-block')
    $('#ordenanza #second-column').fadeOut(100)
    setTimeout (->
      $('#ordenanza .clasification').fadeIn(100)
      return
    ), 250
    $('#ordenanza .dates').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#ordenanza #ready', ->
    $('#ordenanza #nuevoLabel').text("<%=I18n.t('ordenanzas.modal_ordenanza.title.create_ordenanza')%>")
    $('#ordenanza #classify').css('display','inline-block')
    $('#ordenanza #dates').css('display','inline-block')
    $('#ordenanza .clasification').fadeOut(100)
    setTimeout (->
      $('#ordenanza #second-column').fadeIn(100)
      return
    ), 250
    $('#ordenanza .dates').fadeOut(100)
    setTimeout (->
      $('#ordenanza #second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '#ordenanza #dates', ->
    $('#ordenanza #nuevoLabel').text("<%=I18n.t('ordenanzas.modal_ordenanza.btn_clasification.dates')%>")
    $('#ordenanza #dates').css('display','none')
    $('#ordenanza #classify').css('display','inline-block')
    $('#ordenanza #second-column').fadeOut(100)
    setTimeout (->
      $('#ordenanza .dates').fadeIn(100)
      return
    ), 250
    $('#ordenanza .clasification').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#ordenanza .remove-tr', ->
    id = $(this).data 'remove'
    if confirm('Desea eliminar la norma')
      $.ajax
        url: "/ordenanzas/#{id}"
        type: 'DELETE'
        success: (result) ->
          window.location.href = result.url
          return

  $('#ordenanza #btn-new').on 'click', ->
    $(document).off 'keydown'
    $.get '/ordenanzas/new', (data) ->
      $('#ordenanza-edit').empty()
      $('#ordenanza-edit').append data
      $('#ordenanza-edit .modal').modal 'show'
      return    

  $(document).on 'click', '#ordenanza .linktoedit', ->
    $(document).off 'keydown'
    id = $(this).data 'id'
    $('#ordenanza-edit').empty()
    $.get "/ordenanzas/#{id}/edit", (data) ->
      $('#ordenanza-edit').append data
      $('#ordenanza-edit .modal').modal 'show'

      ## Preload token inputs
      tokenData = $('#ordenanza #exped_token').data 'load'
      $.each tokenData, (index, exp) ->
        $('#ordenanza #exped_token').tokenInput 'add', exp
        return

      tokenTag = $('#ordenanza #tags-tokeninput').data 'load'
      $.each tokenTag, (index, tag) ->
        $('#ordenanza #tags-tokeninput').tokenInput 'add', tag
        return

      return

  $(document).on 'focus', 'textarea', ->
    $(this).elastic();
    return

  $(document).on 'focusout', 'textarea', ->
    $(this).animate({ height: "#{40}" }, 200);
    return

  $(document).keydown (event) ->
    table = $('#ordenanza-table').dataTable()
    currentRow = $('#ordenanza-table tbody tr.info').get(0)
    switch event.keyCode
      ## arrow down
      when 40
        if $(currentRow).next().length != 0
          $(currentRow).next().addClass 'info'
          $(currentRow).removeClass 'info'
      ## arrow up
      when 38
        if $(currentRow).prev().length != 0
          $(currentRow).prev().addClass 'info'
          $(currentRow).removeClass 'info'
      ## arrow left
      when 37
        table.fnPageChange('previous')
      ## arrow right
      when 39
        table.fnPageChange('next')
      when 13
        $('tr.info').find('td:eq(0) a').get(0).click()
    ## Update scrollbar
    rowpos = $('tr.info').position()
    $(document).scrollTop(rowpos.top-45)
    return

  ## hotkey create ordenanza
  $.ctrl 'C', ->
    $('#ordenanza #btn-new').click()
    return

  ## hotkey edit ordenanza
  $.ctrl 'E', ->
    $('#ordenanza table tbody').find('.info').find('.linktoedit').click()
    return

  ## hotkey delete ordenanza
  $.ctrl 'D', ->
    $('#ordenanza table tbody').find('.info').find('.remove-tr').click()
    return    