$(document).on 'ready page:load', ->
  $('#resolucion-table').dataTable
    ajaxSource: $('#resolucion-table').data('source')
    fnInitComplete: ->
      $('#resolucion div.dataTables_filter input').focus()
      $('#resolucion div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
      return
    fnDrawCallback: ->
      $('#resolucion-table tbody tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('#resolucion-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#resolucion #add_disp', ->
    flagTokenInput = false
    $.each $('#resolucion #norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#resolucion #refer_type  option:selected').text()
      dates = ""
      tipo_rel = $('#resolucion #refer_type  option:selected').val()
      date_desde = $("#resolucion #from_refer").val()
      date_hasta = $("#resolucion #to_refer").val()
      if date_desde != ""
        dates = dates + "Desde " + date_desde + "\n"
      if date_hasta != ""
          dates = dates + "Hasta " + date_hasta + "\n"
      date_hasta_dia = $("#resolucion #day_refer").val()
      date_hasta_mes = $("#resolucion #month_refer").val()
      date_hasta_anio = $("#resolucion #year_refer").val()
      date_tipo_dia = $("#resolucion [name=tipo_dia]:checked").val()
      row = "<tr class='linked-normas-table' data-id='#{this.id}'" +
      " data-desde='#{date_desde}' data-hasta='#{date_hasta}' data-hasta-dia='#{date_hasta_dia}'" +
      " data-hasta-mes='#{date_hasta_mes}' data-hasta-anio='#{date_hasta_anio}' " +
      "data-tipo-relacion='#{tipo_rel}' " +
      "data-dia-tipo='#{date_tipo_dia}'> " +
      "<td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
      $('#resolucion #disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#resolucion #norma').tokenInput 'clear'
      $('#resolucion #from_refer').val ''
      $('#resolucion #to_refer').val ''
      $('#resolucion #day_refer').val ''
      $('#resolucion #month_refer').val ''
      $('#resolucion #year_refer').val ''
    else
      alert "<%= I18n.t('resolucions.modal_resolucion.alert.norma_has_linked') %>"

  $(document).on 'click', '#resolucion #add_destiny', ->
    if $("#resolucion #destiny").val() == "" || $("#resolucion #destiny_date").val() == ""
      alert("Destino o Fecha no pueden estar vacios")
      return
    destiny = $("#resolucion #select_destiny option:selected")
    row = "<tr data-value='#{destiny.val()}' data-destiny='#{$('#destiny').val()}'" +
          " data-date='#{$('#destiny_date').val()}' class='destiny-row'>" +
          "<td> #{destiny.text()} </td>" +
          "<td> #{$('#destiny').val()} </td>" +
          "<td> #{$('#destiny_date').val()} " +
          "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
    $('#resolucion #destinies_table tbody').append(row)
    $("#resolucion #destiny").val('')
    $("#resolucion #destiny_date").val('')

  $(document).on 'click', '#resolucion #classify', ->
    $('#resolucion #nuevoLabel').text("<%=I18n.t('resolucions.modal_resolucion.title.clasification')%>")
    $('#resolucion #classify').css('display','none')
    $('#resolucion #dates').css('display','inline-block')
    $('#resolucion #second-column').fadeOut(100)
    setTimeout (->
      $('#resolucion .clasification').fadeIn(100)
      return
    ), 250
    $('#resolucion .dates').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#resolucion #ready', ->
    $('#resolucion #nuevoLabel').text("<%=I18n.t('resolucions.modal_resolucion.title.create_resolucion')%>")
    $('#resolucion #classify').css('display','inline-block')
    $('#resolucion #dates').css('display','inline-block')
    $('#resolucion .clasification').fadeOut(100)
    setTimeout (->
      $('#resolucion #second-column').fadeIn(100)
      return
    ), 250
    $('#resolucion .dates').fadeOut(100)
    setTimeout (->
      $('#resolucion #second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '#resolucion #dates', ->
    $('#resolucion #nuevoLabel').text("<%=I18n.t('resolucions.modal_resolucion.btn_clasification.dates')%>")
    $('#resolucion #dates').css('display','none')
    $('#resolucion #classify').css('display','inline-block')
    $('#resolucion #second-column').fadeOut(100)
    setTimeout (->
      $('#resolucion .dates').fadeIn(100)
      return
    ), 250
    $('#resolucion .clasification').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#resolucion .remove-tr', ->
    id = $(this).data 'remove'
    if confirm("<%= I18n.t('norma.confirm_remove')%>")
      $.ajax
        url: "/resolucions/#{id}"
        type: 'DELETE'
        success: (result) ->
          $('#resolucion-table').dataTable().fnDraw()
          return

  $('#resolucion #btn-new').on 'click', ->
    $(document).off 'keydown'
    $.get '/resolucions/new', (data) ->
      $('#resolucion-edit').empty()
      $('#resolucion-edit').append data
      $('#resolucion-edit .modal').modal 'show'
      return

  $(document).on 'click', '#resolucion .linktoedit', ->
    $(document).off 'keydown'
    id = $(this).data 'id'
    $('#resolucion-edit').empty()
    $.get "/resolucions/#{id}/edit", (data) ->
      $('#resolucion-edit').append data
      $('#resolucion-edit .modal').modal 'show'

      ## Preload token inputs
      tokenData = $('#resolucion #exped_token').data 'load'
      $.each tokenData, (index, exp) ->
        $('#resolucion #exped_token').tokenInput 'add', exp
        return

      tokenTag = $('#resolucion #tags-tokeninput').data 'load'
      $.each tokenTag, (index, tag) ->
        $('#resolucion #tags-tokeninput').tokenInput 'add', tag
        return

      return

  $(document).on 'focus', 'textarea', ->
    $(this).elastic();
    return

  $(document).on 'focusout', 'textarea', ->
    $(this).animate({ height: "#{40}" }, 200);
    return

  ## hotkey create resolucion
  $.ctrl 'C', ->
    $('#resolucion #btn-new').click()
    return

  ## hotkey edit resolucion
  $.ctrl 'E', ->
    $('#resolucion table tbody').find('.info').find('.linktoedit').click()
    return

  ## hotkey delete resolucion
  $.ctrl 'D', ->
    $('#resolucion table tbody').find('.info').find('.remove-tr').click()
    return
