- fojas = @particular.get_fojas
- asunto = @particular.get_asunto
- iniciadores_bloques = get_iniciadores_bloques(@particular)
- iniciadores_comisions = get_iniciadores_comisions(@particular)
- iniciadores_personas = get_iniciadores_personas(@particular)
- obs = @particular.get_observaciones

#particular-show
  #particular-header.row
    .col-md-8
      %h3.main-title= t('particulars.show.info') + " #{@particular.id}"
    .col-md-4.float-right.no-print
      .float-right
        %a#print-particular.btn.btn-lg.btn-danger.fa.fa-download{ title: 'Imprimir Petición Particular' }
          Imprimir
        %a.btn.btn-lg.btn-primary.fa.fa-download{ title: 'Descargar Petición Particular' }
          Descargar

  #particular-body
    .panel.panel-success
      .panel-heading= 'Información'
      .panel-body
        %p.single-tab
          %span.titles= 'Nro. de Fojas: '
          %span= fojas.present? ? fojas : '-.'

        %p.single-tab
          %span.titles= 'Asunto: '
          %span= asunto.present? ? asunto : '-.'

    .panel.panel-info
      .panel-heading= 'Trámites de la petición'
      .panel-body.without-padding
        %table.table.table-striped#states-table-particular-show
          %thead
            %tr
              %th.center{ width: '15%' }= 'Fecha'
              %th{ width: "85%" }= 'Estado'

          %tbody
            - @particular.estado_tramites.each do |x|
              - case x.tipo
              - when '1'
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date_time x.created_at
                  %td
                    Iniciado por:
                    %p.single-tab
                      - iniciadores_personas.each do |b|
                        .double-tab= "#{ b[:type] }: #{ b[:apellido] }, #{ b[:nombre] }"

              - when '2'
                - text = if x.ref_type == 'Personal'
                  - "#{ x.ref.apellido }, #{ x.ref.nombre }"
                - else
                  - x.ref.denominacion
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo, 'data-idref': x.ref_id, 'data-typeref': x.ref_type }
                  %td= to_date_time x.created_at
                  %td= "Derivado a #{ x.ref_type }: #{ text }"

              - when '3'
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo }
                  %td= to_date_time x.created_at
                  %td
                    %span= 'Finalizado en '
                    %span= link_to "#{ x.ref_type } #{ x.ref.nro_exp }", x.ref

              - when '4' #caso para tramites finalizados pero q no terminan en expediente
                %tr.derivacion-tr-show{ 'data-id': x.id, 'data-tipo': x.tipo}
                  %td= to_date_time x.updated_at
                  %td
                    %span= 'Finalizado: '
                    %span= x.especificacion.to_s
              - else
                ERROR

    .panel.panel-danger
      .panel-heading= 'Observaciones'
      .panel-body
        %p.single-tab
          %span= obs.present? ? obs : '-.'
