#decreto
  #decreto-edit
  %button#btn-new.btn.btn-primary
    %span.glyphicon.glyphicon-plus-sign{ "aria-hidden": true }
    = t('.btnheader.new')

  %table.table.table-striped.table-bordered#decreto-table{"data-source" => decretos_path(format: :json)}
    %thead
      %tr
        %th= t('.table.decreto')
        %th= t('.table.sumario')
        %th{width: "15%"}= t('.table.fechas')
        %th= t('.table.expedientes')
        %th
    %tbody
