.nested-fields.box.box-danger
  .row.box-body
    .col-md-11
      .field
        = f.label :nombre
        %br
        = f.text_field :nombre
      .field
        = f.label :especificacion
        %br
        = f.text_field :especificacion
      .field
        = f.label :tipo
        %br
        = f.text_field :tipo
    .col-md-1
      = link_to_remove_association '', f, class: 'btn btn-danger btn-lg fa fa-times'

