<% if policy(Procedure).type_create? %>
  <div class="form-group col-md-5">
    <label for="<%= :procedure_type %>">
      <%= t('.type') %>
    </label>
    <% if (procedure.type == "Despacho") %>
      <%= f.select :type, procedure_types(procedure.type), { include_blank: t('.blank_type') }, { class: 'form-control input-lg', type: :number, min: 1, step: 1 , disabled: :disabled } %>
    <% else %>
      <%= f.select :type, procedure_types(procedure.type), { include_blank: t('.blank_type') }, { class: 'form-control input-lg', type: :number, min: 1, step: 1 } %>
    <% end %>
  </div>
<% end %>
<% if policy(Procedure).sheets_create? %>
  <div class="form-group col-md-2">
    <label for="<%= :procedure_sheets %>">
      <%= t('.sheets') %>
    </label>
    <%= f.text_field :sheets, { class: 'input-lg form-control', placeholder: t('.sheets'), type: :number, min: 1, step: 1 } %>
  </div>
<% end %>
<% if true #dispatch role %>
  <div class="dispatch-procedure col-md-5">
    <label for="<%= :procedure_councilor %>">
      <%= t('.legislative_files') %>
    </label>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.select :legislative_file_ids, {}, {}, { multiple: true, class: 'input-lg form-control' } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="dispatch-procedure">
  <div class="col-md-12">
    <%= label_tag t('.dispatch_date') %>
  </div>
  <div class="col-md-4">
    <%= f.select(:day, day_options(), { include_blank: 'No especificado', prompt: 'Día' }, title: 'Día', class: 'input-lg form-control') %>
  </div>
  <div class="col-md-4">
    <%= f.select(:month, month_options(), { include_blank: 'No especificado', prompt: 'Mes' }, title: 'Mes', class: 'input-lg form-control') %>
  </div>
  <div class="col-md-4">
    <%= f.select(:year, year_options(), { include_blank: 'No especificado', prompt: 'Año' }, title: 'Año', class: 'input-lg form-control') %>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="<%= :procedure_comision %>">
        <%= t('.commissions') %>
      </label>
      <%= select_tag :comision_ids, {}, { multiple: true, class: 'input-lg form-control' } %>
    </div>
  </div>
</div>

  <div class="dispatch-procedure col-md-12">
    <div class="form-group">
      <label for="<%= :procedure_councilor %>"> <%= t('.councilors') %> </label>
      <%= select_tag :councilor_ids, {}, { multiple: true, class: 'input-lg form-control' } %>
    </div>
  </div>

<% if policy(Procedure).topic_create? %>
  <div class="form-group common-procedure col-md-12">
    <label for="<%= :procedure_topic %>">
      <%= t('.topic') %>
    </label>
    <%= f.text_area :topic, { class: 'input-lg form-control', placeholder: t('.topic_placeholder') } %>
  </div>
<% end %>
<% if policy(Procedure).initiators_create? %>
  <div class="common-procedure col-md-12">
    <table class="initiators-table table table-bordered">
      <thead>
        <tr>
          <th class="text-center"> Iniciador/es del trámite</th>
          <th style="width: 1%"> </th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <td colspan="2" class="text-center"> <i>Para cargar iniciador/es haga click en el botón "Agregar"</i>
          <%= button_tag type: 'button', class: 'initiator-btn btn btn-primary pull-right', data: { url: new_initiator_path }, style: 'padding-left: 10px;' do %>
            <div class="fa fa-user-plus"></div>
            Agregar Iniciador
          <% end -%>
        </td>
      </tfoot>
    </table>
  </div>
  <div class="common-procedure col-md-12">
    <table class="signators-table table table-bordered">
      <thead>
        <tr>
          <th class="text-center"> Firmante/s del trámite </th>
          <th style="width: 1%"> </th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <td colspan="2" class="text-center"> <i>Para cargar firmantes haga click en el botón "Agregar"</i>
          <%= button_tag type: 'button', class: 'signator-btn btn btn-info pull-right', data: { url: new_initiator_path }, style: 'padding-left: 10px;' do %>
            <div class="fa fa-user-plus"></div>
            Agregar Firmante
          <% end -%>
        </td>
      </tfoot>
    </table>
  </div>
<% end %>
<% if policy(Procedure).observations_create? %>
  <div class="form-group col-md-12">
    <label for="<%= :procedure_observations %>">
      <%= t('.observations') %>
    </label>
    <%= f.text_field :observations, { class: 'input-lg form-control', placeholder: t('.observations_placeholder') } %>
  </div>
<% end %>
<% if f.object.persisted? && policy(Procedure).finalized_create? %>
  <div class="common-procedure form-group col-md-12" title="Si se finaliza el trámite por favor indique el motivo">
    <div class="checkbox">
      <label>
        <div class="finished">
          <%= check_box_tag :process_completed %>
        </div>
        <%= label_tag :process_completed, t('.process_completed') %>
      </label>
    </div>
    <div class="finished-field" style="display: none">
      <%= label_tag :finalizado_en %>
      <%= text_field_tag :finalizado_en, '', { class: 'form-control', placeholder: t('.finished_placeholder') } %>
    </div>
  </div>
<% end %>
<% if policy(:contingency_plan).create? %>
  <div class="col-md-12">
    <%= render 'contingency_plan', f: f %>
  </div>
<% end %>

<div class="col-md-12 col-xs-12">
  <hr style="border-top: 1px solid #eeeeee;margin: 0px;margin-bottom: 10px;">
  <%= link_to procedures_path, class: 'btn btn-default pull-left' do %>
    <i class="fa fa-times-circle"></i>
    Cancelar
  <% end %>
  <button class="btn btn-success btn-lg pull-right" type="submit">
    <i class="fa fa-save fa-lg"></i>
    Guardar
  </button>
</div>
