<div class="nested-fields row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6 field">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Nombres del firmante' %>
      </div>
      <div class="col-md-6 field">
        <%= f.label :surname, 'Apellido' %>
        <%= f.text_field :surname, class: 'form-control', placeholder: 'Apellidos del firmante' %>
      </div>
      <div class="col-md-3 field">
        <%= f.label :position, 'Cargo' %>
        <%= f.text_field :position, class: 'form-control', placeholder: 'Cargo' %>
      </div>
      <div class="col-md-9 field">
         <%= f.label :contact_info, 'Información de contacto' %>
         <%= f.text_field :contact_info, class: 'form-control', placeholder: 'Información de contacto, teléfono, email...' %>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="padding-top: 23px;">
    <%= link_to_remove_association ' Quitar', f, class: 'btn btn-danger btn-lg fa fa-times', title: 'Quitar firmante' %>
  </div>
  <hr class="col-md-11">

</div>
