#filters
  = render 'filters'
%h2
  Trámites ingresados
.box.box-primary#procedures
  .box-header
    = render 'header_buttons'

  .box-body
    %table.table.table-striped.dataTable#procedures-table{ 'data-source': procedures_path(format: :json) }
      %thead
        %tr
          %th= t('.procedures_type')
          %th= t('.initiators')
          %th= t('.topic')
          %th= t('.created_at')
          %th= t('.sheets')
          %th
      %tbody

:javascript
$(document).ready(function() {
  Procedures.indexDataTable();
});
