#initiators-modal
#procedure-new
  %h2.text-center
    = t '.new_procedure'
  = form_for @procedure do |f|
    .box.box-primary
      .box-body
        .row
          .col-xs-3
            %ul.nav.nav-pills.nav-stacked
              %li.active
                %a{ 'aria-expanded': 'true', 'data-toggle': 'tab', href: '#home' }
                  = t '.information'
              %li
                %a{ 'aria-expanded': 'false', 'data-toggle': 'tab', href: '#settings' }
                  = t '.derivations'
              %li.common-procedure
                %a{ 'aria-expanded': 'false', 'data-toggle': 'tab', href: '#messages' }
                  = t '.administrative_files'
              %li
                %a{ 'aria-expanded': 'false', 'data-toggle': 'tab', href: '#profile' }
                  = t '.attached_files'

          .col-xs-9
            .tab-content
              #home.tab-pane.fade.in.active
                .lead.box-header.with-border
                  = t '.load_new_info'
                .row
                  .form-group.col-md-5
                    %label{ for: :procedure_type }= t('.type')
                    = f.select :type, procedure_types, { include_blank: t('.blank_type') }, { class: 'form-control input-lg', type: :number, min: 1, step: 1 }
                  .form-group.col-md-2
                    %label{ for: :procedure_sheets }= t('.sheets')
                    = f.text_field :sheets, { class: 'input-lg form-control', placeholder: t('.sheets'), type: :number, min: 1, step: 1 }
                  .dispatch-procedure.col-md-5
                    %label{ for: :procedure_councilor }= t('.legislative_files')
                    .row
                      .col-md-12
                        .form-group
                          = f.select :legislative_files, {}, {}, { multiple: true, class: 'input-lg form-control' }
                .dispatch-procedure
                  .row
                    .col-md-12= label_tag t('.dispatch_date')
                    .col-md-4
                      = f.select :day, "day_options", { include_blank: true, prompt: 'Día' }, title: 'Día', class: 'input-lg form-control'
                    .col-md-4
                      = f.select :month, "month_options", { include_blank: true, prompt: 'Mes' }, title: 'Mes', class: 'input-lg form-control'
                    .col-md-4
                      = f.select :year, "year_options", { include_blank: true, prompt: 'Año' }, title: 'Año', class: 'input-lg form-control'
                  %label{ for: :procedure_councilor }= t('.councilors')
                  .row
                    .col-md-12
                      .form-group
                        = f.select :councilors, {}, {}, { multiple: true, class: 'input-lg form-control' }
                  %label{ for: :procedure_commission }= t('.commissions')
                  .row
                    .col-md-12
                      .form-group
                        = f.select :commissions, {}, {}, { multiple: true, class: 'input-lg form-control' }
                .form-group.common-procedure
                  %label{ for: :procedure_topic }= t('.topic')
                  = f.text_area :topic, { class: 'input-lg form-control', placeholder: t('.topic_placeholder') }
                .common-procedure
                  %label{ for: :procedure_persons }= t('.persons')
                  .row
                    .col-md-10
                      .form-group
                        = f.select :person_ids, {}, {}, { multiple: true, class: 'input-lg form-control' }
                    .col-md-2
                      = link_to new_initiator_path, class: 'btn-lg initiator-btn btn btn-primary', remote: true do
                        .fa.fa-user-plus
                        = t '.add'
                .form-group
                  %label{ for: :procedure_observations }= t('.observations')
                  = f.text_field :observations, { class: 'input-lg form-control', placeholder: t('.observations_placeholder') }
                .common-procedure.form-group{ title: 'Work In Progress' }
                  .checkbox
                    %label
                      .finished= check_box_tag :process_completed
                      = label_tag :process_completed, t('.process_completed')
                  .finished-field{ style: 'display: none' }
                    = label_tag :finalizado_en
                    = text_field_tag :finalizado_en, '', { class: 'form-control', placeholder: t('.finished_placeholder'), disabled: true }
                = render 'contingency_plan'
              #profile.tab-pane.fade
                %p.lead.box-header.with-border Puede adjuntar todo tipo de archivos
                .form-group
                  %label{ for: 'exampleInputFile' } Busque y seleccione archivos
                  %input#exampleInputFile{ type: :file }
              #messages.tab-pane.fade
                %p.lead.box-header.with-border Cargue expedientes administrativos
                #administrative_files
                  //= f.fields_for :administrative_files do |file|
                  //  = render 'administrative_file_fields', f: file
                  //.links
                  //  = link_to_add_association '', f, :administrative_files, class: 'btn btn-success btn-lg fa fa-plus'
              #settings.tab-pane.fade
                %p.lead.box-header.with-border Área a la que se deriva actualmente el trámite
                #estado_procedures
                  //= f.fields_for :estado_procedures do |estado|
                  //  = render 'estado_procedure_fields', f: estado
                  //.links
                  //  = link_to_add_association '', f, :estado_procedures, class: 'btn btn-success btn-lg fa fa-plus'
          .clearfix
      .box-footer
        .pull-right
          = link_to procedures_path, class: 'btn btn-default' do
            .fa.fa-times-circle
            Cancelar
          %button.btn.btn-success.btn-lg{ type: :submit }
            .fa.fa-save.fa-lg
            = t('.submit')

:javascript
$(document).on('ready', function() {
  if ($('#procedure-new').length) {
    Procedures.initiatorModal();
    $('#fecha_y_hora').datetimepicker();
    Procedures.initiatorsSelect2();
    Procedures.updateProcedureType();
  }
})
