.initiators-modal
#procedure-new
  %h2
    = t '.new_procedure'
  = form_for @procedure, { multipart: true } do |form|
    .box.box-primary
      .box-body
        = render 'procedure_form', f: form
      .box-footer
        .pull-right
          = link_to procedures_path, class: 'btn btn-default' do
            .fa.fa-times-circle
            Cancelar
          %button.btn.btn-success.btn-lg{ type: :submit }
            .fa.fa-save.fa-lg
            = t('.submit')

:javascript
$(document).on('ready', function() {
  if ($('#procedure-new').length) {
    Procedures.initiatorModal();
    $('#fecha_y_hora').datetimepicker();
    Procedures.initiatorsSelect2();
    Procedures.updateProcedureType();
    $('.derivation').select2();

    $('.add_fields').on('click', function() {
      $('.derivation:last').select2();
    });

    $('#new_procedure').fileupload();
  }
})
