#procedure-show
  %h2
    = "Trámite nro: "
    %b= "#{@procedure.id}"

  .box.box-primary
    .lead.box-header.with-border
      Tipo de trámite:
      - if @procedure.type.present?
        %b= I18n.t("procedures.types.#{@procedure.type}")
      - else
        %i.small= t('.not_specified')
    .box-body
      .col-md-12.form-group
        %label Asunto
        %textarea.input-lg.form-control.topic-area{ readonly: :true }
          = @procedure.topic
      .col-md-6.form-group
        %label Fojas
        %span.form-control.input-lg{ readonly: :true }= @procedure.sheets
      .col-md-6.form-group
        %label Observaciones
        %span.form-control.input-lg{ readonly: :true }= @procedure.observations

:javascript
$(document).ready(function() {
  $('textarea').autosize();
})
