<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :law_type %>
      <%= f.select :law_type, law_types, {}, class: 'form-control input-lg' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :number %>
      <%= f.text_field :number, type: :number, class: 'form-control input-lg' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :year %>
      <%= f.text_field :year, type: :number, class: 'form-control input-lg', value: Date.current.year %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :legislative_session, 'Ap. sesión nro' %>
      <%= f.select :legislative_session, {}, {}, class: 'form-control input-lg'%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag 'uploads[]', 'Busque y seleccione archivos' %>
      <%= file_field_tag 'uploads[]', type: :file, multiple: true %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= f.label :legislative_session, 'Comunicación' %>
    <%= f.text_field :legislative_session, class: 'form-control input-lg' %>
  </div>
  <div class="col-md-4">
    <%= f.label :legislative_session, 'Fecha' %>
    <%= f.text_field :legislative_session, class: 'form-control input-lg' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= f.label :legislative_session, 'Promulgación' %>
    <%= f.text_field :legislative_session, class: 'form-control input-lg' %>
  </div>
  <div class="col-md-4">
    <%= f.label :legislative_session, 'Fecha' %>
    <%= f.text_field :legislative_session, class: 'form-control input-lg' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= f.label :legislative_session, 'Boletín Oficial' %>
    <%= f.text_field :legislative_session, class: 'form-control input-lg' %>
  </div>
  <div class="col-md-4">
    <%= f.label :legislative_session, 'Fecha' %>
    <%= f.text_field :legislative_session, class: 'form-control input-lg' %>
  </div>
</div>

<!-- <div class="row">
  <%= f.fields_for :destinies do |destiny| %>
    <div class="col-md-4">
      <h4 class="text-center">
        <%= I18n.t("destinies.type_of_destiny.#{destiny.object.type_of_destiny}") %>
      </h4>
      <div class="form-group">
        <%= destiny.label :name, 'Destino' %>
        <%= destiny.text_field :name, class: 'form-control input-lg' %>

        <%= destiny.label :date, 'Fecha' %>
        <%= destiny.text_field :date, class: 'form-control input-lg', type: :date %>
      </div>
    </div>
  <% end %>
</div> -->
