<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :law_type %>
    <%= f.select :law_type, law_types, {}, class: 'form-control input-lg' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :number %>
    <%= f.text_field :number, type: :number, class: 'form-control input-lg', placeholder: 'Norma' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :year %>
    <%= f.text_field :year, type: :number, class: 'form-control input-lg', value: Date.current.year %>
  </div>
</div>
  <hr>
<div class="row">
  <div class="form-group-lg col-md-3">
    <%= f.label :legislative_session_id, 'Ap. sesión nro' %>
    <%= f.select :legislative_session_id, {}, {}, class: 'form-control input-lg' do %>
      <% if f.object.legislative_session.present? %>
        <option value="<%= f.object.legislative_session_id %>"> <%= f.object.legislative_session %> </option>
      <% end %>
    <% end %>
  </div>
  <div class="form-group-lg col-md-5">
    <%= label_tag "legislative_file_ids[]", 'Expedientes Legislativos' %>
    <%= select_tag "legislative_file_ids[]", {}, multiple: true, class: 'form-control input-lg' %>
  </div>
  <div class="form-group col-md-4">
    <%= label_tag 'uploads[]', 'Adjunte Norma' %>
    <%= file_field_tag 'uploads[]', type: :file, multiple: true %>
    <% f.object.uploads.each do |upload| %>
      <%= link_to upload.file.url, class: 'btn btn-success', target: '_blank', title: upload.file_file_name do %>
        <%= upload.file_file_name %>
        <i class="fa fa-download"></i>
      <% end %>
      <%= link_to law_upload_path(f.object.id, file_id: upload.id), method: :delete, class: 'btn btn-danger', data: { upload: upload.id } do %>
        <i class="fa fa-xs fa-times"></i>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<!-- <div class="row">
  <div class="col-md-4">
    <%= label_tag "communications[][info]", 'Comunicación' %>
    <%= text_field_tag "communications[][info]", nil, placeholder: 'Comunicado a', class: 'form-control input-lg' %>
  </div>
  <div class="col-md-4">
    <%= label_tag "communications[][date]", 'Fecha' %>
    <%= text_field_tag "communications[][date]", nil, class: 'form-control input-lg', type: :date %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= label_tag "promulgation[info]", 'Promulgación' %>
    <%= text_field_tag "promulgation[info]", nil, placeholder: 'Decreto promulgatorio', class: 'form-control input-lg' %>
  </div>
  <div class="col-md-4">
    <%= label_tag "promulgation[date]", 'Fecha' %>
    <%= text_field_tag "promulgation[date]", nil, class: 'form-control input-lg', type: :date %>
  </div>
  <div class="form-group col-md-4">
    <%= label_tag 'uploads[]', 'Adjunte decreto promulgatorio' %>
    <%= file_field_tag 'uploads[]', type: :file %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= label_tag "official_release[info]", 'Boletín Oficial' %>
    <%= text_field_tag "official_release[info]", nil, placeholder: 'Boletín Oficial Nro', class: 'form-control input-lg' %>
  </div>
  <div class="col-md-4">
    <%= label_tag "official_release[date]", 'Fecha' %>
    <%= text_field_tag "official_release[date]", nil, class: 'form-control input-lg', type: :date %>
  </div>
  <div class="form-group col-md-4">
    <%= label_tag 'uploads[]', 'Adjunte Boletín' %>
    <%= file_field_tag 'uploads[]', type: :file %>
  </div>
</div>
 -->
