<div class="row">
  <div class="form-group col-md-3">
    <%= f.label :law_type %>
    <%= f.select :law_type, law_types, {}, class: 'form-control input-lg' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :number %>
    <%= f.text_field :number, type: :number, class: 'form-control input-lg', placeholder: 'Norma' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :year %>
    <%= f.text_field :year, type: :number, class: 'form-control input-lg', value: Date.current.year %>
  </div>
  <div class="form-group col-md-3">
    <%= label_tag 'uploads[]', 'Adjunte Norma' %>
    <%= file_field_tag 'uploads[]', type: :file, multiple: true %>
    <% f.object.uploads.each do |upload| %>
      <%= link_to upload.file.url, class: 'btn btn-success', target: '_blank', title: upload.file_file_name do %>
        <%= upload.file_file_name %>
        <i class="fa fa-download"></i>
      <% end %>
      <%= link_to law_upload_path(f.object.id, file_id: upload.id), method: :delete, class: 'btn btn-danger', data: { upload: upload.id } do %>
        <i class="fa fa-xs fa-times"></i>
      <% end %>
    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <div class="form-group-lg col-md-3">
    <%= f.label :legislative_session_id, 'Aprobado en sesión nro' %>
    <%= f.select :legislative_session_id, {}, {}, class: 'form-control input-lg' do %>
      <% if f.object.legislative_session.present? %>
        <option value="<%= f.object.legislative_session_id %>"> <%= f.object.legislative_session %> </option>
      <% end %>
    <% end %>
  </div>

  <div class="form-group col-md-3">
    <%= label_tag 'state[date_at]', 'Fecha de sesión' %>
    <%= text_field_tag 'state[date_at]', nil, type: 'date', class: 'input-lg form-control' %>
  </div>

  <div class="form-group-lg col-md-6">
    <%= label_tag "legislative_file_ids[]", 'Expedientes Legislativos' %>
    <%= select_tag "legislative_file_ids[]", {}, multiple: true, class: 'form-control input-lg' %>
  </div>

</div>
<div class="row">
  <div class="form-group session col-md-4">
    <%= label_tag 'state[sanction_specified]', 'Especifique tipo de sanción' %>
    <%= select_tag 'state[sanction_specified]', sancion_options1, class: 'input-lg form-control' %>
  </div>

  <div class="form-group session col-md-4" style="margin-top: 25px;">
    <%= select_tag 'state[sanction_type]', sancion_options2, class: 'input-lg form-control' %>
  </div>
</div>

<% if f.object.legislative_file_states.present? %>
  <table class="col-md-10 text-center table table-striped table-hover">
    <thead>
      <tr>
        <th> Expediente </th>
        <th> Fecha </th>
        <th> Sanción </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% f.object.legislative_file_states.each do |state| %>
      <tr>
        <td> <%= state.legislative_file %> </td>
        <td> <%= state.date_at %> </td>
        <td> <%= state.sanction_specified %> </td>
        <td> <%= state.sanction_type %> </td>
        <td> <%= link_to state, class: 'btn btn-sm btn-danger btn-remove-state', method: 'delete', remote: true do %> <i class="fa fa-trash"></i> <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<hr>

<div class="hide-by-law-type">
  <div class="row">
    <div class="col-md-3">
      <%= f.label :communication_date, 'Fecha de Comunicación al DEM' %>
      <%= f.text_field :communication_date, type: :date, value: f.object.communication_date.try(:to_default_s) ,class: 'form-control input-lg' %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :enactment_decree, 'Promulgación' %>
      <%= f.text_field :enactment_decree, placeholder: 'Decreto Promulgatorio Nro', class: 'form-control input-lg' %>
    </div>
    <div class="col-md-4">
      <%= f.label :enactment_decree_date, 'Fecha' %>
      <%= f.text_field :enactment_decree_date, class: 'form-control input-lg', type: :date, value: f.object.enactment_decree_date.try(:to_default_s) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :enactment_decree_upload, 'Adjunte Decreto Promulgatorio' %>
      <%= f.file_field :enactment_decree_upload, type: :file %>
    </div>
  </div>
  <hr>

  <div class="row">
    <% f.fields_for :municipal_gazette do |gazette| %>
      <div class="col-md-4">
        <%= gazette.label :number, 'Boletín Oficial' %>
        <%= gazette.text_field :number, placeholder: 'Boletín Oficial Nro', class: 'form-control input-lg' %>
      </div>
      <div class="col-md-4">
        <%= gazette.label :release_date, 'Fecha' %>
        <%= gazette.text_field :release_date, class: 'form-control input-lg', type: :date %>
      </div>
      <div class="form-group col-md-4">
        <%= gazette.label :upload, 'Adjunte Boletín' %>
        <%= gazette.file_field :upload, type: :file %>
      </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('.btn-remove-state').on('click', function() {
    location.reload();
  })
})
</script>
