<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      <%= I18n.t("laws.types.#{@law.law_type}") %>: <%= "#{@law.number} / #{@law.letter} / #{@law.year}" %>
    </h2>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header lead with-border">
    <div class="col-md-6 text-bottom-align">
      <strong>Información de la Norma</strong>
    </div>
    <div class="pull-right">
      <%= link_to edit_law_path(@law), class: 'btn btn-lg btn-warning' do %>
        <i class="fa fa-pencil"></i>
        Editar Norma
      <% end -%>
    </div>
  </div>

  <div class="box-body row">
    <%= form_for @law do |f| %>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :number %>
          <%= f.text_field :number, type: :number, class: 'form-control', readonly: true %>
        </div>
      </div>
      <% if (f.object.letter.present?) %>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :letter %>
            <%= f.text_field :letter, class: 'form-control', readonly: true %>
          </div>
        </div>
      <% end %>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :year %>
          <%= f.text_field :year, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :law_type %>
          <%= f.select :law_type, law_types, {}, class: 'form-control', readonly: true %>
        </div>
      </div>

      <% f.object.destinies.each do |d| %>
        <div class="col-md-4">
          <h4 class="text-center">
            <%= I18n.t("destinies.type_of_destiny.#{d.object.type_of_destiny}")%>
          </h4>
          <div class="form-group">
            <%= d.label :name, 'Destino' %>
            <%= d.text_field :name, class: 'form-control', readonly: true %>
          </div>

          <%= d.label :date, 'Fecha' %>
          <%= d.text_field :date, class: 'form-control input-lg', type: :date, readonly: true %>
        </div>
      <% end %>

    <% end -%>
  </div>
</div>
