#condonacion-show
  %h4= t('condonaciones.show.info')
  %hr
  #condonacion-body
    - cond = @condonacion
    %p
      %span.titles= "Nro.: "
      %span= cond.id
      %span
        &nbsp
        %i.btn.btn-xs.btn-default.fa.fa-download{ title: "Descargar condonacion" }
    - fecha = cond.fecha
      - if fecha.present?
      %p.single-tab
        %span= "Fecha: "
        %span= fecha
    - fojas = cond.nro_fojas
      - if fojas.present?
      %p.single-tab
        %span= "Nro. de Fojas: "
        %span= fojas
    - obs = cond.observaciones
      - if obs.present?
      %p.single-tab
        %span= "Observaciones: "
        %span= obs
