.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{ 'data-dismiss': 'modal', type: 'button' }
        %span{ 'aria-hidden': 'true' } &times;
      %h4.modal-title Filtrando Tr치mites

    .modal-body
      .row
        .col-md-6
          .row.form-groups
            .col-md-12
              = label_tag :tramites_type, 'Seleccione tipo de tr치mites'
            .col-md-12
              = select_tag :tramites_type, options_for_select(tramites_type),
                           multiple: :multiple, class: 'form-control'
          .form-group
            = label_tag :fojas, 'Cantidad de fojas'
            = text_field_tag :fojas, nil, class: 'form-control'
          .form-group
            = label_tag :asunto, 'Asunto / Solicitud'
            = text_field_tag :asunto, nil, class: 'form-control'
          .form-group
            = label_tag :iniciador, 'Iniciadores / Particular / Comision'
            = text_field_tag :iniciador, nil, class: 'form-control'
          .form-group
            = label_tag :observaciones, 'Observaciones'
            = text_field_tag :observaciones, nil, class: 'form-control'
        .col-md-6
          .form-group
            = label_tag :vinculo_exp, 'Expediente/s (s칩lo despachos)'
            = text_field_tag :vinculo_exp, nil, class: 'form-control'
          .form-group
            = label_tag :fecha_dictamen, 'Fecha de Dictamen (s칩lo despachos)'
            = text_field_tag :fecha_dictamen, nil, class: 'form-control'
          .form-group
            = label_tag :estados, 'Estados'
            = text_field_tag :estados, nil, class: 'form-control'

    .modal-footer
      %button.btn.btn-default{ 'data-dismiss': 'modal', type: 'button' }
        Cerrar
      %button.btn.btn-primary#filter-submit{ type: 'button' }
        Filtrar
