#reception-desk.modal.fade{ role: 'dialog', tabindex: '-1' }
  = render partial: 'reception_desk_filters'

#tramite
  %button#btn-print.btn.btn-danger
    %span.glyphicon.glyphicon-print
    = t('.btnheader.print')

  %button.btn.btn-primary{ 'data-target': '#reception-desk', 'data-toggle': 'modal' }
    %span.fa.fa-filter{ "aria-hidden": true }
    Filtrar datos
  - table_attr = { style: 'table-layout: fixed; word-wrap: break-word;',
                       'data-source' => tramites_path(format: :json) }
  %table.datatable-keyevents.table.table-striped.table-bordered#tramite-table{ table_attr }
    %thead
      %tr
        %th= t('.table.tramite')
        %th= t('.table.tipo')
        %th= t('.table.fojas')
        %th= t('.table.asunto')
        %th= t('.table.iniciadores')
        %th= t('.table.observaciones')
        %th= t('.table.actualizado')
    %tbody
