#filter-normas.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title Filtrando Normas

      .modal-body
        .row
          .col-md-6
            .form-group
              = label_tag :norma_type, "Seleccione tipo de norma"
              = text_field_tag :norma_type, nil, class: 'form-control'
            .form-group
              = label_tag :sumario, "Sumario"
              = text_field_tag :sumario, nil, class: 'form-control'
            .form-group
              = label_tag :norma_type, "Sumario"
              = text_field_tag :norma_type, nil, class: 'form-control'
            .form-group
              = label_tag :observations, "Observaciones"
              = text_field_tag :observations, nil, class: 'form-control'
            .form-group
              = label_tag :organismo_origen, "Organismo Origen"
              = text_field_tag :organismo_origen, nil, class: 'form-control'
            .form-group
              = label_tag :tags, "Voces Claves"
              = text_field_tag :tags, nil, class: 'form-control'
          .col-md-6
            .form-group
              = label_tag :sanciona_exp, "Sanciona Expedientes"
              = text_field_tag :sanciona_exp, nil, class: 'form-control'
            .form-group
              = label_tag :dates, "Fechas"
              = text_field_tag :dates, nil, class: 'form-control'
            .form-group
              = label_tag :vigencia, "Vigencias"
              = text_field_tag :vigencia, nil, class: 'form-control'
            .form-group
              = label_tag :clasifications, "Clasificaciones"
              = text_field_tag :clasifications, nil, class: 'form-control'

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
        %button.btn.btn-primary{:type => "button"} Filtrar

#norma

  %button#btn-print.btn.btn-danger
    %span.glyphicon.glyphicon-print{ "aria-hidden": true }
    = t('.btnheader.print')

  %button.btn.btn-primary{ "data-target": "#filter-normas", "data-toggle": "modal", type: "button" }
    %span.fa.fa-filter{ "aria-hidden": true }
    Filtrar datos

  %table.datatable-keyevents.table.table-striped.table-bordered#norma-table{"data-source" => normas_path(format: :json)}
    %thead
      %tr
        %th= t('.table.norma')
        %th= t('.table.sumario')
        %th{width: "15%"}= t('.table.fechas')
        %th= t('.table.expedientes')
    %tbody
