- if flash.any?
  - flash.each do |message_type, message|
    %div{ class: "alert-#{ message_type } alert alert-dismissable" }
      %button.close{ type: :button, 'data-dismiss': :alert, 'aria-hidden': :true } ×
      %ul.fa-ul
        - if message.is_a? Array
          - message.each do |msg|
            %li
              %i{ class: "fa-li fa #{flash_icon(message_type)}" }
              = msg
        - else
          %li
            %i{ class: "fa-li #{flash_icon(message_type)}" }
            = message

:javascript
$(document).ready () ->
  if $('.alert.alert-dismissable').length
    hideFlash = ->
      $('.alert.alert-dismissable').hide(3000)
    setTimeout hideFlash, 10000
