%header.main-header
  %a.logo{ href: root_path }
    %span.logo-mini
      %b> S
      L
    %span.logo-lg
      %b=t('.sld')
  %nav.navbar.navbar-static-top{ role: 'navigation' }

    %a.sidebar-toggle{ 'data-toggle': 'offcanvas', href: '#', role: 'button' }
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .row.navbar-title
      .col-md-10.takeoff-padding
        .text-center#path-name= "STAGING ENVIRONMENT" if Rails.env.staging?
        .text-center#path-name= "DEVELOPMENT ENVIRONMENT" if Rails.env.development?
      .col-md-2.takeoff-padding
        .navbar-custom-menu
          %ul.nav.navbar-nav

            - if current_user.present?
              %li.dropdown.user.user-menu
                %a.dropdown-toggle.btn.btn-xs.btn-primary.btn-header-color{ 'data-toggle': 'dropdown', href: '#' }
                  %img.user-image{ src: image_url('concejo_logo_only.jpg') }
                    %span.hidden-xs= current_user.email
                %ul.dropdown-menu

                  %li.user-header
                    %h4= current_user.person.full_name if current_user.person.present?
                  - if current_user.present? && current_user.admin?
                    %li.user-body
                      .col-xs-12.text-center
                        %a.btn.btn-warning.fa.fa-gears{ href: '/admin',
                          title: 'Opciones de Administrador' } Administrador
                  %li.user-footer

                    #log-out.pull-right
                      = link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do
                        %i.fa.fa-sign-out
                        Salir del Sistema
            - else
              %li.dropdown.user.user-menu
                %a.dropdown-toggle.btn.btn-xs.btn-primary.btn-header-color{ 'data-toggle': 'dropdown', href: '#'}
                  %img.user-image{ src: image_path('sign_in.png') }
                    %span.hidden-xs Ingreso al Sistema
                %ul.dropdown-menu

                  %li.user-footer
                    = form_tag user_session_path, id: 'user-form' do
                      = label_tag 'Usuario'
                      = text_field_tag 'user[email]', nil, class: 'form-control', type: :email, placeholder: 'Ingrese email'
                      = label_tag 'Contraseña'
                      = password_field_tag 'user[password]', nil, class: 'form-control', placeholder: 'Ingrese contraseña'

                      %span.pull-right{ style: 'padding-top: 10px' }
                        %button.btn.btn-success#log-in{ type: 'submit' } Entrar
                      %span.pull-left
                        = check_box_tag 'user[remember_me]'
                        = label_tag 'user_remember_me', 'Recordar ingreso'
