%body.skin-green.fixed.sidebar-mini
  / Site wrapper
  .wrapper
    %header.main-header
      / Logo
      %a.logo{ href: root_path }
        / mini logo for sidebar mini 50x50 pixels
        %span.logo-mini
          %b> S
          L
        / logo for regular state and mobile devices
        %span.logo-lg
          %b=t('.sld')
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{ role: 'navigation' }

        / Sidebar toggle button
        %a.sidebar-toggle{ 'data-toggle' => 'offcanvas', href: '#', role: 'button' }
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .row.navbar-title
          .col-md-10.takeoff-padding
            .center#path-name= resolve_path_name.present? ? resolve_path_name : yield(:title)
          .col-md-2.takeoff-padding
            .navbar-custom-menu
              %ul.nav.navbar-nav
                / User Account: style can be found in dropdown.less
                - if current_user.present?
                  %li.dropdown.user.user-menu
                    %a.dropdown-toggle.btn.btn-xs.btn-success{ 'data-toggle' => 'dropdown', href: '#' }
                      %img.user-image{ src: asset_path('logo.jpg') }
                        %span.hidden-xs= current_user.email
                    %ul.dropdown-menu
                      / User image
                      %li.user-header
                        %h4= current_user.person.full_name if current_user.person.present?
                      / Menu Body
                      / Before this check if the current user is an administrator
                      %li.user-body
                        .col-xs-12.text-center
                          %a.btn.btn-warning.fa.fa-gears{ href: '/admin',
                            title: 'Opciones de Administrador' } Administrador
                      / Menu Footer
                      %li.user-footer
                        -# .pull-left
                        -#   %a.btn.btn-primary.fa.fa-user{:href => "#"} Perfil
                        #log-out.pull-right
                          %a.btn.btn-danger.fa.fa-sign-out{ href: '#', title: 'Salir del Sistema' } Salir
                - else
                  %li.dropdown.user.user-menu
                    %a.dropdown-toggle.btn.btn-xs.btn-success{ 'data-toggle' => 'dropdown', href: '#'}
                      %img.user-image{ src: image_path('sign_in.png') }
                        %span.hidden-xs Ingreso al Sistema
                    %ul.dropdown-menu
                      / User image
                      / Menu Body
                      / Before this check if the current user is an administrator
                      / Menu Footer
                      %li.user-footer
                        = form_tag user_session_path, remote: true, id: 'user-form' do
                          = label_tag 'Usuario'
                          = text_field_tag 'user[email]', nil, class: 'form-control', type: :email, placeholder: 'Ingrese email'
                          = label_tag 'Contraseña'
                          = password_field_tag 'user[password]', nil, class: 'form-control', placeholder: 'Ingrese contraseña'
                          //= check_box_tag 'user[remember_me]'
                          //= label_tag 'user[remember_me]', 'Remember me'
                          %span.pull-right{ style: 'padding-top: 10px' }
                            %button.btn.btn-success#log-in{ type: 'submit' } Entrar
                          //= link_to "Olvidaste la contraseña?", new_password_path(:usuario)

    / ===============================================
    / Left side column. contains the sidebar
    %aside.main-sidebar
      / sidebar: style can be found in sidebar.less
      %section.sidebar
        / sidebar menu: : style can be found in sidebar.less
        %ul.sidebar-menu
          %li.header.center Navegación Principal
          %li.treeview
            %a{:href => "#"}
              %i.fa.fa-tags
              %span Mesa de entradas
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ href: despachos_path }
                  %i.fa.fa-circle-o
                  Despachos
              %li
                %a{ href: condonacions_path }
                  %i.fa.fa-circle-o
                  Condonaciones
              %li
                %a{ href: particulars_path }
                  %i.fa.fa-circle-o
                  Peticiones Particulares
              %li
                %a{ href: proyectos_path }
                  %i.fa.fa-circle-o
                  Proyectos
              %li
                %a{ href: comunicacion_oficials_path }
                  %i.fa.fa-circle-o
                  Comunicaciones Oficiales
              %hr{ style: 'border:1px dotted #222d32; width:200px; margin-top: 1px; margin-bottom: 1px' }
              %li
                %a{ href: reports_mesa_de_entradas_path }
                  %i.fa.fa-th-list
                  Reportes
              %li
                %a{ href: statitics_mesa_de_entradas_path }
                  %i.fa.fa-bar-chart
                  Estadísticas
          %li.treeview
            %a{ href: '#' }
              %i.fa.fa-file-text-o
              %span= t '.expedientes'
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ href: expedientes_path }
                  %i.fa.fa-circle-o
                  = t '.expediente.legislativo'
              - if current_user.present?
                %li
                  %a{ href: pendientes_path }
                    %i.fa.fa-circle-o
                    = t '.expediente.pendientes'
              %hr{ style: "border:1px dotted #222d32; width:200px; margin-top: 1px; margin-bottom: 1px" }
              %li
                %a{ href: reports_expedientes_path }
                  %i.fa.fa-th-list
                  Reportes
              %li
                %a{ href: statitics_expedientes_path }
                  %i.fa.fa-bar-chart
                  Estadísticas
          %li.treeview
            %a{ href: '#' }
              %i.fa.fa-bank
              %span= t '.normas'
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ href: declaracions_path }
                  %i.fa.fa-circle-o
                  = t '.norma.declaracion'
              %li
                %a{ href: decretos_path }
                  %i.fa.fa-circle-o
                  = t '.norma.decreto'
              %li
                %a{ href: especials_path }
                  %i.fa.fa-circle-o
                  = t '.norma.especiales'
              %li
                %a{ href: ordenanzas_path }
                  %i.fa.fa-circle-o
                  = t '.norma.ordenanza'
              %li
                %a{ href: otra_normas_path }
                  %i.fa.fa-circle-o
                  = t '.norma.otras'
              %li
                %a{ href: resolucions_path }
                  %i.fa.fa-circle-o
                  = t '.norma.resolucion'
              %hr{ style: 'border:1px dotted #222d32; width:200px; margin-top: 1px; margin-bottom: 1px' }
              %li
                %a{ href: reports_normas_path }
                  %i.fa.fa-th-list
                  Reportes
              %li
                %a{ href: statitics_normas_path }
                  %i.fa.fa-bar-chart
                  Estadísticas
          %li.treeview
            %a{ href: '#' }
              %i.fa.fa-user
              %span Personas
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ href: persons_path }
                  %i.fa.fa-circle-o
                  Físicas y Jurídicas
          %li.treeview
            %a{ href: '#' }
              %i.fa.fa-align-center
              %span Autoridades
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ href: '#concejal' }
                  %i.fa.fa-circle-o
                  Concejales
              %li
                %a{ href: '#comision' }
                  %i.fa.fa-circle-o
                  Comisiones
              %li
                %a{ href: '#bloque' }
                  %i.fa.fa-circle-o
                  Bloques
          %li.header.center Configuración de sistema
          %li.treeview
            %a{:href => "#"}
              %i.fa.fa-users
              %span Usuarios
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ href: '#users' }
                  %i.fa.fa-circle-o
                  Ver Usuarios
      / /.sidebar
    / ===============================================
    / Contains page content
    .content-wrapper
      / Main content
      %section.content
        = yield
    / /.content-wrapper
    %footer.main-footer
      .pull-right.hidden-xs
        %b Version
        0.0.1
      %strong
        Copyright &copy; 2016
        = succeed '.' do
          %a{ href: '#' } Abella - Gasparrini
      All rights reserved.
  / ./wrapper

:javascript

$(document).on('ready', function() {

  $(document).on('ajax:success', '#user-form', function() {
    window.location.reload();
  });

  $(document).on('ajax:error', '#user-form', function() {
    swal({
      title: 'Email o contraseña NO válidos',
      text: 'Por favor, intente nuevamente',
      type: 'error'
    });
  });

  $('#log-out').on('click', function(e) {
    $.ajax({
      url: '/users/sign_out',
      type: 'DELETE',
      success: function() { window.location.reload() }
    });
  });
});
