%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li.header.text-center= t '.main_navigation'
      %li.treeview
        %a{:href => "#"}
          %i.fa.fa-tags.fa-lg
          %span= t '.reception'
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            %a{ href: procedures_path }
              %i.fa.fa-circle-o
              = t '.all_processes'
          %li
            %a{ href: new_procedure_path }
              %i.fa.fa-circle-o
              = t '.new_process'
          %li
            %a{ href: '#' }
              %i.fa.fa-circle-o
              = t '.edit_process'
          %li
            %a{ href: '#' }
              %i.fa.fa-circle-o
              = t '.show_process'

      -#     %hr{ style: 'border:1px dotted #222d32; width:200px; margin-top: 1px; margin-bottom: 1px' }
      -#     %li
      -#       %a{ href: statitics_mesa_de_entradas_path }
      -#         %i.fa.fa-bar-chart
      -#         = t '.statistics'

      -# %li.treeview
      -#   %a{ href: '#' }
      -#     %i.fa.fa-file-text-o
      -#     %span= t '.expedientes'
      -#     %i.fa.fa-angle-left.pull-right
      -#   %ul.treeview-menu
      -#     %li
      -#       %a{ href: expedientes_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.expediente.legislativo'
      -#     - if current_user.present?
      -#       %li
      -#         %a{ href: pendientes_path }
      -#           %i.fa.fa-circle-o
      -#           = t '.expediente.pendientes'
      -#     %hr{ style: "border:1px dotted #222d32; width:200px; margin-top: 1px; margin-bottom: 1px" }
      -#     %li
      -#       %a{ href: reports_expedientes_path }
      -#         %i.fa.fa-th-list
      -#         = t '.reports'
      -#     %li
      -#       %a{ href: statitics_expedientes_path }
      -#         %i.fa.fa-bar-chart
      -#         = t '.statistics'
      -# %li.treeview
      -#   %a{ href: '#' }
      -#     %i.fa.fa-bank
      -#     %span= t '.normas'
      -#     %i.fa.fa-angle-left.pull-right
      -#   %ul.treeview-menu
      -#     %li
      -#       %a{ href: declaracions_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.norma.declaracion'
      -#     %li
      -#       %a{ href: decretos_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.norma.decreto'
      -#     %li
      -#       %a{ href: especials_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.norma.especiales'
      -#     %li
      -#       %a{ href: ordenanzas_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.norma.ordenanza'
      -#     %li
      -#       %a{ href: otra_normas_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.norma.otras'
      -#     %li
      -#       %a{ href: resolucions_path }
      -#         %i.fa.fa-circle-o
      -#         = t '.norma.resolucion'
      -#     %hr{ style: 'border:1px dotted #222d32; width:200px; margin-top: 1px; margin-bottom: 1px' }
      -#     %li
      -#       %a{ href: reports_normas_path }
      -#         %i.fa.fa-th-list
      -#         Reportes
      -#     %li
      -#       %a{ href: statitics_normas_path }
      -#         %i.fa.fa-bar-chart
      -#         Estadísticas
      -# %li.treeview
      -#   %a{ href: '#' }
      -#     %i.fa.fa-user
      -#     %span Iniciadores
      -#     %i.fa.fa-angle-left.pull-right
      -#   %ul.treeview-menu
      -#     %li
      -#       %a{ href: persons_path }
      -#         %i.fa.fa-circle-o
      -#         Personas Físicas y Jurídicas
      -#     %li
      -#       %a{ href: government_offices_path }
      -#         %i.fa.fa-circle-o
      -#         Reparticiones oficiales
      -#     %li
      -#       %a{ href: municipal_offices_path }
      -#         %i.fa.fa-circle-o
      -#         Dependencias municipales
      -#     %li
      -#       %a{ href: councilors_path }
      -#         %i.fa.fa-circle-o
      -#         Concejales
      -#     %li
      -#       %a{ href: government_organs_path }
      -#         %i.fa.fa-circle-o
      -#         Órganos de gobierno

      -# %li.treeview
      -#   %a{ href: '#' }
      -#     %i.fa.fa-align-center
      -#     %span Autoridades
      -#     %i.fa.fa-angle-left.pull-right
      -#   %ul.treeview-menu
      -#     %li
      -#       %a{ href: '#concejal' }
      -#         %i.fa.fa-circle-o
      -#         Concejales
      -#     %li
      -#       %a{ href: '#comision' }
      -#         %i.fa.fa-circle-o
      -#         Comisiones
      -#     %li
      -#       %a{ href: '#bloque' }
      -#         %i.fa.fa-circle-o
      -#         Bloques
      - if policy(:configurations).all?
        %li.header.text-center Configuración de sistema
        %li.treeview
          %a{:href => "#"}
            %i.fa.fa-users.fa-lg
            %span= t '.users'
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              %a{ href: users_path }
                %i.fa.fa-circle-o
                = t '.all_users'
            %li
              %a{ href: new_user_path }
                %i.fa.fa-circle-o
                = t '.new_user'
            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o
                = t '.edit_user'
            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o
                = t '.show_user'

        -# %li.treeview
        -#   %a{:href => "#"}
        -#     %i.fa.fa-calendar
        -#     %span Periodos
        -#     %i.fa.fa-angle-left.pull-right
        -#   %ul.treeview-menu
        -#     %li
        -#       %a{ href: '#' }
        -#         %i.fa.fa-circle-o
        -#         Ver Periodos

        %li.treeview
          %a{ href: "#"}
            %i.fa.fa-gear.fa-lg
            %span= t '.roles'
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              %a{ href: roles_path }
                %i.fa.fa-circle-o
                = t '.all_roles'
            %li
              %a{ href: new_role_path }
                %i.fa.fa-circle-o
                = t '.new_rol'
            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o
                = t '.edit_rol'
            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o
                = t '.show_rol'
